Repository tenstorrent/tt-mlir, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nsmithtt, @vwellsTT, @jnie-TT, @vmilosevic, @tapspatel, @sdjordjevicTT, @tt-mpantic, @jmcgrathTT, @nsumrakTT, @mtopalovicTT, @ctodTT, @vprajapati-tt, @vcanicTT, @vtangTT, @mrakitaTT, @mmanzoorTT, @wooseokTT, @azecevicTT, @nsmithTT, @svuckovicTT, @jserbedzijaTT, @vroubtsovTT, @odjuricicTT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @ddilbazTT

WIP
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTIR/IR/TTIROpsInterfaces.td
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  lib/Dialect/TTIR/Transforms/CMakeLists.txt
  lib/Dialect/TTIR/Transforms/EraseInverseOps.cpp
  lib/Dialect/TTNN/Pipelines/TTNNPipelines.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @nsmithtt, @vroubtsovTT, @jnie-TT

Commute through implicit broadcast WIP
  lib/Dialect/TTIR/Transforms/EraseInverseOps.cpp
Owners: @nsmithtt, @vroubtsovTT

Special case conv weights for flattend conv too
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT

Add patterns to erase back to back TMs. Add a test for commuting a permute up through an eltwise binary. Add a test showcasing that the permute ops between convolutions are erased.
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTIR/IR/TTIROpsInterfaces.td
  include/ttmlir/Dialect/TTNN/Pipelines/TTNNPipelines.h
  lib/Dialect/TTIR/Transforms/EraseInverseOps.cpp
  lib/Dialect/TTNN/Pipelines/TTNNPipelines.cpp
  test/ttmlir/Dialect/TTIR/erase_inverse_ops/basic_eltwise_binary_commute.mlir
  test/ttmlir/Dialect/TTIR/erase_inverse_ops/erase_permute_between_conv2d.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @nsmithtt, @vroubtsovTT, @jnie-TT

Commute eltwise unary upwards when all users of the eltwise are an identical TM
  lib/Dialect/TTIR/Transforms/EraseInverseOps.cpp
  test/ttmlir/Dialect/TTIR/erase_inverse_ops/basic_eltwise_unary_commute.mlir
Owners: @nsmithtt, @vroubtsovTT, @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

WIP
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTIR/Transforms/EraseInverseOps.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @nsmithtt, @vroubtsovTT

Enable Conv2D
  include/ttmlir/Conversion/TTNNToEmitC/EmitCConversion.h
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
  test/ttmlir/EmitC/TTNN/conv/conv2d.mlir
Owners: @svuckovicTT, @sdjordjevicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

fix typo
  include/ttmlir/Conversion/TTNNToEmitC/EmitCConversion.h
Owners: @svuckovicTT, @sdjordjevicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

.github/CODEOWNERS:

# Misc
/env/ @nsmithtt @vwellsTT
*.fbs @jnie-TT @nsmithtt
/.github/CODEOWNERS @vmilosevic @tapspatel @nsmithtt @sdjordjevicTT @tt-mpantic

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT

# Build
*.cmake @nsmithtt @mtopalovicTT @vwellsTT
*.txt @nsmithtt @mtopalovicTT  @vwellsTT

# Docs
*.md @nsmithtt @sdjordjevicTT
/docs/ @nsmithtt @sdjordjevicTT

# tt-mlir Bindings
/include/ttmlir/Bindings/ @ctodTT @tapspatel @vprajapati-tt @vcanicTT
/include/ttmlir-c/ @ctodTT @tapspatel @vprajapati-tt @vcanicTT
/lib/CAPI/ @ctodTT @tapspatel @vprajapati-tt @vcanicTT
/python/ @ctodTT @tapspatel @vprajapati-tt @vcanicTT
/python/pykernel/ @vtangTT

# StableHLO Conversion
/include/ttmlir/Conversion/ArithToStableHLO/ @mrakitaTT @mmanzoorTT @wooseokTT @azecevicTT
/include/ttmlir/Conversion/StableHLOToTTIR/ @mrakitaTT @mmanzoorTT @wooseokTT @azecevicTT
/lib/Conversion/StableHLOToTTIR/ @mrakitaTT @mmanzoorTT @wooseokTT @azecevicTT
/test/ttmlir/Conversion/ArithToStableHLO/ @mrakitaTT @mmanzoorTT @wooseokTT @azecevicTT
/test/ttmlir/Conversion/StableHLOToTTIR/ @mrakitaTT @mmanzoorTT @wooseokTT @azecevicTT
/test/ttmlir/Silicon/StableHLO/ @mrakitaTT @mmanzoorTT @wooseokTT @azecevicTT

# Linalg Conversion
/include/ttmlir/Conversion/TTIRToLinalg/ @vwellsTT @ctodTT @nsmithTT
/lib/Conversion/TTIRToLinalg/ @vwellsTT @ctodTT @nsmithTT
/test/ttmlir/Conversion/TTIRToLinalg/ @vwellsTT @ctodTT @nsmithTT

# Tosa Conversion
/include/ttmlir/Conversion/TosaToTTIR/ @mrakitaTT
/lib/Conversion/TosaToTTIR/ @mrakitaTT
/test/ttmlir/Conversion/TosaToTTIR/ @mrakitaTT

# TTNN Conversions
/include/ttmlir/Conversion/TTIRToTTIRDecomposition/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/include/ttmlir/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Conversion/TTIRToTTIRDecomposition/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Conversion/TTIRToTTNN/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/test/ttmlir/Conversion/TTIRToTTIRDecomposition/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/test/ttmlir/Conversion/TTIRToTTNN/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/test/ttmlir/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/test/ttmlir/EmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT

# Metal Conversions
/include/ttmlir/Conversion/TTIRToTTMetal/ @nsmithtt @vroubtsovTT
/include/ttmlir/Conversion/TTKernelToEmitC/ @nsmithtt @vroubtsovTT
/lib/Conversion/TTIRToTTMetal/ @nsmithtt @vroubtsovTT
/lib/Conversion/TTKernelToEmitC/ @nsmithtt @vroubtsovTT
/test/ttmlir/Conversion/TTKernelToEmitC/ @nsmithtt @vroubtsovTT

# LLVM Dialect
/include/ttmlir/Dialect/LLVM/ @vwellsTT @mtopalovicTT
/lib/Dialect/LLVM/ @vwellsTT @mtopalovicTT
/test/ttmlir/Dialect/LLVM/ @vwellsTT @mtopalovicTT

# TT Dialect
/include/ttmlir/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/test/ttmlir/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT

# TTIR Dialect
/include/ttmlir/Dialect/TTIR/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTIR/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/test/ttmlir/Dialect/TTIR/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT

# Metal Dialects
/include/ttmlir/Dialect/TTIR/IR/TTIRGeneric* @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTIR/Transforms/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/test/ttmlir/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/test/ttmlir/Dialect/TTMetal/ @nsmithtt @vroubtsovTT

# TTNN Dialects
/include/ttmlir/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/test/ttmlir/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT

# TTNN Optimizer
/include/ttmlir/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/include/ttmlir/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/include/ttmlir/Scheduler/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/Scheduler/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/ttmlir/Dialect/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/ttmlir/Silicon/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/Optimizer @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/OpModel @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/TestScheduler/ @odjuricicTT @tt-mpantic @sdjordjevicTT

# LLVM Target
/include/ttmlir/Target/LLVM/ @vwellsTT @mtopalovicTT
/lib/Target/LLVM/ @vwellsTT @mtopalovicTT

# Metal Target
/include/ttmlir/Target/TTKernel/ @nsmithtt @vroubtsovTT
/include/ttmlir/Target/TTMetal/ @nsmithtt @vroubtsovTT
/lib/Target/TTKernel/ @nsmithtt @vroubtsovTT
/lib/Target/TTMetal/ @nsmithtt @vroubtsovTT

# TTNN Target
/include/ttmlir/Target/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Target/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT

# Runtime
/runtime/ @jnie-TT @kmabeeTT @AleksKnezevic @pilkicTT
/runtime/tools/ @tapspatel @ctodTT

# TTIRBuilder
/python/test_infra @ctodTT @tapspatel

# tt-explorer
/tools/explorer/ @odjuricicTT @tt-mpantic @sdjordjevicTT @vprajapati-tt @vcanicTT @tapspatel

# ttnn-standalone
/tools/ttnn-standalone @svuckovicTT @mtopalovicTT @sdjordjevicTT @azecevicTT @jserbedzijaTT

# Scripts
/tools/scripts/ @nsmithtt @ddilbazTT
