Repository tenstorrent/tt-mlir, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nsmithtt, @sdjordjevicTT, @tapspatel, @vmilosevic, @tt-mpantic, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT, @mrakitaTT, @vroubtsovTT, @odjuricicTT, @vprajapati-tt, @vcanicTT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Memory config validation and adding memory config attribute to concat op (#2142)
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.h
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOpsAttrs.td
  include/ttmlir/Dialect/TTNN/IR/TTNNTraits.h
  include/ttmlir/Dialect/TTNN/IR/TTNNTraits.td
  include/ttmlir/Target/TTNN/program.fbs
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTNN/IR/TTNNOpsAttrs.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/operations/data_movement/concat.cpp
  test/ttmlir/Dialect/TTIR/data_movement/concat/concat_tests_negative.mlir
  test/ttmlir/Dialect/TTNN/data_movement/concat/concat_tests_negative.mlir
  test/ttmlir/Dialect/TTNN/data_movement/to_memory_config/to_memory_config_tests_negative.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @tapspatel, @nsmithtt, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Added Accuracy Overlay + Some Tests
  tools/explorer/test/run_tests.py
  tools/explorer/tt_adapter/src/tt_adapter/main.py
  tools/explorer/tt_adapter/src/tt_adapter/mlir.py
  tools/explorer/tt_adapter/src/tt_adapter/runner.py
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @vprajapati-tt, @vcanicTT

Clean
  python/TTNNModule.cpp
Owners: @nsmithtt, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT

Revert "Memory config validation and adding memory config attribute to concat…"
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.h
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOpsAttrs.td
  include/ttmlir/Dialect/TTNN/IR/TTNNTraits.h
  include/ttmlir/Dialect/TTNN/IR/TTNNTraits.td
  include/ttmlir/Target/TTNN/program.fbs
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTNN/IR/TTNNOpsAttrs.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/operations/data_movement/concat.cpp
  test/ttmlir/Dialect/TTIR/data_movement/concat/concat_tests_negative.mlir
  test/ttmlir/Dialect/TTNN/data_movement/concat/concat_tests_negative.mlir
  test/ttmlir/Dialect/TTNN/data_movement/to_memory_config/to_memory_config_tests_negative.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @tapspatel, @nsmithtt, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Disable ttnn.concat negative test
  test/ttmlir/Dialect/TTNN/data_movement/concat/concat_tests_negative.mlir
Owners: none

Disable ttnn.concat negative test (#2192)
  test/ttmlir/Dialect/TTNN/data_movement/concat/concat_tests_negative.mlir
Owners: none

make release tag discovery more robust (#2170)
  .github/actions/build-tt-mlir-action/action.yaml
  cmake/modules/TTMLIRVersion.cmake
Owners: @vmilosevic, @tapspatel, @nsmithtt, @sdjordjevicTT

Add workaround for strided slice operation
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNWorkarounds.h
  lib/Dialect/TTNN/IR/TTNNWorkarounds.cpp
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
  test/ttmlir/Dialect/TTNN/Transforms/Workarounds/slice_workaround.mlir
  test/ttmlir/Silicon/StableHLO/n150/slice_op.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

Remove maxpool2d preshard workaround
  runtime/include/tt/runtime/detail/workarounds.h
  runtime/lib/common/workarounds.cpp
  runtime/lib/ttnn/operations/pool/maxpool2d.cpp
  runtime/tools/python/test/test_run.py
  runtime/tools/python/ttrt/common/run.py
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @tapspatel, @nsmithtt

Add llama and resnet emitc tests
  include/ttmlir/Dialect/TTNN/Utils/TransformUtils.h
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
  lib/Dialect/TTNN/Transforms/Passes.cpp
  lib/Dialect/TTNN/Utils/TransformUtils.cpp
  test/ttmlir/EmitC/TTNN/models/llama_prefill.mlir
  test/ttmlir/EmitC/TTNN/models/resnet.mlir
  test/ttmlir/EmitC/TTNN/tensor/repeat_interleave.mlir
  tools/ttnn-standalone/ci_compile_dylib.py
  tools/ttnn-standalone/ttnn-precompiled.hpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

Add llama and resnet emitc tests (#2144)
  include/ttmlir/Dialect/TTNN/Utils/TransformUtils.h
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
  lib/Dialect/TTNN/Transforms/Passes.cpp
  lib/Dialect/TTNN/Utils/TransformUtils.cpp
  test/ttmlir/EmitC/TTNN/models/llama_prefill.mlir
  test/ttmlir/EmitC/TTNN/models/resnet.mlir
  test/ttmlir/EmitC/TTNN/tensor/repeat_interleave.mlir
  tools/ttnn-standalone/ci_compile_dylib.py
  tools/ttnn-standalone/ttnn-precompiled.hpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

Cleanup runtime includes, separate types.cpp and utils.cpp, add testing library that includes testing utils and emitc dylib APIs isolated under runtime/test/ttnn
  runtime/CMakeLists.txt
  runtime/lib/ttnn/CMakeLists.txt
  runtime/lib/ttnn/operations/CMakeLists.txt
  runtime/lib/ttnn/types/CMakeLists.txt
  runtime/lib/ttnn/types/types.cpp
  runtime/lib/ttnn/utils/CMakeLists.txt
  runtime/lib/ttnn/utils/utils.cpp
  runtime/test/CMakeLists.txt
  runtime/test/include/tt/runtime/ttnn/test/dylib.h
  runtime/test/include/tt/runtime/ttnn/test/utils.h
  runtime/test/ttnn/CMakeLists.txt
  runtime/test/ttnn/dylib.cpp
  runtime/test/ttnn/gtest/CMakeLists.txt
  runtime/test/ttnn/gtest/test_subtract.cpp
  runtime/test/ttnn/utils.cpp
  runtime/tools/python/setup.py
  runtime/tools/python/ttrt/runtime/module.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @tapspatel, @nsmithtt

Add workaround for strided slice operation (#2153)
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNWorkarounds.h
  lib/Dialect/TTNN/IR/TTNNWorkarounds.cpp
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
  test/ttmlir/Dialect/TTNN/Transforms/Workarounds/slice_workaround.mlir
  test/ttmlir/Silicon/StableHLO/n150/slice_op.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

Cleanup runtime build (#2191)
  runtime/CMakeLists.txt
  runtime/lib/ttnn/CMakeLists.txt
  runtime/lib/ttnn/operations/CMakeLists.txt
  runtime/lib/ttnn/types/CMakeLists.txt
  runtime/lib/ttnn/types/types.cpp
  runtime/lib/ttnn/utils/CMakeLists.txt
  runtime/lib/ttnn/utils/utils.cpp
  runtime/test/CMakeLists.txt
  runtime/test/include/tt/runtime/ttnn/test/dylib.h
  runtime/test/include/tt/runtime/ttnn/test/utils.h
  runtime/test/ttnn/CMakeLists.txt
  runtime/test/ttnn/dylib.cpp
  runtime/test/ttnn/gtest/CMakeLists.txt
  runtime/test/ttnn/gtest/test_subtract.cpp
  runtime/test/ttnn/utils.cpp
  runtime/tools/python/setup.py
  runtime/tools/python/ttrt/runtime/module.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @tapspatel, @nsmithtt

Where op workaround
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNWorkarounds.h
  lib/Dialect/TTNN/IR/TTNNWorkarounds.cpp
  test/ttmlir/Dialect/TTNN/Transforms/Workarounds/where_workaround.mlir
  test/ttmlir/Silicon/StableHLO/n150/select_op.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

Uplift llvm and stablehlo
  CMakeLists.txt
  env/CMakeLists.txt
  include/ttmlir/Conversion/ArithToStableHLO/ArithToStableHLO.h
  include/ttmlir/Conversion/CMakeLists.txt
  include/ttmlir/Conversion/Passes.h
  include/ttmlir/Conversion/Passes.td
  include/ttmlir/Conversion/StableHLOToTTIR/ShardingUtils.h
  include/ttmlir/Conversion/StableHLOToTTIR/StableHLOToTTIR.h
  include/ttmlir/Dialect/TTIR/Pipelines/TTIRPipelines.h
  lib/CMakeLists.txt
  lib/Conversion/CMakeLists.txt
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPass.cpp
  lib/Conversion/TTIRToTTMetal/AttachMetalLayout.cpp
  lib/Conversion/TTKernelToEmitC/TTKernelToEmitC.cpp
  lib/Dialect/TT/IR/TTOpsTypes.cpp
  lib/Dialect/TTIR/Pipelines/CMakeLists.txt
  lib/Dialect/TTIR/Pipelines/TTIRPipelines.cpp
  lib/Dialect/TTIR/Transforms/Broadcast.cpp
  lib/Dialect/TTIR/Transforms/Constant.cpp
  lib/Dialect/TTIR/Transforms/Generic.cpp
  lib/Dialect/TTIR/Transforms/Layout.cpp
  lib/Dialect/TTNN/Transforms/Passes.cpp
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
  lib/Dialect/TTNN/Transforms/Workarounds/TTNNWorkarounds.cpp
  lib/Dialect/TTNN/Utils/Utils.cpp
  lib/RegisterAll.cpp
  lib/SharedLib/CMakeLists.txt
  test/lit.site.cfg.py.in
Owners: @nsmithtt, @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

mark failing v0 tests UNSUPPORTED
  include/ttmlir/Dialect/TTMetal/Pipelines/TTMetalPipelines.h
  test/ttmlir/Silicon/TTMetal/n150/perf/test_perf_add.mlir
  test/ttmlir/Silicon/TTMetal/n150/perf/test_perf_div.mlir
  test/ttmlir/Silicon/TTMetal/n150/perf/test_perf_exp.mlir
  test/ttmlir/Silicon/TTMetal/n150/perf/test_perf_max.mlir
  test/ttmlir/Silicon/TTMetal/n150/perf/test_perf_multiply.mlir
  test/ttmlir/Silicon/TTMetal/n150/simple_constant.mlir
  test/ttmlir/Silicon/TTMetal/n150/simple_eltwise.mlir
  test/ttmlir/Silicon/TTMetal/n150/simple_max.mlir
  test/ttmlir/Silicon/TTMetal/n150/simple_reduce_1x1.mlir
Owners: @nsmithtt, @vroubtsovTT

TTRT incremental build fix (#2188)
  runtime/tools/python/CMakeLists.txt
Owners: @tapspatel, @nsmithtt

attempt to disable ttmetal target in test_perf_max.mlir
  test/python/golden/test_ttir_ops.py
Owners: none

fix python formatting
  test/python/golden/test_ttir_ops.py
Owners: none

mark failing v0 tests UNSUPPORTED (#2197)
  include/ttmlir/Dialect/TTMetal/Pipelines/TTMetalPipelines.h
  test/python/golden/test_ttir_ops.py
  test/ttmlir/Silicon/TTMetal/n150/perf/test_perf_add.mlir
  test/ttmlir/Silicon/TTMetal/n150/perf/test_perf_div.mlir
  test/ttmlir/Silicon/TTMetal/n150/perf/test_perf_exp.mlir
  test/ttmlir/Silicon/TTMetal/n150/perf/test_perf_max.mlir
  test/ttmlir/Silicon/TTMetal/n150/perf/test_perf_multiply.mlir
  test/ttmlir/Silicon/TTMetal/n150/simple_constant.mlir
  test/ttmlir/Silicon/TTMetal/n150/simple_eltwise.mlir
  test/ttmlir/Silicon/TTMetal/n150/simple_max.mlir
  test/ttmlir/Silicon/TTMetal/n150/simple_reduce_1x1.mlir
Owners: @nsmithtt, @vroubtsovTT

Fix macOS build; other cmake cleanup
  CMakeLists.txt
  cmake/modules/CMakeLists.txt
  env/CMakeLists.txt
  lib/CAPI/CMakeLists.txt
  lib/CMakeLists.txt
  lib/Conversion/CMakeLists.txt
  lib/Conversion/StableHLOToTTIR/CMakeLists.txt
  lib/Conversion/TTIRToLinalg/CMakeLists.txt
  lib/Conversion/TTIRToTTIRDecomposition/CMakeLists.txt
  lib/Conversion/TTIRToTTMetal/CMakeLists.txt
  lib/Conversion/TTIRToTTNN/CMakeLists.txt
  lib/Conversion/TTKernelToEmitC/CMakeLists.txt
  lib/Conversion/TTNNToEmitC/CMakeLists.txt
  lib/Conversion/TosaToTTIR/CMakeLists.txt
  lib/Dialect/TTIR/Pipelines/CMakeLists.txt
  lib/Dialect/TTMetal/Pipelines/CMakeLists.txt
  lib/Dialect/TTNN/CMakeLists.txt
  lib/Dialect/TTNN/IR/CMakeLists.txt
  lib/Dialect/TTNN/Pipelines/CMakeLists.txt
  lib/Dialect/TTNN/Transforms/CMakeLists.txt
  lib/Scheduler/CMakeLists.txt
  lib/SharedLib/CMakeLists.txt
  lib/SharedLib/empty.cpp
  lib/Target/LLVM/CMakeLists.txt
  lib/Target/TTKernel/CMakeLists.txt
  python/CMakeLists.txt
  runtime/CMakeLists.txt
  runtime/lib/CMakeLists.txt
  runtime/test/CMakeLists.txt
  runtime/test/include/tt/runtime/ttnn/test/CMakeLists.txt
  runtime/tools/python/CMakeLists.txt
  runtime/tools/python/setup.py
  test/CMakeLists.txt
  test/unittests/Optimizer/CMakeLists.txt
  test/unittests/TestScheduler/CMakeLists.txt
  third_party/CMakeLists.txt
  tools/ttmlir-lsp-server/CMakeLists.txt
  tools/ttmlir-opt/CMakeLists.txt
  tools/ttmlir-translate/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @mrakitaTT, @vroubtsovTT, @jnie-TT, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @tt-mpantic

Add tt tile ops and generic parent verifier
  include/ttmlir/Dialect/TTIR/IR/CMakeLists.txt
  include/ttmlir/Dialect/TTIR/IR/TTIRBase.td
  include/ttmlir/Dialect/TTIR/IR/TTIROps.h
  include/ttmlir/Dialect/TTIR/IR/TTIRTileOps.h
  include/ttmlir/Dialect/TTIR/IR/TTIRTileOps.td
  include/ttmlir/Dialect/TTIR/IR/TTIRTraits.h
  lib/Dialect/TTIR/IR/CMakeLists.txt
  lib/Dialect/TTIR/IR/TTIRDialect.cpp
  lib/Dialect/TTIR/IR/TTIROpsInterfaces.cpp
  lib/Dialect/TTIR/IR/TTIRTileOps.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

NOCOMMIT hack remove HasParent trait
  include/ttmlir/Dialect/TTIR/IR/TTIRTileOps.td
  include/ttmlir/Dialect/TTIR/Transforms/Passes.h
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Prerequisite changes for d2m new lowering
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  lib/Conversion/TTIRToTTMetal/AttachMetalLayout.cpp
  lib/Dialect/TTIR/Transforms/Generic.cpp
  lib/Dialect/TTIR/Transforms/Layout.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT

Generic op linalg lowering
  include/ttmlir/Dialect/TTIR/IR/TTIRTileOps.td
  include/ttmlir/Utils.h
  lib/Dialect/TTIR/Transforms/Generic.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Generic region to loops
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  lib/Dialect/TTIR/Transforms/Generic.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
  lib/RegisterAll.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT

Bufferization pass
  include/ttmlir/Dialect/TTIR/IR/TTIROps.h
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT

Support multiple regions
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Conversion/TTIRToTTMetal/TTIRToTTMetal.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTIR/Transforms/Generic.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

rm some d2m v0 passes, rm TT_BufferAccess
  include/ttmlir/Dialect/TT/IR/TTOpsEnums.td
  include/ttmlir/Dialect/TT/IR/TTOpsTypes.td
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  lib/Conversion/TTIRToTTMetal/TTIRToTTMetal.cpp
  lib/Dialect/TT/IR/TTOpsTypes.cpp
  lib/Dialect/TTIR/Transforms/CMakeLists.txt
  lib/Dialect/TTIR/Transforms/Generic.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
  test/ttmlir/Dialect/TTIR/test_generic.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT

fix style formatting
  lib/Dialect/TT/IR/TTOpsTypes.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT

TTIR Generic datamovement pass and dma ops
  include/ttmlir/Dialect/TTIR/IR/CMakeLists.txt
  include/ttmlir/Dialect/TTIR/IR/TTIRBase.td
  include/ttmlir/Dialect/TTIR/IR/TTIROps.h
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTIR/IR/TTIROpsTypes.h
  include/ttmlir/Dialect/TTIR/IR/TTIROpsTypes.td
  include/ttmlir/Dialect/TTIR/IR/TTIRTileOps.td
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  lib/Conversion/TTIRToTTMetal/TTIRToTTMetal.cpp
  lib/Dialect/TTIR/IR/CMakeLists.txt
  lib/Dialect/TTIR/IR/TTIRDialect.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTIR/IR/TTIROpsTypes.cpp
  lib/Dialect/TTIR/Transforms/Generic.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
  test/ttmlir/Silicon/TTMetal/simple_matmul.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT

missing UNSUPPORTED in simple_reduce.mlir somehow escape notice in earlier PRs
  test/ttmlir/Silicon/TTMetal/n150/simple_reduce.mlir
Owners: none

restore Generic.cpp as an empty file with stock #includes
  lib/Dialect/TTIR/Transforms/CMakeLists.txt
  lib/Dialect/TTIR/Transforms/Generic.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

fix style and #include formatting
  lib/Dialect/TTIR/Transforms/Generic.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

trailing newline at eof
  lib/Dialect/TTIR/Transforms/Generic.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Prerequisite changes for d2m new lowering
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  lib/Conversion/TTIRToTTMetal/AttachMetalLayout.cpp
  lib/Dialect/TTIR/Transforms/Generic.cpp
  lib/Dialect/TTIR/Transforms/Layout.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT

NOCOMMIT hack remove HasParent trait
  include/ttmlir/Dialect/TTIR/IR/TTIRTileOps.td
  include/ttmlir/Dialect/TTIR/Transforms/Passes.h
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Bufferization pass
  include/ttmlir/Dialect/TTIR/IR/TTIROps.h
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT

Support multiple regions
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Conversion/TTIRToTTMetal/TTIRToTTMetal.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTIR/Transforms/Generic.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

.github/CODEOWNERS:

*.cmake @nsmithtt @sdjordjevicTT
*.fbs @tapspatel @nsmithtt
*.txt @nsmithtt @sdjordjevicTT
*.md @nsmithtt
/docs/ @nsmithtt
/env/ @nsmithtt
/.github/ @vmilosevic @tapspatel
/.github/CODEOWNERS @vmilosevic @tapspatel @nsmithtt @sdjordjevicTT @tt-mpantic
/include/ttmlir/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/include/ttmlir/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/include/ttmlir/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/lib/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/python/ @nsmithtt @tapspatel @odjuricicTT @vprajapati-tt @vcanicTT
/python/test_infra/ @nsmithtt @tapspatel @vprajapati-tt
/runtime/ @jnie-TT @kmabeeTT @AleksKnezevic @pilkicTT
/runtime/tools/ @tapspatel @nsmithtt
/test/ttmlir/Dialect/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/ttmlir/Silicon/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/Optimizer @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/OpModel @odjuricicTT @tt-mpantic @sdjordjevicTT
/tools/ @svuckovicTT @mtopalovicTT
/tools/explorer/ @odjuricicTT @tt-mpantic @sdjordjevicTT @vprajapati-tt @vcanicTT
/tools/ttnn-standalone @svuckovicTT @mtopalovicTT @sdjordjevicTT @azecevicTT @jserbedzijaTT
