Repository tenstorrent/tt-mlir, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nsmithtt, @sdjordjevicTT, @tapspatel, @vmilosevic, @tt-mpantic, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT, @mrakitaTT, @vroubtsovTT, @odjuricicTT, @vprajapati-tt, @vcanicTT, @kmabeeTT, @AleksKnezevic, @pilkicTT

.github/CODEOWNERS:

*.cmake @nsmithtt @sdjordjevicTT
*.fbs @tapspatel @nsmithtt
*.txt @nsmithtt @sdjordjevicTT
*.md @nsmithtt
/docs/ @nsmithtt
/env/ @nsmithtt
/.github/ @vmilosevic @tapspatel
/.github/CODEOWNERS @vmilosevic @tapspatel @nsmithtt @sdjordjevicTT @tt-mpantic
/include/ttmlir/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/include/ttmlir/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/include/ttmlir/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/lib/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/python/ @nsmithtt @tapspatel @odjuricicTT @vprajapati-tt @vcanicTT
/python/test_infra/ @nsmithtt @tapspatel @vprajapati-tt
/runtime/ @jnie-TT @kmabeeTT @AleksKnezevic @pilkicTT
/runtime/tools/ @tapspatel @nsmithtt
/test/ttmlir/Dialect/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/ttmlir/Silicon/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/Optimizer @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/OpModel @odjuricicTT @tt-mpantic @sdjordjevicTT
/tools/ @svuckovicTT @mtopalovicTT
/tools/explorer/ @odjuricicTT @tt-mpantic @sdjordjevicTT @vprajapati-tt @vcanicTT
/tools/ttnn-standalone @svuckovicTT @mtopalovicTT @sdjordjevicTT @azecevicTT @jserbedzijaTT

Fix createLayoutAttr func signature
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT

[Everywhere] Replace `dyn_cast_or_null` with `dyn_cast_if_present`
  include/ttmlir/Target/Utils/FuncOpToProgram.h
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TT/Transforms/TTModuleWrap.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTIR/Transforms/HoistCPUOps.cpp
  lib/Dialect/TTKernel/IR/TTKernelOps.cpp
  lib/Dialect/TTMetal/IR/TTMetalOps.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  lib/Target/TTMetal/TTMetalToFlatbuffer.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @nsmithtt, @mrakitaTT, @vroubtsovTT, @jnie-TT

Remove debug print
  test/unittests/lit.cfg.py
Owners: none

Uplift LLVM and Stablehlo (#2211)
  env/CMakeLists.txt
  include/ttmlir/Dialect/TT/IR/TTOpsTypes.h
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPass.cpp
  lib/Conversion/TTIRToTTMetal/AttachMetalLayout.cpp
  lib/Conversion/TTKernelToEmitC/TTKernelToEmitC.cpp
  lib/Conversion/TosaToTTIR/TosaToTTIRPatterns.cpp
  lib/Dialect/TTIR/Transforms/Broadcast.cpp
  lib/Dialect/TTIR/Transforms/Constant.cpp
  lib/Dialect/TTIR/Transforms/HoistCPUOps.cpp
  lib/Dialect/TTIR/Transforms/Layout.cpp
  lib/Dialect/TTNN/Transforms/Passes.cpp
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
  lib/Dialect/TTNN/Transforms/Workarounds/TTNNWorkarounds.cpp
Owners: @nsmithtt, @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

Add verifier for `TTNNLayoutAttr` (#2244)
  include/ttmlir/Dialect/TTNN/IR/TTNNOpsAttrs.td
  lib/Dialect/TTNN/IR/TTNNOpsAttrs.cpp
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
  test/ttmlir/Dialect/TTNN/data_movement/to_memory_config/to_memory_config_tests_negative.mlir
  test/ttmlir/Dialect/TTNN/layout_encoding.mlir
  test/unittests/OpModel/TTNN/Conversion/TestConversion.cpp
  test/unittests/OpModel/TTNN/OpModelFixture.h
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @jnie-TT, @odjuricicTT, @tt-mpantic

[Everywhere] Replace `dyn_cast_or_null` with `dyn_cast_if_present` (#2260)
  include/ttmlir/Target/Utils/FuncOpToProgram.h
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TT/Transforms/TTModuleWrap.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTIR/Transforms/HoistCPUOps.cpp
  lib/Dialect/TTKernel/IR/TTKernelOps.cpp
  lib/Dialect/TTMetal/IR/TTMetalOps.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  lib/Target/TTMetal/TTMetalToFlatbuffer.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @nsmithtt, @mrakitaTT, @vroubtsovTT, @jnie-TT

Remove TT_TensorMemoryLayout from TTIR Dialect
  include/ttmlir-c/TTAttrs.h
  include/ttmlir/Dialect/TT/IR/TTOpsEnums.td
  include/ttmlir/Dialect/TT/IR/TTOpsTypes.h
  include/ttmlir/Dialect/TT/IR/TTOpsTypes.td
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOpsEnums.td
  include/ttmlir/Dialect/TTNN/Utils/Utils.h
  lib/CAPI/TTAttrs.cpp
  lib/Conversion/TTIRToTTMetal/TTIRToTTMetal.cpp
  lib/Dialect/TT/IR/TTOpsTypes.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTIR/Transforms/Layout.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
  lib/Dialect/TTNN/Utils/Utils.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  python/TTModule.cpp
  test/python/tensor_layout.py
  test/ttmlir/Dialect/TTIR/split_compound_layout.mlir
  test/ttmlir/Dialect/TTIR/test_allocate.mlir
  tools/explorer/tt_adapter/src/tt_adapter/mlir.py
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT, @jnie-TT, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT, @tt-mpantic

Only run clang-tidy on files in the current diff (#2245)
  .github/workflows/build-and-test.yml
  cmake/modules/LintTools.cmake
  tools/scripts/filter-compile-commands.py
Owners: @vmilosevic, @tapspatel, @nsmithtt, @sdjordjevicTT, @svuckovicTT, @mtopalovicTT

Shard llama prefill
  .github/workflows/build-and-test.yml
  include/ttmlir/Dialect/TTNN/Analysis/L1ChainConfig.h
  include/ttmlir/Dialect/TTNN/Analysis/LegalLayoutAnalysis.h
  include/ttmlir/Dialect/TTNN/Analysis/MemoryLayoutAnalysis.h
  include/ttmlir/Dialect/TTNN/Analysis/ShardSolver.h
  include/ttmlir/Dialect/TTNN/IR/TTNNBase.td
  include/ttmlir/Dialect/TTNN/Utils/Utils.h
  lib/Dialect/TTNN/Analysis/DFShardingPolicy.cpp
  lib/Dialect/TTNN/Analysis/L1ChainConfig.cpp
  lib/Dialect/TTNN/Analysis/LegalLayoutAnalysis.cpp
  lib/Dialect/TTNN/Analysis/MemoryLayoutAnalysis.cpp
  lib/Dialect/TTNN/Analysis/ShardSolver.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  lib/Dialect/TTNN/Transforms/Optimizer.cpp
  lib/Dialect/TTNN/Utils/Utils.cpp
  test/lit.cfg.py
  test/lit.site.cfg.py.in
  test/ttmlir/Dialect/TTNN/optimizer/sharding_matmul_override_32.mlir
  test/ttmlir/Silicon/TTNN/n150/optimizer/llama_prefill_single_layer_ttir.mlir
  test/ttmlir/Silicon/TTNN/n150/optimizer/mnist_sharding.mlir
  test/unittests/Optimizer/TestShardSolver.cpp
Owners: @vmilosevic, @tapspatel, @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

Generic op linalg lowering
  include/ttmlir/Dialect/TTIR/IR/TTIRTileOps.td
  include/ttmlir/Utils.h
  lib/Dialect/TTIR/Transforms/Generic.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Prerequisite changes for d2m new lowering
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  lib/Dialect/TTIR/Transforms/Generic.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT

Add view op and layout bufferization
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Conversion/TTIRToTTMetal/TTIRToTTMetal.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTIR/Transforms/Generic.cpp
  lib/Dialect/TTIR/Transforms/HoistCPUOps.cpp
  lib/Dialect/TTIR/Transforms/Layout.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT, @jnie-TT

Bufferization pass
  include/ttmlir/Dialect/TTIR/IR/TTIROps.h
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT

Generic region to loops
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  lib/Dialect/TTIR/Transforms/Generic.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
  lib/RegisterAll.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT

Support multiple regions
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Conversion/TTIRToTTMetal/TTIRToTTMetal.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTIR/Transforms/Generic.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

TTIR Generic datamovement pass and dma ops
  include/ttmlir/Dialect/TTIR/IR/CMakeLists.txt
  include/ttmlir/Dialect/TTIR/IR/TTIRBase.td
  include/ttmlir/Dialect/TTIR/IR/TTIRGenericRegionOps.td
  include/ttmlir/Dialect/TTIR/IR/TTIROps.h
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTIR/IR/TTIROpsTypes.h
  include/ttmlir/Dialect/TTIR/IR/TTIROpsTypes.td
  include/ttmlir/Dialect/TTIR/IR/TTIRTileOps.td
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  lib/Dialect/TTIR/IR/CMakeLists.txt
  lib/Dialect/TTIR/IR/TTIRDialect.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTIR/IR/TTIROpsTypes.cpp
  lib/Dialect/TTIR/Transforms/Generic.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
  test/ttmlir/Silicon/TTMetal/simple_matmul.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT

fix llvm uplift
  lib/Dialect/TTIR/Transforms/Generic.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT

TTIR Generic datamovement pass and dma ops
  include/ttmlir/Dialect/TTIR/IR/CMakeLists.txt
  include/ttmlir/Dialect/TTIR/IR/TTIRBase.td
  include/ttmlir/Dialect/TTIR/IR/TTIRGenericRegionOps.td
  include/ttmlir/Dialect/TTIR/IR/TTIROps.h
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTIR/IR/TTIROpsTypes.h
  include/ttmlir/Dialect/TTIR/IR/TTIROpsTypes.td
  include/ttmlir/Dialect/TTIR/IR/TTIRTileOps.td
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  lib/Dialect/TTIR/IR/CMakeLists.txt
  lib/Dialect/TTIR/IR/TTIRDialect.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTIR/IR/TTIROpsTypes.cpp
  lib/Dialect/TTIR/Transforms/Generic.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
  test/ttmlir/Silicon/TTMetal/simple_matmul.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT

Generic region to loops
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  lib/Dialect/TTIR/Transforms/Generic.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
  lib/RegisterAll.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT

Generic op linalg lowering
  include/ttmlir/Dialect/TTIR/IR/TTIRTileOps.td
  include/ttmlir/Utils.h
  lib/Dialect/TTIR/Transforms/Generic.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Support multiple regions
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Conversion/TTIRToTTMetal/TTIRToTTMetal.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTIR/Transforms/Generic.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Prerequisite changes for d2m new lowering
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  lib/Dialect/TTIR/Transforms/Generic.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT

Bufferization pass
  include/ttmlir/Dialect/TTIR/IR/TTIROps.h
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT

llvm uplift fixes
  lib/Dialect/TTIR/Transforms/Generic.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT

Remove TT_TensorMemoryLayout (#2255)
  include/ttmlir-c/TTAttrs.h
  include/ttmlir/Dialect/TT/IR/TTOpsEnums.td
  include/ttmlir/Dialect/TT/IR/TTOpsTypes.h
  include/ttmlir/Dialect/TT/IR/TTOpsTypes.td
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOpsEnums.td
  include/ttmlir/Dialect/TTNN/Utils/Utils.h
  lib/CAPI/TTAttrs.cpp
  lib/Conversion/TTIRToTTMetal/TTIRToTTMetal.cpp
  lib/Dialect/TT/IR/TTOpsTypes.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTIR/Transforms/Layout.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
  lib/Dialect/TTNN/Utils/Utils.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  python/TTModule.cpp
  test/python/tensor_layout.py
  test/ttmlir/Dialect/TTIR/split_compound_layout.mlir
  test/ttmlir/Dialect/TTIR/test_allocate.mlir
  tools/explorer/tt_adapter/src/tt_adapter/mlir.py
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT, @jnie-TT, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT, @tt-mpantic

Fix ci devices
  .github/workflows/build-and-test.yml
Owners: @vmilosevic, @tapspatel

fix build
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
Owners: @nsmithtt, @vroubtsovTT

TTIR Bufferization pass
  include/ttmlir/Dialect/TT/IR/TTOpsTypes.td
  include/ttmlir/Dialect/TTIR/IR/TTIROps.h
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTMetal/Pipelines/TTMetalPipelines.h
  lib/Conversion/TTIRToTTMetal/AttachMetalLayout.cpp
  lib/Conversion/TTIRToTTMetal/TTIRToTTMetal.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TT/IR/TTOpsTypes.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTIR/Transforms/HoistCPUOps.cpp
  lib/Dialect/TTIR/Transforms/Layout.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
  test/ttmlir/Dialect/TTIR/bufferization/bufferization.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT, @jnie-TT

clang-tidy
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Dialect/TTIR/IR/TTIROps.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

format
  lib/Dialect/TT/IR/TTOpsTypes.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT

missing bufferization lib
  lib/Dialect/TTIR/IR/CMakeLists.txt
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

vincent's feedback remove fully qualified namespace
  lib/Dialect/TTIR/IR/TTIROps.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

fix rebase issues
  lib/Dialect/TTIR/IR/TTIROps.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Shard llama prefill
  .github/workflows/build-and-test.yml
  include/ttmlir/Dialect/TTNN/Analysis/L1ChainConfig.h
  include/ttmlir/Dialect/TTNN/Analysis/LegalLayoutAnalysis.h
  include/ttmlir/Dialect/TTNN/Analysis/MemoryLayoutAnalysis.h
  include/ttmlir/Dialect/TTNN/Analysis/ShardSolver.h
  include/ttmlir/Dialect/TTNN/IR/TTNNBase.td
  include/ttmlir/Dialect/TTNN/Utils/Utils.h
  lib/Dialect/TTNN/Analysis/DFShardingPolicy.cpp
  lib/Dialect/TTNN/Analysis/L1ChainConfig.cpp
  lib/Dialect/TTNN/Analysis/LegalLayoutAnalysis.cpp
  lib/Dialect/TTNN/Analysis/MemoryLayoutAnalysis.cpp
  lib/Dialect/TTNN/Analysis/ShardSolver.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  lib/Dialect/TTNN/Transforms/Optimizer.cpp
  lib/Dialect/TTNN/Utils/Utils.cpp
  test/lit.cfg.py
  test/lit.site.cfg.py.in
  test/ttmlir/Dialect/TTNN/optimizer/sharding_matmul_override_32.mlir
  test/ttmlir/Silicon/TTNN/n150/optimizer/llama_prefill_single_layer_ttir.mlir
  test/ttmlir/Silicon/TTNN/n150/optimizer/mnist_sharding.mlir
  test/unittests/Optimizer/TestShardSolver.cpp
Owners: @vmilosevic, @tapspatel, @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

Fix ci devices
  .github/workflows/build-and-test.yml
Owners: @vmilosevic, @tapspatel

Add support for stablehlo.reduce op for logical or operator
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecomposition.cpp
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecompositionPass.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/reduction/reduce_or_op.mlir
  test/ttmlir/Decomposition/TTIR/reduction/reduce_or.mlir
  test/ttmlir/Dialect/TTNN/reduction/simple_reduce_or.mlir
  test/ttmlir/Silicon/StableHLO/n150/reduction/reduce_or_op.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_reduce_or.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

enable program cache
  runtime/lib/ttnn/runtime.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

#2065: Updated all reduce code to handle 0 or 1 cluster axis and cleaned up dialect representations of all reduce in ttir and ttnn. Update algorithms for calculating gather and scatter dimensions
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Target/TTNN/program.fbs
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  lib/Dialect/TTNN/Transforms/Workarounds/TTNNWorkarounds.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/include/tt/runtime/ttnn/utils.h
  runtime/lib/ttnn/operations/ccl/reduce_scatter.cpp
  runtime/lib/ttnn/utils/utils.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/all_reduce.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/ccl_ops_gspmd.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_gather.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_gather_negative.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_reduce.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_reduce_negative.mlir
  test/ttmlir/Silicon/TTNN/llmbox/ccl/ccl_1x8.mlir
  test/ttmlir/Silicon/TTNN/llmbox/ccl/ccl_2x4.mlir
  test/ttmlir/Silicon/TTNN/llmbox/perf/all_gather.mlir
  test/ttmlir/Silicon/TTNN/llmbox/perf/all_reduce.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_pad.mlir
  test/ttmlir/Silicon/TTNN/n300/ccl/ccl_1x2.mlir
  test/ttmlir/Silicon/TTNN/n300/perf/all_gather.mlir
  test/ttmlir/Silicon/TTNN/n300/perf/all_reduce.mlir
  test/ttmlir/Silicon/TTNN/tg/ccl/ccl_1x32.mlir
  test/ttmlir/Silicon/TTNN/tg/ccl/ccl_8x4.mlir
  test/ttmlir/Silicon/TTNN/tg/perf/all_gather.mlir
  test/ttmlir/Silicon/TTNN/tg/perf/all_reduce.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @tapspatel, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

wip
  lib/Conversion/TTIRToTTMetal/TensorLayout.cpp
Owners: none

wip
  lib/Conversion/TTIRToTTMetal/TensorLayout.cpp
Owners: none
