Repository tenstorrent/tt-mlir, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nsmithtt, @sdjordjevicTT, @tapspatel, @vmilosevic, @tt-mpantic, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT, @mrakitaTT, @vroubtsovTT, @odjuricicTT, @vprajapati-tt, @vcanicTT, @kmabeeTT, @AleksKnezevic, @pilkicTT

.github/CODEOWNERS:

*.cmake @nsmithtt @sdjordjevicTT
*.fbs @tapspatel @nsmithtt
*.txt @nsmithtt @sdjordjevicTT
*.md @nsmithtt
/docs/ @nsmithtt
/env/ @nsmithtt
/.github/ @vmilosevic @tapspatel
/.github/CODEOWNERS @vmilosevic @tapspatel @nsmithtt @sdjordjevicTT @tt-mpantic
/include/ttmlir/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/include/ttmlir/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/include/ttmlir/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/lib/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/python/ @nsmithtt @tapspatel @odjuricicTT @vprajapati-tt @vcanicTT
/python/test_infra/ @nsmithtt @tapspatel @vprajapati-tt
/runtime/ @jnie-TT @kmabeeTT @AleksKnezevic @pilkicTT
/runtime/tools/ @tapspatel @nsmithtt
/test/ttmlir/Dialect/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/ttmlir/Silicon/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/Optimizer @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/OpModel @odjuricicTT @tt-mpantic @sdjordjevicTT
/tools/ @svuckovicTT @mtopalovicTT
/tools/explorer/ @odjuricicTT @tt-mpantic @sdjordjevicTT @vprajapati-tt @vcanicTT
/tools/ttnn-standalone @svuckovicTT @mtopalovicTT @sdjordjevicTT @azecevicTT @jserbedzijaTT

Generic region to loops
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  lib/Dialect/TTIR/Transforms/Generic.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
  lib/RegisterAll.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT

Add tt tile ops and generic parent verifier
  include/ttmlir/Dialect/TTIR/IR/CMakeLists.txt
  include/ttmlir/Dialect/TTIR/IR/TTIRBase.td
  include/ttmlir/Dialect/TTIR/IR/TTIROps.h
  include/ttmlir/Dialect/TTIR/IR/TTIRTileOps.h
  include/ttmlir/Dialect/TTIR/IR/TTIRTileOps.td
  include/ttmlir/Dialect/TTIR/IR/TTIRTraits.h
  lib/Dialect/TTIR/IR/CMakeLists.txt
  lib/Dialect/TTIR/IR/TTIRDialect.cpp
  lib/Dialect/TTIR/IR/TTIROpsInterfaces.cpp
  lib/Dialect/TTIR/IR/TTIRTileOps.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Generic op linalg lowering
  include/ttmlir/Dialect/TTIR/IR/TTIRTileOps.td
  include/ttmlir/Utils.h
  lib/Dialect/TTIR/Transforms/Generic.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

TTIR Generic datamovement pass and dma ops
  include/ttmlir/Dialect/TTIR/IR/CMakeLists.txt
  include/ttmlir/Dialect/TTIR/IR/TTIRBase.td
  include/ttmlir/Dialect/TTIR/IR/TTIROps.h
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTIR/IR/TTIROpsTypes.h
  include/ttmlir/Dialect/TTIR/IR/TTIROpsTypes.td
  include/ttmlir/Dialect/TTIR/IR/TTIRTileOps.td
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  lib/Conversion/TTIRToTTMetal/TTIRToTTMetal.cpp
  lib/Dialect/TTIR/IR/CMakeLists.txt
  lib/Dialect/TTIR/IR/TTIRDialect.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTIR/IR/TTIROpsTypes.cpp
  lib/Dialect/TTIR/Transforms/Generic.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
  test/ttmlir/Silicon/TTMetal/simple_matmul.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT

rm code that was meant to be removed, not just commented out
  lib/Dialect/TT/IR/TTOpsTypes.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT

Uplift third_party/tt-metal to 0ef76c0b7aaf9ddb7205713d0083d11000662a20 2025-02-18
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

Added schedule as an attribute #2043 (#2113)
  tools/explorer/tt_adapter/src/tt_adapter/mlir.py
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @vprajapati-tt, @vcanicTT

Omit duplicate operands in graph
  tools/explorer/tt_adapter/src/tt_adapter/mlir.py
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @vprajapati-tt, @vcanicTT

rm some d2m v0 passes, rm TT_BufferAccess (#2199)
  include/ttmlir/Dialect/TT/IR/TTOpsEnums.td
  include/ttmlir/Dialect/TT/IR/TTOpsTypes.td
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  lib/Conversion/TTIRToTTMetal/TTIRToTTMetal.cpp
  lib/Dialect/TT/IR/TTOpsTypes.cpp
  lib/Dialect/TTIR/Transforms/Generic.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
  test/ttmlir/Dialect/TTIR/test_generic.mlir
  test/ttmlir/Silicon/TTMetal/n150/simple_reduce.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT

Update json dep cpm name after metal Commit 5611cc4
  third_party/CMakeLists.txt
  tools/ttnn-standalone/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @azecevicTT, @jserbedzijaTT

Update tt-explorer.md
  docs/src/tt-explorer.md
Owners: @nsmithtt

Remove maxpool2d preshard workaround (#2134)
  runtime/include/tt/runtime/detail/workarounds.h
  runtime/lib/common/workarounds.cpp
  runtime/lib/ttnn/operations/pool/maxpool2d.cpp
  runtime/tools/python/test/test_run.py
  runtime/tools/python/ttrt/common/run.py
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @tapspatel, @nsmithtt

Update tt-explorer-usage-api.md
  docs/src/tt-explorer-usage-api.md
Owners: @nsmithtt

Update README.md
  tools/explorer/README.md
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @vprajapati-tt, @vcanicTT

Added owned tensors
  runtime/include/tt/runtime/detail/ttnn.h
  runtime/include/tt/runtime/runtime.h
  runtime/lib/runtime.cpp
  runtime/lib/ttnn/runtime.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

max_pool2d
  runtime/lib/ttnn/operations/pool/maxpool2d.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

conv_transpose2d
  runtime/lib/ttnn/operations/conv/conv_transpose2d.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

pad
  runtime/lib/ttnn/operations/data_movement/pad.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

PadOp signature workaround removal
  runtime/include/tt/runtime/detail/workarounds.h
  runtime/lib/common/workarounds.cpp
  runtime/tools/python/ttrt/common/run.py
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @tapspatel, @nsmithtt

Remove `QueueId` from ops in runtime (#2173)
  runtime/include/tt/runtime/detail/workarounds.h
  runtime/lib/common/workarounds.cpp
  runtime/lib/ttnn/operations/conv/conv_transpose2d.cpp
  runtime/lib/ttnn/operations/data_movement/pad.cpp
  runtime/lib/ttnn/operations/pool/maxpool2d.cpp
  runtime/tools/python/ttrt/common/run.py
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @tapspatel, @nsmithtt

Add tt tile ops and generic parent verifier
  include/ttmlir/Dialect/TTIR/IR/CMakeLists.txt
  include/ttmlir/Dialect/TTIR/IR/TTIROpsInterfaces.h
  include/ttmlir/Dialect/TTIR/IR/TTIROpsInterfaces.td
  include/ttmlir/Dialect/TTIR/IR/TTIRTileOps.td
  lib/Dialect/TTIR/IR/TTIROpsInterfaces.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

pre-commit fix
  include/ttmlir/Dialect/TTIR/IR/TTIRTileOps.td
  lib/Dialect/TTIR/IR/TTIROpsInterfaces.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Add TileMatmulBlockOp::verify() to ensure memrefs have tiled elements
  include/ttmlir/Dialect/TTIR/IR/TTIROps.h
  include/ttmlir/Dialect/TTIR/IR/TTIRTileOps.td
  lib/Dialect/TTIR/IR/CMakeLists.txt
  lib/Dialect/TTIR/IR/TTIROps.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Fix includes & add common TTIR_TileOp
  include/ttmlir/Dialect/TTIR/IR/TTIROps.h
  include/ttmlir/Dialect/TTIR/IR/TTIRTileOps.td
  lib/Dialect/TTIR/IR/TTIRDialect.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Point metal to include fix for build fail due to missing std::span include after transitive include removed in metal commit 52c53d5
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

Fix various feedback from PR 1930
  include/ttmlir/Dialect/TTIR/IR/TTIRBase.td
  include/ttmlir/Dialect/TTIR/IR/TTIROps.h
  include/ttmlir/Dialect/TTIR/IR/TTIROpsInterfaces.td
  include/ttmlir/Dialect/TTIR/IR/TTIRTileOps.h
  include/ttmlir/Dialect/TTIR/IR/TTIRTileOps.td
  include/ttmlir/Dialect/TTIR/IR/TTIRTraits.h
  lib/Dialect/TTIR/IR/CMakeLists.txt
  lib/Dialect/TTIR/IR/TTIRDialect.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTIR/IR/TTIROpsInterfaces.cpp
  lib/Dialect/TTIR/IR/TTIRTileOps.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

fix desc and args for redution ops
  include/ttmlir/Dialect/TTIR/IR/TTIRTileOps.td
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Change generic parent check to recursively look for linalg/ttir generic parent
  lib/Dialect/TTIR/IR/TTIROpsInterfaces.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Remove verifyGenericParent decl. from TTIROpsInterfaces.h
  include/ttmlir/Dialect/TTIR/IR/TTIROpsInterfaces.h
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

include style
  lib/Dialect/TTIR/IR/TTIRDialect.cpp
  lib/Dialect/TTIR/IR/TTIROpsInterfaces.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Rename TTIR TileOps to TTIR GenericRegionOps
  include/ttmlir/Dialect/TTIR/IR/CMakeLists.txt
  include/ttmlir/Dialect/TTIR/IR/TTIRBase.td
  include/ttmlir/Dialect/TTIR/IR/TTIRGenericRegionOps.h
  include/ttmlir/Dialect/TTIR/IR/TTIRGenericRegionOps.td
  include/ttmlir/Dialect/TTIR/IR/TTIRTileOps.h
  include/ttmlir/Dialect/TTIR/IR/TTIRTraits.h
  lib/Dialect/TTIR/IR/CMakeLists.txt
  lib/Dialect/TTIR/IR/TTIRDialect.cpp
  lib/Dialect/TTIR/IR/TTIRGenericRegionOps.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Remove duplicate check from TTIR_GenericParent interface verifier
  lib/Dialect/TTIR/IR/TTIROpsInterfaces.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Introduce TTIR ReduceDim enum and use for tile reduction ops
  include/ttmlir/Dialect/TTIR/IR/TTIROpsEnums.td
  include/ttmlir/Dialect/TTIR/IR/TTIRTileOps.td
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Move ttir.yield to GenericRegion ops
  include/ttmlir/Dialect/TTIR/IR/TTIRGenericRegionOps.td
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTIR/Transforms/Passes.h
  lib/Conversion/TTIRToTTMetal/TTIRToTTMetal.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

pre-commit fix
  include/ttmlir/Dialect/TTIR/IR/TTIRGenericRegionOps.h
  include/ttmlir/Dialect/TTIR/IR/TTIRGenericRegionOps.td
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTIR/Transforms/Passes.h
  lib/Dialect/TTIR/IR/TTIRDialect.cpp
  lib/Dialect/TTIR/IR/TTIRGenericRegionOps.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

add stablehlo missing import
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
Owners: none

Revert to a manual verifier for checking generic ancestor
  include/ttmlir/Dialect/TTIR/IR/TTIRGenericRegionOps.td
  include/ttmlir/Dialect/TTIR/IR/TTIROpsInterfaces.h
  include/ttmlir/Dialect/TTIR/IR/TTIROpsInterfaces.td
  lib/Dialect/TTIR/IR/TTIROpsInterfaces.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Change tile_reduce_max to take two tile inputs to match metal llk
  include/ttmlir/Dialect/TTIR/IR/TTIRGenericRegionOps.td
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Add ReduceDimAttr
  include/ttmlir/Dialect/TTIR/IR/TTIRGenericRegionOps.td
  include/ttmlir/Dialect/TTIR/IR/TTIROpsAttrs.td
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Add basic valid and verifier checks for ttir generic region ops
  test/ttmlir/Dialect/TTIR/generic/generic_region_ops.mlir
  test/ttmlir/Dialect/TTIR/generic/generic_region_ops_negative.mlir
Owners: none
