Repository tenstorrent/tt-mlir, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nsmithtt, @sdjordjevicTT, @tapspatel, @vmilosevic, @tt-mpantic, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT, @mrakitaTT, @vroubtsovTT, @odjuricicTT, @vprajapati-tt, @vcanicTT, @kmabeeTT, @AleksKnezevic, @pilkicTT

.github/CODEOWNERS:

*.cmake @nsmithtt @sdjordjevicTT
*.fbs @tapspatel @nsmithtt
*.txt @nsmithtt @sdjordjevicTT
*.md @nsmithtt
/docs/ @nsmithtt
/env/ @nsmithtt
/.github/ @vmilosevic @tapspatel
/.github/CODEOWNERS @vmilosevic @tapspatel @nsmithtt @sdjordjevicTT @tt-mpantic
/include/ttmlir/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/include/ttmlir/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/include/ttmlir/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/lib/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/python/ @nsmithtt @tapspatel @odjuricicTT @vprajapati-tt @vcanicTT
/python/test_infra/ @nsmithtt @tapspatel @vprajapati-tt
/runtime/ @jnie-TT @kmabeeTT @AleksKnezevic @pilkicTT
/runtime/tools/ @tapspatel @nsmithtt
/test/ttmlir/Dialect/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/ttmlir/Silicon/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/Optimizer @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/OpModel @odjuricicTT @tt-mpantic @sdjordjevicTT
/tools/ @svuckovicTT @mtopalovicTT
/tools/explorer/ @odjuricicTT @tt-mpantic @sdjordjevicTT @vprajapati-tt @vcanicTT
/tools/ttnn-standalone @svuckovicTT @mtopalovicTT @sdjordjevicTT @azecevicTT @jserbedzijaTT

Fix bugs introduced by conv2d operation refactor
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  runtime/lib/ttnn/operations/conv/conv2d.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

tmp
  python/TTNNModule.cpp
  runtime/tools/python/ttrt/common/util.py
  tools/explorer/CMakeLists.txt
  tools/explorer/tt_adapter/src/tt_adapter/main.py
  tools/explorer/tt_adapter/src/tt_adapter/mlir.py
  tools/explorer/tt_adapter/src/tt_adapter/runner.py
  tools/ttnn-standalone/ttnn-standalone.cpp
Owners: @nsmithtt, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT, @tt-mpantic, @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @azecevicTT, @jserbedzijaTT

std::array tests
  include/ttmlir/Conversion/TTNNToEmitC/EmitCConversion.h
  test/unittests/TTNNToEmitC/TestEmitCConversion.cpp
Owners: @svuckovicTT, @sdjordjevicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

std::variant tests
  include/ttmlir/Conversion/TTNNToEmitC/EmitCConversion.h
  test/unittests/TTNNToEmitC/TestEmitCConversion.cpp
Owners: @svuckovicTT, @sdjordjevicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

Switch to TypeSwitch
  include/ttmlir/Conversion/TTNNToEmitC/EmitCConversion.h
Owners: @svuckovicTT, @sdjordjevicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

few fixes
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
  test/unittests/TTNNToEmitC/CMakeLists.txt
  test/unittests/TTNNToEmitC/TestEmitCConversion.cpp
Owners: @svuckovicTT, @sdjordjevicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @nsmithtt

TypeSwitch path tests
  include/ttmlir/Conversion/TTNNToEmitC/EmitCConversion.h
  test/unittests/TTNNToEmitC/TestEmitCConversion.cpp
Owners: @svuckovicTT, @sdjordjevicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

Adding memory config to a reshape op.
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Dialect/TTNN/Transforms/Workarounds/Decomposition/ReduceOpsRewritePattern.h
  include/ttmlir/Target/TTNN/program.fbs
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Conversion/TTIRToTTNN/Utils.cpp
  lib/Dialect/TTNN/Transforms/Workarounds/TTNNWorkarounds.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/operations/data_movement/reshape.cpp
  test/ttmlir/Dialect/TTNN/data_movement/reshape/reshape_folding_test.mlir
  test/ttmlir/Silicon/TTNN/n150/data_movement/reshape/reshape.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @tapspatel, @nsmithtt, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Adding tests to cover reshape op.
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  runtime/lib/ttnn/operations/data_movement/concat.cpp
  runtime/lib/ttnn/operations/data_movement/reshape.cpp
  test/ttmlir/Dialect/TTIR/data_movement/reshape/reshape_tests_negative.mlir
  test/ttmlir/Dialect/TTNN/data_movement/reshape/reshape_tests_negative.mlir
  test/ttmlir/Dialect/TTNN/data_movement/reshape/reshape_tests_positive.mlir
  test/ttmlir/Dialect/TTNN/simple_reshape.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

delete emitter copy semantics
  include/ttmlir/Conversion/TTNNToEmitC/EmitCConversion.h
Owners: @svuckovicTT, @sdjordjevicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

TTIR Generic datamovement pass and dma ops
  include/ttmlir/Dialect/TTIR/IR/CMakeLists.txt
  include/ttmlir/Dialect/TTIR/IR/TTIRBase.td
  include/ttmlir/Dialect/TTIR/IR/TTIRGenericRegionOps.td
  include/ttmlir/Dialect/TTIR/IR/TTIROps.h
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTIR/IR/TTIROpsTypes.h
  include/ttmlir/Dialect/TTIR/IR/TTIROpsTypes.td
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  lib/Conversion/TTIRToTTMetal/TTIRToTTMetal.cpp
  lib/Dialect/TTIR/IR/CMakeLists.txt
  lib/Dialect/TTIR/IR/TTIRDialect.cpp
  lib/Dialect/TTIR/IR/TTIRGenericRegionOps.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTIR/IR/TTIROpsTypes.cpp
  lib/Dialect/TTIR/Transforms/CMakeLists.txt
  lib/Dialect/TTIR/Transforms/Generic.cpp
  lib/Dialect/TTIR/Transforms/GenericDatamovement.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
  lib/RegisterAll.cpp
  test/ttmlir/Dialect/TTIR/generic/generic_datamovement.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT

Generic region to loops
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  lib/Dialect/TTIR/Transforms/CMakeLists.txt
  lib/Dialect/TTIR/Transforms/Generic.cpp
  lib/Dialect/TTIR/Transforms/GenericLinearizeMemref.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
  lib/RegisterAll.cpp
  test/ttmlir/Dialect/TTIR/loops/linearize_memref.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT

clang tidy/format
  lib/Dialect/TTIR/Transforms/GenericLinearizeMemref.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

set CMAKE_INSTALL_MESSAGE to LAZY for third_party build (#2320)
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

Uplift Shardy to enable transformation passes
  env/CMakeLists.txt
  env/patches/shardy.patch
Owners: @nsmithtt

Check and update return sharding
  include/ttmlir/Conversion/StableHLOToTTIR/ShardingUtils.h
  lib/Conversion/StableHLOToTTIR/ShardyToTTIRPatterns.cpp
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/operations/ccl/mesh_shard.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/ccl_ops_gspmd.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/ccl_ops_shardy.mlir
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

feedback
  lib/Dialect/TTIR/Transforms/GenericLinearizeMemref.cpp
  test/ttmlir/Dialect/TTIR/loops/linearize_memref.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Fix few typos in CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @nsmithtt

Explorer Memory Visualization
  tools/explorer/tt_adapter/src/tt_adapter/main.py
  tools/explorer/tt_adapter/src/tt_adapter/mlir.py
  tools/explorer/tt_adapter/src/tt_adapter/runner.py
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @vprajapati-tt, @vcanicTT

Added a test for the explorer memory visualization
  tools/explorer/test/run_tests.py
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @vprajapati-tt, @vcanicTT

Updated pre-commit
  tools/explorer/test/run_tests.py
  tools/explorer/tt_adapter/src/tt_adapter/mlir.py
  tools/explorer/tt_adapter/src/tt_adapter/runner.py
  tools/explorer/tt_adapter/src/tt_adapter/utils.py
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @vprajapati-tt, @vcanicTT

Fixing TTNN NOperand trait verify method visibility.
  include/ttmlir/Dialect/TTNN/IR/TTNNTraits.h
  test/ttmlir/Dialect/TTNN/eltwise/binary/binary_tests_negative.mlir
  test/ttmlir/Dialect/TTNN/eltwise/ternary/ternary_tests_negative.mlir
  test/ttmlir/Dialect/TTNN/eltwise/unary/unary_tests_negative.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

Add workaround for binary ops
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNWorkarounds.h
  lib/Dialect/TTNN/IR/TTNNWorkarounds.cpp
  test/ttmlir/Dialect/TTNN/Transforms/Workarounds/binary_ops_workaround.mlir
  test/ttmlir/Dialect/TTNN/data_movement/repeat/implicit_repeat.mlir
  test/ttmlir/Dialect/TTNN/implicit_broadcast.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

Fix bugs introduced by conv2d operation refactor
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  runtime/lib/ttnn/operations/conv/conv2d.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

tmp
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOpsAttrs.td
  include/ttmlir/OpModel/TTNN/TTNNOpModel.h
  lib/Dialect/TTNN/IR/TTNNOpModelInterface.cpp
  lib/Dialect/TTNN/IR/TTNNOpsAttrs.cpp
  lib/OpModel/TTNN/Conversion.cpp
  lib/OpModel/TTNN/Conversion.hpp
  lib/OpModel/TTNN/MetalHeaders.h
  lib/OpModel/TTNN/TTNNOpModelLib.cpp
  test/ttmlir/Silicon/TTNN/n150/optimizer/lit.site.cfg.py.bck
  test/ttmlir/Silicon/TTNN/n150/optimizer/lit.site.cfg.py.in
  test/unittests/OpModel/TTNN/Conversion/TestConversion.cpp
  test/unittests/OpModel/TTNN/Lib/TestOpModelLib.cpp
  test/unittests/OpModel/TTNN/OpModelFixture.h
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @odjuricicTT, @tt-mpantic, @jnie-TT

Uplift Shardy to enable transformation passes
  env/CMakeLists.txt
  env/patches/shardy.patch
Owners: @nsmithtt

Revert "Refactor conv2d op and add conv2d config support (#2054)"
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOpsAttrs.td
  include/ttmlir/Target/TTNN/program.fbs
  include/ttmlir/Target/TTNN/types.fbs
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecomposition.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/operations/conv/conv2d.cpp
  runtime/lib/ttnn/operations/include/tt/runtime/ttnn/operations/utils.cpp
  runtime/lib/ttnn/operations/include/tt/runtime/ttnn/operations/utils.h
  test/ttmlir/Dialect/TTIR/conv2d/conv2d_tests_negative.mlir
  test/ttmlir/Dialect/TTIR/conv2d/conv2d_tests_positive.mlir
  test/ttmlir/Dialect/TTNN/convolution/simple_conv.mlir
  test/ttmlir/Dialect/TTNN/convolution/simple_conv2d.mlir
  test/ttmlir/Silicon/TTNN/n150/perf/test_perf_conv.mlir
  test/ttmlir/Silicon/TTNN/n150/perf/test_perf_conv2d_config.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_conv.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_conv2d.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @tapspatel, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

clang format fix
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

Uplift third_party/tt-metal to 9b3d8557734bba9b5c7e91e178b85e4e019022cf 2025-02-28 (#2327)
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

Check and update return sharding
  include/ttmlir/Conversion/StableHLOToTTIR/ShardingUtils.h
  lib/Conversion/StableHLOToTTIR/ShardyToTTIRPatterns.cpp
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/operations/ccl/mesh_shard.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/ccl_ops_gspmd.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/ccl_ops_shardy.mlir
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Add workaround for binary ops (#2326)
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNWorkarounds.h
  lib/Dialect/TTNN/IR/TTNNWorkarounds.cpp
  test/ttmlir/Dialect/TTNN/Transforms/Workarounds/binary_ops_workaround.mlir
  test/ttmlir/Dialect/TTNN/data_movement/repeat/implicit_repeat.mlir
  test/ttmlir/Dialect/TTNN/implicit_broadcast.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

changes
  runtime/include/tt/runtime/detail/ttmetal.h
  runtime/include/tt/runtime/detail/ttnn.h
  runtime/include/tt/runtime/types.h
  runtime/lib/runtime.cpp
  runtime/lib/ttmetal/runtime.cpp
  runtime/lib/ttnn/runtime.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Revert "Refactor conv2d op and add conv2d config support (#2054)"
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOpsAttrs.td
  include/ttmlir/Target/TTNN/program.fbs
  include/ttmlir/Target/TTNN/types.fbs
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecomposition.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/operations/conv/conv2d.cpp
  runtime/lib/ttnn/operations/include/tt/runtime/ttnn/operations/utils.cpp
  runtime/lib/ttnn/operations/include/tt/runtime/ttnn/operations/utils.h
  test/ttmlir/Dialect/TTIR/conv2d/conv2d_tests_negative.mlir
  test/ttmlir/Dialect/TTIR/conv2d/conv2d_tests_positive.mlir
  test/ttmlir/Dialect/TTNN/convolution/simple_conv.mlir
  test/ttmlir/Dialect/TTNN/convolution/simple_conv2d.mlir
  test/ttmlir/Silicon/TTNN/n150/perf/test_perf_conv.mlir
  test/ttmlir/Silicon/TTNN/n150/perf/test_perf_conv2d_config.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_conv.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_conv2d.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @tapspatel, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Check and update return sharding (#2298)
  include/ttmlir/Conversion/StableHLOToTTIR/ShardingUtils.h
  lib/Conversion/StableHLOToTTIR/ShardyToTTIRPatterns.cpp
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/operations/ccl/mesh_shard.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/ccl_ops_gspmd.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/ccl_ops_shardy.mlir
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

refactor
  include/ttmlir/Dialect/TTIR/IR/TTIROps.h
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Dialect/TTIR/IR/TTIROps.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Revert "Refactor conv2d op and add conv2d config support (#2054)"
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOpsAttrs.td
  include/ttmlir/Target/TTNN/program.fbs
  include/ttmlir/Target/TTNN/types.fbs
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecomposition.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/operations/conv/conv2d.cpp
  runtime/lib/ttnn/operations/include/tt/runtime/ttnn/operations/utils.cpp
  runtime/lib/ttnn/operations/include/tt/runtime/ttnn/operations/utils.h
  test/ttmlir/Dialect/TTIR/conv2d/conv2d_tests_negative.mlir
  test/ttmlir/Dialect/TTIR/conv2d/conv2d_tests_positive.mlir
  test/ttmlir/Dialect/TTNN/convolution/simple_conv.mlir
  test/ttmlir/Dialect/TTNN/convolution/simple_conv2d.mlir
  test/ttmlir/Silicon/TTNN/n150/perf/test_perf_conv.mlir
  test/ttmlir/Silicon/TTNN/n150/perf/test_perf_conv2d_config.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_conv.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_conv2d.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @tapspatel, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

improving ttkernel conversion tests: part 1 (#2282)
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOps.td
  python/pykernel/pykernel_ast.py
  test/python/simple_kernel.py
  test/ttmlir/Conversion/TTKernelToEmitC/ttkernel.mlir
Owners: @nsmithtt, @vroubtsovTT, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT

Uplift third_party/tt-metal to 57ba436ec4366d9129df6a53b2d9e1e828ef0356 2025-02-25 (#2256)
  runtime/lib/common/system_desc.cpp
  runtime/lib/ttmetal/runtime.cpp
  runtime/lib/ttnn/operations/context/get_device.cpp
  runtime/lib/ttnn/operations/eltwise/binary/binary.cpp
  runtime/lib/ttnn/operations/eltwise/binary/binary_composite.cpp
  runtime/lib/ttnn/operations/include/tt/runtime/ttnn/operations/eltwise/binary/utils.cpp
  runtime/lib/ttnn/operations/include/tt/runtime/ttnn/operations/eltwise/binary/utils.h
  runtime/lib/ttnn/runtime.cpp
  third_party/CMakeLists.txt
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @nsmithtt, @sdjordjevicTT

Only run clang-tidy for PRs, not needed for push (#2281)
  .github/workflows/build-and-test.yml
Owners: @vmilosevic, @tapspatel

Add LLama Attention Block To `TTBuilder` & Test (#2286)
  python/test_infra/test_utils.py
  test/python/golden/test_ttir_models.py
  test/python/golden/test_ttir_ops.py
  test/ttmlir/Silicon/TTNN/n150/models/llama_attention.mlir
Owners: @nsmithtt, @tapspatel, @vprajapati-tt
