Repository tenstorrent/tt-mlir, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nsmithtt, @sdjordjevicTT, @tapspatel, @vmilosevic, @tt-mpantic, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT, @mrakitaTT, @vroubtsovTT, @odjuricicTT, @vprajapati-tt, @vcanicTT, @kmabeeTT, @AleksKnezevic, @pilkicTT

.github/CODEOWNERS:

*.cmake @nsmithtt @sdjordjevicTT
*.fbs @tapspatel @nsmithtt
*.txt @nsmithtt @sdjordjevicTT
*.md @nsmithtt
/docs/ @nsmithtt
/env/ @nsmithtt
/.github/ @vmilosevic @tapspatel
/.github/CODEOWNERS @vmilosevic @tapspatel @nsmithtt @sdjordjevicTT @tt-mpantic
/include/ttmlir/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/include/ttmlir/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/include/ttmlir/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/lib/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/python/ @nsmithtt @tapspatel @odjuricicTT @vprajapati-tt @vcanicTT
/python/test_infra/ @nsmithtt @tapspatel @vprajapati-tt
/runtime/ @jnie-TT @kmabeeTT @AleksKnezevic @pilkicTT
/runtime/tools/ @tapspatel @nsmithtt
/test/ttmlir/Dialect/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/ttmlir/Silicon/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/Optimizer @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/OpModel @odjuricicTT @tt-mpantic @sdjordjevicTT
/tools/ @svuckovicTT @mtopalovicTT
/tools/explorer/ @odjuricicTT @tt-mpantic @sdjordjevicTT @vprajapati-tt @vcanicTT
/tools/ttnn-standalone @svuckovicTT @mtopalovicTT @sdjordjevicTT @azecevicTT @jserbedzijaTT

Bring back clang-tidy bot
  .github/workflows/build-and-test.yml
Owners: @vmilosevic, @tapspatel

#1903: TTIR Generic Region Ops (#1930)
  include/ttmlir/Dialect/TTIR/IR/CMakeLists.txt
  include/ttmlir/Dialect/TTIR/IR/TTIRBase.td
  include/ttmlir/Dialect/TTIR/IR/TTIRGenericRegionOps.h
  include/ttmlir/Dialect/TTIR/IR/TTIRGenericRegionOps.td
  include/ttmlir/Dialect/TTIR/IR/TTIROps.h
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTIR/IR/TTIROpsAttrs.td
  include/ttmlir/Dialect/TTIR/IR/TTIROpsEnums.td
  include/ttmlir/Dialect/TTIR/IR/TTIROpsInterfaces.h
  include/ttmlir/Dialect/TTIR/IR/TTIROpsInterfaces.td
  include/ttmlir/Dialect/TTIR/IR/TTIRTraits.h
  include/ttmlir/Dialect/TTIR/Transforms/Passes.h
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTMetal/TTIRToTTMetal.cpp
  lib/Dialect/TTIR/IR/CMakeLists.txt
  lib/Dialect/TTIR/IR/TTIRDialect.cpp
  lib/Dialect/TTIR/IR/TTIRGenericRegionOps.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTIR/IR/TTIROpsInterfaces.cpp
  test/ttmlir/Dialect/TTIR/generic/generic_region_ops.mlir
  test/ttmlir/Dialect/TTIR/generic/generic_region_ops_negative.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Add runtime debug silicon tests to n150 CI
  .github/workflows/build-and-test.yml
Owners: @vmilosevic, @tapspatel

Generic op linalg lowering
  include/ttmlir/Dialect/TTIR/IR/TTIRTileOps.td
  include/ttmlir/Utils.h
  lib/Dialect/TTIR/Transforms/Generic.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Support multiple regions
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Conversion/TTIRToTTMetal/TTIRToTTMetal.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTIR/Transforms/Generic.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Bufferization pass
  include/ttmlir/Dialect/TTIR/IR/TTIROps.h
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT

Generic region to loops
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  lib/Dialect/TTIR/Transforms/Generic.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
  lib/RegisterAll.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT

Prerequisite changes for d2m new lowering
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  lib/Dialect/TTIR/Transforms/Generic.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT

TTIR Generic datamovement pass and dma ops
  include/ttmlir/Dialect/TTIR/IR/CMakeLists.txt
  include/ttmlir/Dialect/TTIR/IR/TTIRBase.td
  include/ttmlir/Dialect/TTIR/IR/TTIRGenericRegionOps.td
  include/ttmlir/Dialect/TTIR/IR/TTIROps.h
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTIR/IR/TTIROpsTypes.h
  include/ttmlir/Dialect/TTIR/IR/TTIROpsTypes.td
  include/ttmlir/Dialect/TTIR/IR/TTIRTileOps.td
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  lib/Dialect/TTIR/IR/CMakeLists.txt
  lib/Dialect/TTIR/IR/TTIRDialect.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTIR/IR/TTIROpsTypes.cpp
  lib/Dialect/TTIR/Transforms/Generic.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
  test/ttmlir/Silicon/TTMetal/simple_matmul.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT

Bring back clang-tidy bot (#2226)
  .github/workflows/build-and-test.yml
Owners: @vmilosevic, @tapspatel

Add runtime debug silicon tests to n150 CI (#2228)
  .github/workflows/build-and-test.yml
Owners: @vmilosevic, @tapspatel

#2065: Updated all reduce code to handle 0 or 1 cluster axis and cleaned up dialect representations of all reduce in ttir and ttnn. Update algorithms for calculating gather and scatter dimensions
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Target/TTNN/program.fbs
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  lib/Dialect/TTNN/Transforms/Workarounds/TTNNWorkarounds.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/include/tt/runtime/ttnn/utils.h
  runtime/lib/ttnn/operations/ccl/reduce_scatter.cpp
  runtime/lib/ttnn/utils/utils.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/ccl_ops.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_gather.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_gather_negative.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_reduce.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_reduce_negative.mlir
  test/ttmlir/Silicon/TTNN/llmbox/ccl/ccl_1x8.mlir
  test/ttmlir/Silicon/TTNN/llmbox/ccl/ccl_2x4.mlir
  test/ttmlir/Silicon/TTNN/llmbox/perf/all_gather.mlir
  test/ttmlir/Silicon/TTNN/llmbox/perf/all_reduce.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_pad.mlir
  test/ttmlir/Silicon/TTNN/n300/ccl/ccl_1x2.mlir
  test/ttmlir/Silicon/TTNN/n300/perf/all_gather.mlir
  test/ttmlir/Silicon/TTNN/n300/perf/all_reduce.mlir
  test/ttmlir/Silicon/TTNN/tg/ccl/ccl_1x32.mlir
  test/ttmlir/Silicon/TTNN/tg/ccl/ccl_8x4.mlir
  test/ttmlir/Silicon/TTNN/tg/perf/all_gather.mlir
  test/ttmlir/Silicon/TTNN/tg/perf/all_reduce.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @tapspatel, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

#2005: Added representation of reduce scatter in ttir and ttnn dialect. Implemented conversion patterns between dialects and flatbuffer. Added tests cases for all valid multichip mesh configurations
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/ccl_ops.mlir
  test/ttmlir/Silicon/TTNN/llmbox/ccl/ccl_1x8.mlir
  test/ttmlir/Silicon/TTNN/llmbox/ccl/ccl_2x4.mlir
  test/ttmlir/Silicon/TTNN/llmbox/perf/reduce_scatter.mlir
  test/ttmlir/Silicon/TTNN/n300/ccl/ccl_1x2.mlir
  test/ttmlir/Silicon/TTNN/n300/perf/reduce_scatter.mlir
  test/ttmlir/Silicon/TTNN/tg/ccl/ccl_1x32.mlir
  test/ttmlir/Silicon/TTNN/tg/ccl/ccl_8x4.mlir
  test/ttmlir/Silicon/TTNN/tg/perf/reduce_scatter.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Uplift third_party/tt-metal to 99e8f45516093967fd56ff3de98efa47868a3a02 2025-02-21
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

Disable multichip workaround
  runtime/include/tt/runtime/detail/workarounds.h
  runtime/lib/ttnn/program.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Remove workaround for to layout in decompose layouts
  include/ttmlir/Dialect/TT/IR/TTOpsTypes.h
  include/ttmlir/Dialect/TTNN/Utils/Utils.h
  lib/Dialect/TT/IR/TTOpsTypes.cpp
  lib/Dialect/TTNN/Analysis/LegalLayoutAnalysis.cpp
  lib/Dialect/TTNN/Transforms/TTNNDecomposeLayouts.cpp
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
  lib/Dialect/TTNN/Transforms/Workarounds/TTNNWorkarounds.cpp
  lib/Dialect/TTNN/Utils/TransformUtils.cpp
  lib/Dialect/TTNN/Utils/Utils.cpp
  test/ttmlir/Dialect/TTNN/typecast.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @odjuricicTT, @tt-mpantic, @jnie-TT

Remove workaround for to layout in decompose layouts (#2221)
  include/ttmlir/Dialect/TT/IR/TTOpsTypes.h
  include/ttmlir/Dialect/TTNN/Utils/Utils.h
  lib/Dialect/TT/IR/TTOpsTypes.cpp
  lib/Dialect/TTNN/Analysis/LegalLayoutAnalysis.cpp
  lib/Dialect/TTNN/Transforms/TTNNDecomposeLayouts.cpp
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
  lib/Dialect/TTNN/Transforms/Workarounds/TTNNWorkarounds.cpp
  lib/Dialect/TTNN/Utils/TransformUtils.cpp
  lib/Dialect/TTNN/Utils/Utils.cpp
  test/ttmlir/Dialect/TTNN/typecast.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @odjuricicTT, @tt-mpantic, @jnie-TT

Uplift llvm/shlo and fix errors caused by uplift
  env/CMakeLists.txt
  include/ttmlir/Dialect/TT/IR/TTOpsTypes.h
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPass.cpp
  lib/Conversion/TTIRToTTMetal/AttachMetalLayout.cpp
  lib/Conversion/TTKernelToEmitC/TTKernelToEmitC.cpp
  lib/Conversion/TosaToTTIR/TosaToTTIRPatterns.cpp
  lib/Dialect/TTIR/Transforms/Broadcast.cpp
  lib/Dialect/TTIR/Transforms/Constant.cpp
  lib/Dialect/TTIR/Transforms/HoistCPUOps.cpp
  lib/Dialect/TTIR/Transforms/Layout.cpp
  lib/Dialect/TTNN/Transforms/Passes.cpp
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
  lib/Dialect/TTNN/Transforms/Workarounds/TTNNWorkarounds.cpp
Owners: @nsmithtt, @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

Initial Shardy integration.
  include/ttmlir/Conversion/StableHLOToTTIR/ShardingUtils.h
  include/ttmlir/Conversion/StableHLOToTTIR/ShardyToTTIR.h
  include/ttmlir/Dialect/TT/IR/TTOpsTypes.td
  include/ttmlir/Dialect/TT/Utils/Mesh.h
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Conversion/StableHLOToTTIR/CMakeLists.txt
  lib/Conversion/StableHLOToTTIR/ShardingUtils.cpp
  lib/Conversion/StableHLOToTTIR/ShardyToTTIRPatterns.cpp
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPass.cpp
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTIR/Transforms/Utility.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  runtime/lib/ttnn/operations/ccl/mesh_shard.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/all_reduce.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/ccl_ops_gspmd.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/ccl_ops_shardy.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/e2e_dp_gspmd.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/e2e_dp_shardy.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/e2e_fsdp_gspmd.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/e2e_fsdp_shardy.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/e2e_fsdp_tp_gspmd.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/e2e_fsdp_tp_shardy.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/e2e_tp_gspmd.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/e2e_tp_shardy.mlir
  test/ttmlir/Dialect/TTNN/ccl/mesh_shard.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Wrap MeshShape with SimpleMeshShape after metal change f4719c78f6
  runtime/lib/common/system_desc.cpp
  runtime/lib/ttmetal/runtime.cpp
  runtime/lib/ttnn/runtime.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

copy changes from e2e branch
  runtime/lib/ttnn/include/tt/runtime/ttnn/dylib.cpp
  runtime/lib/ttnn/include/tt/runtime/ttnn/dylib.h
  runtime/lib/ttnn/include/tt/runtime/ttnn/types.h
  runtime/lib/ttnn/operations/cpu/cpu.cpp
  runtime/lib/ttnn/operations/cpu/cpu.h
  runtime/lib/ttnn/program.cpp
  runtime/lib/ttnn/runtime.cpp
  runtime/lib/ttnn/types/types.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

attempt adding some support for ttir_builder hoist test
  python/test_infra/ttir_builder.py
  test/python/golden/test_ttir_ops.py
Owners: @nsmithtt, @tapspatel, @vprajapati-tt

#2065: Updated all reduce code to handle 0 or 1 cluster axis and cleaned up dialect representations of all reduce in ttir and ttnn. Update algorithms for calculating gather and scatter dimensions
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Target/TTNN/program.fbs
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  lib/Dialect/TTNN/Transforms/Workarounds/TTNNWorkarounds.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/include/tt/runtime/ttnn/utils.h
  runtime/lib/ttnn/operations/ccl/reduce_scatter.cpp
  runtime/lib/ttnn/utils/utils.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/ccl_ops.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_gather.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_gather_negative.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_reduce.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_reduce_negative.mlir
  test/ttmlir/Silicon/TTNN/llmbox/ccl/ccl_1x8.mlir
  test/ttmlir/Silicon/TTNN/llmbox/ccl/ccl_2x4.mlir
  test/ttmlir/Silicon/TTNN/llmbox/perf/all_gather.mlir
  test/ttmlir/Silicon/TTNN/llmbox/perf/all_reduce.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_pad.mlir
  test/ttmlir/Silicon/TTNN/n300/ccl/ccl_1x2.mlir
  test/ttmlir/Silicon/TTNN/n300/perf/all_gather.mlir
  test/ttmlir/Silicon/TTNN/n300/perf/all_reduce.mlir
  test/ttmlir/Silicon/TTNN/tg/ccl/ccl_1x32.mlir
  test/ttmlir/Silicon/TTNN/tg/ccl/ccl_8x4.mlir
  test/ttmlir/Silicon/TTNN/tg/perf/all_gather.mlir
  test/ttmlir/Silicon/TTNN/tg/perf/all_reduce.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @tapspatel, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Add workaround for ttnn.where op
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNWorkarounds.h
  lib/Dialect/TTNN/IR/TTNNWorkarounds.cpp
  test/ttmlir/Dialect/TTNN/Transforms/Workarounds/where_workaround.mlir
  test/ttmlir/Silicon/StableHLO/n150/select_op.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

Initial Shardy integration. (#2149)
  include/ttmlir/Conversion/StableHLOToTTIR/ShardingUtils.h
  include/ttmlir/Conversion/StableHLOToTTIR/ShardyToTTIR.h
  include/ttmlir/Dialect/TT/IR/TTOpsTypes.td
  include/ttmlir/Dialect/TT/Utils/Mesh.h
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Conversion/StableHLOToTTIR/CMakeLists.txt
  lib/Conversion/StableHLOToTTIR/ShardingUtils.cpp
  lib/Conversion/StableHLOToTTIR/ShardyToTTIRPatterns.cpp
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPass.cpp
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTIR/Transforms/Utility.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  runtime/lib/ttnn/operations/ccl/mesh_shard.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/all_reduce.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/ccl_ops_gspmd.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/ccl_ops_shardy.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/e2e_dp_gspmd.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/e2e_dp_shardy.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/e2e_fsdp_gspmd.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/e2e_fsdp_shardy.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/e2e_fsdp_tp_gspmd.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/e2e_fsdp_tp_shardy.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/e2e_tp_gspmd.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/e2e_tp_shardy.mlir
  test/ttmlir/Dialect/TTNN/ccl/mesh_shard.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Update build_venv.sh
  env/build_venv.sh
Owners: @nsmithtt

Revert changes in build-requirements.txt
  env/build-requirements.txt
Owners: @nsmithtt

fix build
  runtime/include/tt/runtime/detail/dylib.h
  runtime/include/tt/runtime/detail/strides.h
  runtime/include/tt/runtime/types.h
  runtime/lib/binary.cpp
  runtime/lib/common/CMakeLists.txt
  runtime/lib/common/dylib.cpp
  runtime/lib/ttnn/CMakeLists.txt
  runtime/lib/ttnn/include/tt/runtime/ttnn/types.h
  runtime/lib/ttnn/operations/CMakeLists.txt
  runtime/lib/ttnn/operations/cpu/cpu.cpp
  runtime/lib/ttnn/program.cpp
  runtime/lib/ttnn/runtime.cpp
  runtime/lib/ttnn/types/types.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

cleanup
  runtime/lib/ttnn/operations/cpu/cpu.cpp
  runtime/lib/ttnn/types/types.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Uplift third_party/tt-metal to 99e8f45516093967fd56ff3de98efa47868a3a02 2025-02-21 (#2239)
  runtime/lib/common/system_desc.cpp
  runtime/lib/ttmetal/runtime.cpp
  runtime/lib/ttnn/runtime.cpp
  third_party/CMakeLists.txt
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @nsmithtt, @sdjordjevicTT

Add workaround for ttnn.where (#2196)
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNWorkarounds.h
  lib/Dialect/TTNN/IR/TTNNWorkarounds.cpp
  test/ttmlir/Dialect/TTNN/Transforms/Workarounds/where_workaround.mlir
  test/ttmlir/Silicon/StableHLO/n150/select_op.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

tidy
  lib/Dialect/TTNN/Pipelines/TTNNPipelines.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT

remove ugly empty attributes in test case
  test/ttmlir/Dialect/TTNN/ttir_to_ttnn_pipeline_hoist_call.mlir
Owners: none

#2065: Updated all reduce code to handle 0 or 1 cluster axis and cleaned up dialect representations of all reduce in ttir and ttnn. Update algorithms for calculating gather and scatter dimensions
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Target/TTNN/program.fbs
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  lib/Dialect/TTNN/Transforms/Workarounds/TTNNWorkarounds.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/include/tt/runtime/ttnn/utils.h
  runtime/lib/ttnn/operations/ccl/reduce_scatter.cpp
  runtime/lib/ttnn/utils/utils.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/all_reduce.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/ccl_ops_gspmd.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_gather.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_gather_negative.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_reduce.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_reduce_negative.mlir
  test/ttmlir/Silicon/TTNN/llmbox/ccl/ccl_1x8.mlir
  test/ttmlir/Silicon/TTNN/llmbox/ccl/ccl_2x4.mlir
  test/ttmlir/Silicon/TTNN/llmbox/perf/all_gather.mlir
  test/ttmlir/Silicon/TTNN/llmbox/perf/all_reduce.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_pad.mlir
  test/ttmlir/Silicon/TTNN/n300/ccl/ccl_1x2.mlir
  test/ttmlir/Silicon/TTNN/n300/perf/all_gather.mlir
  test/ttmlir/Silicon/TTNN/n300/perf/all_reduce.mlir
  test/ttmlir/Silicon/TTNN/tg/ccl/ccl_1x32.mlir
  test/ttmlir/Silicon/TTNN/tg/ccl/ccl_8x4.mlir
  test/ttmlir/Silicon/TTNN/tg/perf/all_gather.mlir
  test/ttmlir/Silicon/TTNN/tg/perf/all_reduce.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @tapspatel, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Enhance functionality of max_pool2d op
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecomposition.cpp
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecompositionPass.cpp
  test/ttmlir/Decomposition/TTIR/pooling/max_pool2d.mlir
  test/ttmlir/Silicon/StableHLO/n150/maxpool2d_op.mlir
Owners: none

remove dtype from func names in testcase
  test/ttmlir/Dialect/TTNN/ttir_to_ttnn_pipeline_hoist_call.mlir
Owners: none

Only run clang-tidy on the current diff
  .github/workflows/build-and-test.yml
  cmake/modules/LintTools.cmake
  tools/scripts/filter-compile-commands.py
Owners: @vmilosevic, @tapspatel, @nsmithtt, @sdjordjevicTT, @svuckovicTT, @mtopalovicTT

fix
  .github/workflows/build-and-test.yml
Owners: @vmilosevic, @tapspatel

Enhance functionality of max_pool2d op (#2176)
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecomposition.cpp
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecompositionPass.cpp
  test/ttmlir/Decomposition/TTIR/pooling/max_pool2d.mlir
  test/ttmlir/Silicon/StableHLO/n150/maxpool2d_op.mlir
Owners: none

origin/main
  tools/scripts/filter-compile-commands.py
Owners: @svuckovicTT, @mtopalovicTT
