Repository tenstorrent/tt-mlir, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nsmithtt, @vwellsTT, @jnie-TT, @vmilosevic, @tapspatel, @sdjordjevicTT, @tt-mpantic, @jmcgrathTT, @nsumrakTT, @mtopalovicTT, @ctodTT, @vprajapati-tt, @vcanicTT, @vtangTT, @xanderchin, @mrakitaTT, @mmanzoorTT, @wooseokTT, @azecevicTT, @nsmithTT, @sgligorijevicTT, @sdjukicTT, @svuckovicTT, @jserbedzijaTT, @vroubtsovTT, @LPanosTT, @odjuricicTT, @rpavlovicTT, @arminaleTT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @ddilbazTT

.github/CODEOWNERS:

# Misc
/env/ @nsmithtt @vwellsTT
*.fbs @jnie-TT @nsmithtt
/.github/CODEOWNERS @vmilosevic @tapspatel @nsmithtt @sdjordjevicTT @tt-mpantic
LICENSE @nsmithtt

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT

# Build
*.cmake @nsmithtt @mtopalovicTT @vwellsTT
*.txt @nsmithtt @mtopalovicTT  @vwellsTT

# Docs
*.md @nsmithtt @sdjordjevicTT
/docs/ @nsmithtt @sdjordjevicTT

# tt-mlir Bindings
/include/ttmlir/Bindings/ @ctodTT @tapspatel @vprajapati-tt @vcanicTT
/include/ttmlir-c/ @ctodTT @tapspatel @vprajapati-tt @vcanicTT
/lib/CAPI/ @ctodTT @tapspatel @vprajapati-tt @vcanicTT
/python/ @ctodTT @tapspatel @vprajapati-tt @vcanicTT
/python/pykernel/ @vtangTT @xanderchin

# StableHLO Conversion
/include/ttmlir/Conversion/ArithToStableHLO/ @mrakitaTT @mmanzoorTT @wooseokTT @azecevicTT
/include/ttmlir/Conversion/StableHLOToTTIR/ @mrakitaTT @mmanzoorTT @wooseokTT @azecevicTT
/lib/Conversion/StableHLOToTTIR/ @mrakitaTT @mmanzoorTT @wooseokTT @azecevicTT
/test/ttmlir/Conversion/ArithToStableHLO/ @mrakitaTT @mmanzoorTT @wooseokTT @azecevicTT
/test/ttmlir/Conversion/StableHLOToTTIR/ @mrakitaTT @mmanzoorTT @wooseokTT @azecevicTT
/test/ttmlir/Silicon/StableHLO/ @mrakitaTT @mmanzoorTT @wooseokTT @azecevicTT

# Linalg Conversion
/include/ttmlir/Conversion/TTIRToLinalg/ @vwellsTT @ctodTT @nsmithTT
/lib/Conversion/TTIRToLinalg/ @vwellsTT @ctodTT @nsmithTT
/test/ttmlir/Conversion/TTIRToLinalg/ @vwellsTT @ctodTT @nsmithTT

# Tosa Conversion
/include/ttmlir/Conversion/TosaToTTIR/ @mrakitaTT @sgligorijevicTT @sdjukicTT
/lib/Conversion/TosaToTTIR/ @mrakitaTT @sgligorijevicTT @sdjukicTT
/test/ttmlir/Conversion/TosaToTTIR/ @mrakitaTT @sgligorijevicTT @sdjukicTT

# TTNN Conversions
/include/ttmlir/Conversion/TTIRToTTIRDecomposition/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/include/ttmlir/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Conversion/TTIRToTTIRDecomposition/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Conversion/TTIRToTTNN/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/test/ttmlir/Conversion/TTIRToTTIRDecomposition/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/test/ttmlir/Conversion/TTIRToTTNN/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/test/ttmlir/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/test/ttmlir/EmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT

# Metal Conversions
/include/ttmlir/Conversion/TTIRToTTIRGeneric/ @nsmithtt @vroubtsovTT
/lib/Conversion/TTIRToTTIRGeneric/ @nsmithtt @vroubtsovTT
/test/ttmlir/Conversion/TTIRToTTIRGeneric/ @nsmithtt @vroubtsovTT
/include/ttmlir/Conversion/TTIRToTTMetal/ @nsmithtt @vroubtsovTT
/include/ttmlir/Conversion/TTKernelToEmitC/ @nsmithtt @vroubtsovTT
/lib/Conversion/TTIRToTTMetal/ @nsmithtt @vroubtsovTT
/lib/Conversion/TTKernelToEmitC/ @nsmithtt @vroubtsovTT
/test/ttmlir/Conversion/TTKernelToEmitC/ @nsmithtt @vroubtsovTT

# LLVM Dialect
/include/ttmlir/Dialect/LLVM/ @vwellsTT @mtopalovicTT
/lib/Dialect/LLVM/ @vwellsTT @mtopalovicTT
/test/ttmlir/Dialect/LLVM/ @vwellsTT @mtopalovicTT

# TT Dialect
/include/ttmlir/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/test/ttmlir/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT

# TTIR Dialect
/include/ttmlir/Dialect/TTIR/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTIR/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/test/ttmlir/Dialect/TTIR/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT

# Metal Dialects
/include/ttmlir/Dialect/TTIR/IR/TTIRGeneric* @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTIR/Transforms/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/test/ttmlir/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/test/ttmlir/Dialect/TTMetal/ @nsmithtt @vroubtsovTT

# TTIR Erase Inverse Ops Optimization Pass
/include/ttmlir/Dialect/TTIR/Transforms/EraseInverseOps/ @LPanosTT @azecevicTT
/lib/Dialect/TTIR/Transforms/EraseInverseOps/ @LPanosTT @azecevicTT
/test/ttmlir/Dialect/TTIR/erase_inverse_ops/ @LPanosTT @azecevicTT

# TTNN Dialects
/include/ttmlir/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/test/ttmlir/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT

# TTNN Optimizer
/include/ttmlir/Dialect/TTNN/Analysis/ @odjuricicTT @rpavlovicTT @sdjordjevicTT
/include/ttmlir/OpModel/ @arminaleTT @odjuricicTT @rpavlovicTT @sdjordjevicTT
/include/ttmlir/Scheduler/ @odjuricicTT @rpavlovicTT @sdjordjevicTT
/lib/Dialect/TTNN/Analysis/ @odjuricicTT @rpavlovicTT @sdjordjevicTT
/lib/OpModel/ @arminaleTT @odjuricicTT @rpavlovicTT
/lib/Scheduler/ @odjuricicTT @rpavlovicTT @sdjordjevicTT
/test/ttmlir/Dialect/TTNN/optimizer/ @odjuricicTT @rpavlovicTT @sdjordjevicTT
/test/ttmlir/Silicon/TTNN/**/optimizer/ @odjuricicTT @rpavlovicTT @sdjordjevicTT
/test/unittests/Optimizer @odjuricicTT @rpavlovicTT @sdjordjevicTT
/test/unittests/OpModel @arminaleTT @odjuricicTT @rpavlovicTT
/test/unittests/TestScheduler/ @odjuricicTT @rpavlovicTT @sdjordjevicTT

# LLVM Target
/include/ttmlir/Target/LLVM/ @vwellsTT @mtopalovicTT
/lib/Target/LLVM/ @vwellsTT @mtopalovicTT

# Metal Target
/include/ttmlir/Target/TTKernel/ @nsmithtt @vroubtsovTT
/include/ttmlir/Target/TTMetal/ @nsmithtt @vroubtsovTT
/lib/Target/TTKernel/ @nsmithtt @vroubtsovTT
/lib/Target/TTMetal/ @nsmithtt @vroubtsovTT

# TTNN Target
/include/ttmlir/Target/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Target/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT

# Runtime
/runtime/ @jnie-TT @kmabeeTT @AleksKnezevic @pilkicTT
/runtime/tools/ @tapspatel @ctodTT

# TTIRBuilder
/python/test_infra @ctodTT @tapspatel

# tt-explorer
/tools/explorer/ @tapspatel @odjuricicTT @vprajapati-tt @vcanicTT

# ttnn-standalone
/tools/ttnn-standalone @svuckovicTT @mtopalovicTT @sdjordjevicTT @azecevicTT @jserbedzijaTT

# Scripts
/tools/scripts/ @nsmithtt @ddilbazTT

test
  .github/workflows/build-and-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT

test
  .github/workflows/build-and-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT

Just saving progress
  runtime/include/tt/runtime/detail/ttmetal.h
  runtime/include/tt/runtime/detail/ttnn.h
  runtime/include/tt/runtime/runtime.h
  runtime/lib/runtime.cpp
  runtime/lib/ttmetal/runtime.cpp
  runtime/lib/ttnn/include/tt/runtime/ttnn/types.h
  runtime/lib/ttnn/runtime.cpp
  runtime/lib/ttnn/types/types.cpp
  runtime/tools/python/ttrt/common/callback.py
  runtime/tools/python/ttrt/common/run.py
  runtime/tools/python/ttrt/runtime/__init__.py
  runtime/tools/python/ttrt/runtime/module.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @tapspatel, @ctodTT

Made compiler passes segfault proof
  python/CMakeLists.txt
  python/common/compile_and_run.py
  python/common/compile_and_run_utils.py
  python/op_by_op_infra/mlir_module_executor.py
  python/op_by_op_infra/pydantic_models.py
  python/op_by_op_infra/utils.py
Owners: @ctodTT, @tapspatel, @vprajapati-tt, @vcanicTT

wip
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOpsTypes.td
  lib/Conversion/TTIRToTTKernel/TTIRToTTKernel.cpp
  lib/Conversion/TTIRToTTKernel/TTIRToTTKernelPass.cpp
Owners: @nsmithtt, @vroubtsovTT

Saving work
  runtime/include/tt/runtime/detail/ttmetal.h
  runtime/include/tt/runtime/detail/ttnn.h
  runtime/include/tt/runtime/runtime.h
  runtime/lib/runtime.cpp
  runtime/lib/ttnn/runtime.cpp
  runtime/tools/python/ttrt/common/callback.py
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @tapspatel, @ctodTT

Use logical device ID for collective permute. (#2902)
  runtime/lib/ttnn/operations/ccl/collective_permute.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Remove stable hlo type converter (#2851)
  include/ttmlir/Dialect/TT/IR/TTOpsTypes.h
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  include/ttmlir/Dialect/TTNN/Pipelines/TTNNPipelines.h
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPass.cpp
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Dialect/TT/IR/CMakeLists.txt
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTIR/Transforms/ElementTypeNormalization.cpp
  lib/Dialect/TTNN/Pipelines/TTNNPipelines.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/binary/compare_op.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/binary/concat_op.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/binary/logical_op.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/constant_op.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/cumsum_op.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/empty_op.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/gather_op.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/get_dimension_size_op.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/isfinite_op.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/reduction/argmax_op.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/reduction/reduce_and_op.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/reduction/reduce_or_op.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/reshape_op.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/scatter_op.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/select_op.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/unary/clamp_op.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/unary/logical_op.mlir
  test/ttmlir/Dialect/TTIR/element_type_normalization/element_type_normalization_negative.mlir
  test/ttmlir/Dialect/TTIR/element_type_normalization/element_type_normalization_positive.mlir
  test/ttmlir/Dialect/TTNN/constant/negative/simple_constant_negative.mlir
  test/ttmlir/Dialect/TTNN/constant/negative/simple_constant_sparse_resource.mlir
  test/ttmlir/Dialect/TTNN/constant/positive/simple_constant_positive.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @mmanzoorTT, @wooseokTT, @vroubtsovTT, @jnie-TT

Vlad's feedback
  include/ttmlir/Dialect/TTIR/Utils/Utils.h
  include/ttmlir/Utils.h
  lib/Conversion/StableHLOToTTIR/ShardyToTTIRPatterns.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @mmanzoorTT, @wooseokTT

few fixes
  include/ttmlir/Utils.h
Owners: none

special case NamedAttributes
  include/ttmlir/Utils.h
Owners: none

bugfix
  include/ttmlir/Dialect/TTIR/Utils/Utils.h
  include/ttmlir/Utils.h
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Dialect/TTIR/IR/CMakeLists.txt
  lib/Dialect/TTIR/IR/TTIROps.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @mmanzoorTT, @wooseokTT

flatten utils funcs
  include/ttmlir/Utils.h
Owners: none

replace remove_cvref_t
  include/ttmlir/Dialect/TTIR/Utils/Utils.h
  include/ttmlir/Utils.h
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

createDPSOp accepts OpBuilder
  include/ttmlir/Dialect/TTIR/Utils/Utils.h
  lib/Conversion/StableHLOToTTIR/ShardyToTTIRPatterns.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @mmanzoorTT, @wooseokTT

WIP: when there aren't attributes
  include/ttmlir/Dialect/TTIR/Utils/Utils.h
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

nit
  include/ttmlir/Dialect/TTIR/Utils/Utils.h
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @mmanzoorTT, @wooseokTT

flatten guinea pig
  lib/Dialect/TTIR/IR/TTIROps.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

add docs
  include/ttmlir/Dialect/TTIR/Utils/Utils.h
  include/ttmlir/Utils.h
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @mmanzoorTT, @wooseokTT

inout param unsqueeze
  include/ttmlir/Dialect/TTIR/Utils/Utils.h
  lib/Dialect/TTIR/Utils/Utils.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

split utils into ttmlir::utils and ttir::utils
  include/ttmlir/Dialect/TTIR/Utils/Utils.h
  include/ttmlir/Utils.h
  lib/Conversion/StableHLOToTTIR/CMakeLists.txt
  lib/Conversion/StableHLOToTTIR/ShardyToTTIRPatterns.cpp
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecomposition.cpp
  lib/Conversion/TosaToTTIR/TosaToTTIRPatterns.cpp
  lib/Dialect/TTIR/CMakeLists.txt
  lib/Dialect/TTIR/Transforms/Constant.cpp
  lib/Dialect/TTIR/Transforms/Layout.cpp
  lib/Dialect/TTIR/Utils/CMakeLists.txt
  lib/Dialect/TTIR/Utils/Utils.cpp
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @mmanzoorTT, @wooseokTT, @sgligorijevicTT, @sdjukicTT, @nsmithtt, @vroubtsovTT, @jnie-TT

changes after EIO
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Dialect/TTIR/Transforms/EraseInverseOps/BroadcastCommutePatterns.cpp
  lib/Dialect/TTIR/Transforms/EraseInverseOps/ElementwiseCommutePatterns.cpp
  lib/Dialect/TTIR/Transforms/FlattenSlidingWindow.cpp
Owners: @mrakitaTT, @mmanzoorTT, @wooseokTT, @azecevicTT, @LPanosTT, @nsmithtt, @vroubtsovTT

Extend `createDPSOp` to support generic builder (#2836)
  include/ttmlir/Dialect/TTIR/Utils/Utils.h
  include/ttmlir/Utils.h
  lib/Conversion/StableHLOToTTIR/CMakeLists.txt
  lib/Conversion/StableHLOToTTIR/ShardyToTTIRPatterns.cpp
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecomposition.cpp
  lib/Conversion/TosaToTTIR/TosaToTTIRPatterns.cpp
  lib/Dialect/TTIR/CMakeLists.txt
  lib/Dialect/TTIR/IR/CMakeLists.txt
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTIR/Transforms/Constant.cpp
  lib/Dialect/TTIR/Transforms/EraseInverseOps/BroadcastCommutePatterns.cpp
  lib/Dialect/TTIR/Transforms/EraseInverseOps/ElementwiseCommutePatterns.cpp
  lib/Dialect/TTIR/Transforms/FlattenSlidingWindow.cpp
  lib/Dialect/TTIR/Transforms/Layout.cpp
  lib/Dialect/TTIR/Utils/CMakeLists.txt
  lib/Dialect/TTIR/Utils/Utils.cpp
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @mmanzoorTT, @wooseokTT, @sgligorijevicTT, @sdjukicTT, @nsmithtt, @vroubtsovTT, @LPanosTT, @jnie-TT

Saving changes
  runtime/include/tt/runtime/detail/ttnn.h
  runtime/include/tt/runtime/runtime.h
  runtime/lib/ttnn/runtime.cpp
  runtime/tools/python/ttrt/runtime/module.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @tapspatel, @ctodTT

Added get_output_tensors
  runtime/include/tt/runtime/detail/ttmetal.h
  runtime/include/tt/runtime/detail/ttnn.h
  runtime/include/tt/runtime/runtime.h
  runtime/lib/runtime.cpp
  runtime/lib/ttmetal/runtime.cpp
  runtime/lib/ttnn/runtime.cpp
  runtime/tools/python/ttrt/runtime/__init__.py
  runtime/tools/python/ttrt/runtime/module.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @tapspatel, @ctodTT
