Repository tenstorrent/tt-mlir, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nsmithtt, @vwellsTT, @jnie-TT, @vmilosevic, @tapspatel, @sdjordjevicTT, @tt-mpantic, @tenstorrent/forge-developers-mlir-devops, @tenstorrent/forge-developers-mlir-build, @ctodTT, @vprajapati-tt, @vcanicTT, @tenstorrent/forge-developers-mlir-stablehlo, @nsmithTT, @tenstorrent/forge-developers-mlir-tosa, @tenstorrent/forge-developers-mlir-core, @tenstorrent/forge-developers-mlir-d2m, @mtopalovicTT, @mrakitaTT, @LPanosTT, @azecevicTT, @rpavlovicTT, @tenstorrent/forge-developers-mlir-optimizer, @arminaleTT, @tenstorrent/forge-developers-mlir-runtime, @xanderchin, @tenstorrent/forge-developers-mlir-explorer, @ddilbazTT

Reverted to CMake based CI Action
  .github/workflows/build-and-test.yml
Owners: @tenstorrent/forge-developers-mlir-devops

Removed unused getters
  runtime/include/tt/runtime/types.h
  runtime/lib/binary.cpp
  runtime/python/binary/binary.cpp
  runtime/tools/ttrt/ttrt/binary/__init__.py
Owners: @tenstorrent/forge-developers-mlir-runtime, @tapspatel, @ctodTT

Target smaller window before ttnn python changes
  third_party/CMakeLists.txt
Owners: @tenstorrent/forge-developers-mlir-build

adding back getProgramInputs and Outputs
  runtime/include/tt/runtime/types.h
  runtime/lib/binary.cpp
Owners: @tenstorrent/forge-developers-mlir-runtime

adding back getProgramInputs and Outputs instance
  runtime/include/tt/runtime/types.h
  runtime/lib/binary.cpp
Owners: @tenstorrent/forge-developers-mlir-runtime

Ease PyKernel and TTNN (py) Interface w/ Code Example (#3431)
  .github/workflows/build-and-test.yml
  .gitignore
  docs/src/SUMMARY.md
  docs/src/ci.md
  docs/src/pykernel.md
  test/CMakeLists.txt
  test/pykernel/CMakeLists.txt
  test/pykernel/add_2_integers_in_compute/reader_binary_1_tile.py
  test/pykernel/add_2_integers_in_compute/writer_1_tile.py
  test/pykernel/demo/CMakeLists.txt
  test/pykernel/demo/eltwise_sfpu_demo.py
  test/pykernel/demo/requirements.txt
  test/pykernel/eltwise_sfpu/reader_unary.py
  test/pykernel/eltwise_sfpu/writer_unary.py
  test/pykernel/lit.local.cfg
  test/pykernel/matmul_common/reader_bmm_8bank.py
  test/pykernel/matmul_common/reader_bmm_8bank_output_tiles_partitioned.py
  test/pykernel/unit_tests.py
  tools/pykernel/CMakeLists.txt
  tools/pykernel/ast.py
  tools/pykernel/op.py
  tools/pykernel/types.py
Owners: @tenstorrent/forge-developers-mlir-devops, @nsmithtt, @sdjordjevicTT, @tenstorrent/forge-developers-mlir-build, @xanderchin, @vprajapati-tt

add constraint APIs for MaximumOp and MinimumOp
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/OpModel/TTNN/MetalHeaders.h
  include/ttmlir/OpModel/TTNN/TTNNOpModel.h
  lib/Dialect/TTNN/IR/TTNNOpModelInterface.cpp
  lib/OpModel/TTNN/SingletonDeviceContext.cpp
  lib/OpModel/TTNN/TTNNOpModel.cpp
  test/unittests/OpModel/TTNN/Lib/TestOpModelLib.cpp
  test/unittests/OpModel/TTNN/Op/TestOpModelInterface.cpp
Owners: @tenstorrent/forge-developers-mlir-core, @tenstorrent/forge-developers-mlir-optimizer, @arminaleTT

prelim docs update + architecture in intro
  docs/src/pykernel.md
Owners: @nsmithtt, @sdjordjevicTT

(nit): Update tt-explorer.md documentation (#3667)
  docs/src/tt-explorer.md
Owners: @nsmithtt, @sdjordjevicTT

add lowering tests
  test/ttmlir/Conversion/TTIRToTTKernel/single_tile_ops.mlir
  test/ttmlir/Conversion/TTKernelToEmitC/ttkernel.mlir
Owners: @tenstorrent/forge-developers-mlir-d2m

Add lowering for more cos, neg, rsqrt
  include/ttmlir/Dialect/TTIR/IR/TTIRGenericRegionOps.td
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOps.td
  lib/Conversion/TTIRToTTIRGeneric/TTIRToTTIRGeneric.cpp
  lib/Conversion/TTIRToTTKernel/TTIRToTTKernel.cpp
  lib/Conversion/TTKernelToEmitC/TTKernelToEmitC.cpp
Owners: @tenstorrent/forge-developers-mlir-d2m

fix typo
  test/ttmlir/Conversion/TTIRToTTKernel/single_tile_ops.mlir
Owners: @tenstorrent/forge-developers-mlir-d2m

reorder op rewriter list to alphabetical order
  lib/Conversion/TTIRToTTIRGeneric/TTIRToTTIRGeneric.cpp
Owners: @tenstorrent/forge-developers-mlir-d2m

fix pipeline
  lib/OpModel/TTNN/SingletonDeviceContext.cpp
  test/unittests/OpModel/TTNN/Op/TestOpModelInterface.cpp
Owners: @tenstorrent/forge-developers-mlir-optimizer, @arminaleTT

refactor reshape folding
  lib/Dialect/TTIR/IR/TTIROps.cpp
Owners: @tenstorrent/forge-developers-mlir-core, @mrakitaTT

reshape fold
  lib/Dialect/TTIR/IR/TTIROps.cpp
Owners: @tenstorrent/forge-developers-mlir-core, @mrakitaTT

respond to comments and add permute/transpose folders
  include/ttmlir/Utils.h
  lib/Dialect/TTIR/IR/TTIROps.cpp
  test/ttmlir/Dialect/TTIR/canonicalize/permute_op_canonicalize_tests.mlir
  test/ttmlir/Dialect/TTIR/canonicalize/transpose_fold_tests.mlir
Owners: @tenstorrent/forge-developers-mlir-core, @mrakitaTT

simplify test
  test/ttmlir/Dialect/TTIR/fusing/fuse_constant_bias.mlir
Owners: @tenstorrent/forge-developers-mlir-core, @mrakitaTT

oops: forgot ConstEvalUtils.h
  include/ttmlir/Dialect/TTIR/IR/ConstEvalUtils.h
Owners: @tenstorrent/forge-developers-mlir-core, @mrakitaTT

fixing clang
  lib/Dialect/TTIR/IR/TTIROps.cpp
Owners: @tenstorrent/forge-developers-mlir-core, @mrakitaTT

fix test
  test/ttmlir/Dialect/TTIR/fusing/fuse_constant_bias.mlir
Owners: @tenstorrent/forge-developers-mlir-core, @mrakitaTT

adding test cases
  lib/Dialect/TTIR/IR/TTIROps.cpp
  test/ttmlir/Dialect/TTIR/fusing/fuse_constant_bias.mlir
  test/ttmlir/Dialect/TTNN/data_movement/reshape/reshape_folding_test.mlir
Owners: @tenstorrent/forge-developers-mlir-core, @mrakitaTT

identity quantize op folder
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Dialect/TTIR/IR/TTIROps.cpp
  test/ttmlir/Dialect/TTIR/canonicalize/quantize_fold_tests.mlir
Owners: @tenstorrent/forge-developers-mlir-core, @mrakitaTT

Add fusing path to match/rewrite scatter op into cache update/fill
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTIR/Transforms/TTIRFusing.cpp
  test/ttmlir/Dialect/TTIR/fusing/kv_cache_fusing.mlir
Owners: @tenstorrent/forge-developers-mlir-core, @mrakitaTT, @tenstorrent/forge-developers-mlir-d2m

Prevent unintended typecast from uint32 to float32
  lib/Dialect/TTNN/IR/TTNNWorkaroundsPass.cpp
  test/ttmlir/Dialect/TTNN/constant/positive/simple_constant_positive.mlir
  test/ttmlir/Dialect/TTNN/quantization/simple_dequantize.mlir
  test/ttmlir/Dialect/TTNN/quantization/simple_quantize.mlir
  test/ttmlir/Dialect/TTNN/quantization/simple_requantize.mlir
  test/ttmlir/Dialect/TTNN/simple_get_dimension_size.mlir
  test/ttmlir/Silicon/StableHLO/n150/Constant/constant_i32.mlir
  test/ttmlir/Silicon/StableHLO/n150/Constant/constant_i64.mlir
  test/ttmlir/Silicon/StableHLO/n150/get_dimension_size_op.mlir
  test/ttmlir/Silicon/TTNN/n150/eltwise/unary/get_dimension_size/get_dimension_size.mlir
  test/ttmlir/Silicon/TTNN/n150/perf/test_perf_dequantize.mlir
  test/ttmlir/Silicon/TTNN/n150/perf/test_perf_quantize.mlir
  test/ttmlir/Silicon/TTNN/n150/perf/test_perf_requantize.mlir
  test/ttmlir/Silicon/TTNN/n150/quantization/simple_dequantize.mlir
  test/ttmlir/Silicon/TTNN/n150/quantization/simple_quantize.mlir
  test/ttmlir/Silicon/TTNN/n150/quantization/simple_requantize.mlir
Owners: @tenstorrent/forge-developers-mlir-core, @tenstorrent/forge-developers-mlir-stablehlo

Uplift third_party/tt-metal to 41ce500767a364f66034f6924837dabc133e8d4d 2025-06-04 (#3669)
  third_party/CMakeLists.txt
Owners: @tenstorrent/forge-developers-mlir-build

More submesh WIP
  runtime/tools/ttrt/ttrt/common/run.py
  runtime/tools/ttrt/ttrt/common/util.py
Owners: @tapspatel, @ctodTT

Re-enable op level golden check
  tools/ttir-builder/builder.py
  tools/ttir-builder/utils.py
Owners: @ctodTT, @tapspatel

Sub mesh experiments
  lib/Dialect/TT/Transforms/TTRegisterDevice.cpp
  runtime/tools/ttrt/ttrt/common/run.py
Owners: @tenstorrent/forge-developers-mlir-core, @nsmithtt, @mrakitaTT, @tapspatel, @ctodTT

Revert "Re-enable op level golden check"
  tools/ttir-builder/builder.py
  tools/ttir-builder/utils.py
Owners: @ctodTT, @tapspatel

Dump mesh shape from program into program fb
  include/ttmlir/Target/TTNN/program.fbs
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
Owners: @tenstorrent/forge-developers-mlir-core

remove extraneous print
  runtime/tools/ttrt/ttrt/common/util.py
Owners: @tapspatel, @ctodTT

Updating test ttir ops
  test/python/golden/test_ttir_ops.py
Owners: none

Updates
  test/python/golden/test_ttir_ops.py
  tools/ttir-builder/builder.py
Owners: @ctodTT, @tapspatel

Minor cleanup
  runtime/lib/ttnn/operations/ccl/reduce_scatter.cpp
  runtime/lib/ttnn/types/layout_converter.cpp
Owners: @tenstorrent/forge-developers-mlir-runtime

Jackson's updates
  runtime/lib/ttnn/operations/ccl/reduce_scatter.cpp
  runtime/tools/ttrt/ttrt/common/run.py
Owners: @tenstorrent/forge-developers-mlir-runtime, @tapspatel, @ctodTT

add missing include algo
  lib/Target/TTKernel/TTKernelToCpp.cpp
Owners: @tenstorrent/forge-developers-mlir-d2m

clean up comments
  lib/Target/TTKernel/TTKernelToCpp.cpp
Owners: @tenstorrent/forge-developers-mlir-d2m

Addressing reduce_and and reduce_or
  test/python/golden/test_ttir_ops.py
  tools/ttir-builder/builder.py
Owners: @ctodTT, @tapspatel

Fix clang-19 build issues
  CMakeLists.txt
  runtime/lib/ttmetal/executor_utils.h
  tools/ttnn-standalone/CMakeLists.txt
Owners: @tenstorrent/forge-developers-mlir-build, @tenstorrent/forge-developers-mlir-runtime, @tenstorrent/forge-developers-mlir-core

.github/CODEOWNERS:

# Misc
/env/ @nsmithtt @vwellsTT
*.fbs @jnie-TT @nsmithtt
/.github/CODEOWNERS @vmilosevic @tapspatel @nsmithtt @sdjordjevicTT @tt-mpantic
LICENSE @nsmithtt

# CI
/.github/ @tenstorrent/forge-developers-mlir-devops

# Build
*.cmake @tenstorrent/forge-developers-mlir-build
*.txt @tenstorrent/forge-developers-mlir-build

# Docs
*.md @nsmithtt @sdjordjevicTT
/docs/ @nsmithtt @sdjordjevicTT

# tt-mlir Bindings
/include/ttmlir/Bindings/ @ctodTT @tapspatel @vprajapati-tt @vcanicTT
/include/ttmlir-c/ @ctodTT @tapspatel @vprajapati-tt @vcanicTT
/lib/CAPI/ @ctodTT @tapspatel @vprajapati-tt @vcanicTT
/python/ @ctodTT @tapspatel @vprajapati-tt @vcanicTT

# StableHLO Dialect
include/ttmlir/Dialect/StableHLO @tenstorrent/forge-developers-mlir-stablehlo
lib/Dialect/StableHLO @tenstorrent/forge-developers-mlir-stablehlo
test/ttmlir/Dialect/StableHLO @tenstorrent/forge-developers-mlir-stablehlo

# StableHLO Conversion
/include/ttmlir/Conversion/ArithToStableHLO/ @tenstorrent/forge-developers-mlir-stablehlo
/include/ttmlir/Conversion/StableHLOToTTIR/ @tenstorrent/forge-developers-mlir-stablehlo
/lib/Conversion/StableHLOToTTIR/ @tenstorrent/forge-developers-mlir-stablehlo
/test/ttmlir/Conversion/ArithToStableHLO/ @tenstorrent/forge-developers-mlir-stablehlo
/test/ttmlir/Conversion/StableHLOToTTIR/ @tenstorrent/forge-developers-mlir-stablehlo
/test/ttmlir/Silicon/StableHLO/ @tenstorrent/forge-developers-mlir-stablehlo

# Linalg Conversion
/include/ttmlir/Conversion/TTIRToLinalg/ @vwellsTT @ctodTT @nsmithTT
/lib/Conversion/TTIRToLinalg/ @vwellsTT @ctodTT @nsmithTT
/test/ttmlir/Conversion/TTIRToLinalg/ @vwellsTT @ctodTT @nsmithTT

# Tosa Conversion
/include/ttmlir/Conversion/TosaToTTIR/ @tenstorrent/forge-developers-mlir-tosa
/lib/Conversion/TosaToTTIR/ @tenstorrent/forge-developers-mlir-tosa
/test/ttmlir/Conversion/TosaToTTIR/ @tenstorrent/forge-developers-mlir-tosa

# TTNN Conversions
/include/ttmlir/Conversion/TTIRToTTIRDecomposition/ @tenstorrent/forge-developers-mlir-core
/include/ttmlir/Conversion/TTIRToTTNN/ @tenstorrent/forge-developers-mlir-core @jnie-TT
/include/ttmlir/Conversion/TTNNToEmitC/ @tenstorrent/forge-developers-mlir-core
/lib/Conversion/TTIRToTTIRDecomposition/ @tenstorrent/forge-developers-mlir-core
/lib/Conversion/TTIRToTTNN/ @tenstorrent/forge-developers-mlir-core
/lib/Conversion/TTNNToEmitC/ @tenstorrent/forge-developers-mlir-core
/test/ttmlir/Conversion/TTIRToTTIRDecomposition/ @tenstorrent/forge-developers-mlir-core
/test/ttmlir/Conversion/TTIRToTTNN/ @tenstorrent/forge-developers-mlir-core
/test/ttmlir/Conversion/TTNNToEmitC/ @tenstorrent/forge-developers-mlir-core
/test/ttmlir/EmitC/ @tenstorrent/forge-developers-mlir-core
/test/unittests/TTNNToEmitC/ @tenstorrent/forge-developers-mlir-core

# Metal Conversions
/include/ttmlir/Conversion/TTIRToTTIRGeneric/ @tenstorrent/forge-developers-mlir-d2m
/lib/Conversion/TTIRToTTIRGeneric/ @tenstorrent/forge-developers-mlir-d2m
/test/ttmlir/Conversion/TTIRToTTIRGeneric/ @tenstorrent/forge-developers-mlir-d2m
/include/ttmlir/Conversion/TTIRToTTMetal/ @tenstorrent/forge-developers-mlir-d2m
/include/ttmlir/Conversion/TTKernelToEmitC/ @tenstorrent/forge-developers-mlir-d2m
/lib/Conversion/TTIRToTTMetal/ @tenstorrent/forge-developers-mlir-d2m
/lib/Conversion/TTKernelToEmitC/ @tenstorrent/forge-developers-mlir-d2m
/test/ttmlir/Conversion/TTKernelToEmitC/ @tenstorrent/forge-developers-mlir-d2m
/include/ttmlir/Conversion/TTIRToTTKernel/ @tenstorrent/forge-developers-mlir-d2m
/lib/Conversion/TTIRToTTKernel/ @tenstorrent/forge-developers-mlir-d2m
/test/ttmlir/Conversion/TTIRToTTKernel/ @tenstorrent/forge-developers-mlir-d2m

# LLVM Dialect
/include/ttmlir/Dialect/LLVM/ @vwellsTT @mtopalovicTT
/lib/Dialect/LLVM/ @vwellsTT @mtopalovicTT
/test/ttmlir/Dialect/LLVM/ @vwellsTT @mtopalovicTT

# TT Dialect
/include/ttmlir/Dialect/TT/ @tenstorrent/forge-developers-mlir-core @nsmithtt @mrakitaTT
/lib/Dialect/TT/ @tenstorrent/forge-developers-mlir-core @nsmithtt @mrakitaTT
/test/ttmlir/Dialect/TT/ @tenstorrent/forge-developers-mlir-core @nsmithtt @mrakitaTT

# TTIR Dialect
/include/ttmlir/Dialect/TTIR/ @tenstorrent/forge-developers-mlir-core @mrakitaTT
/lib/Dialect/TTIR/ @tenstorrent/forge-developers-mlir-core @mrakitaTT
/test/ttmlir/Dialect/TTIR/ @tenstorrent/forge-developers-mlir-core @mrakitaTT

# Metal Dialects
/include/ttmlir/Dialect/TTIR/IR/TTIRGeneric* @tenstorrent/forge-developers-mlir-d2m
/include/ttmlir/Dialect/TTKernel/ @tenstorrent/forge-developers-mlir-d2m
/include/ttmlir/Dialect/TTMetal/ @tenstorrent/forge-developers-mlir-d2m
/lib/Dialect/TTIR/Transforms/ @tenstorrent/forge-developers-mlir-d2m
/lib/Dialect/TTKernel/ @tenstorrent/forge-developers-mlir-d2m
/lib/Dialect/TTMetal/ @tenstorrent/forge-developers-mlir-d2m
/test/ttmlir/Dialect/TTKernel/ @tenstorrent/forge-developers-mlir-d2m
/test/ttmlir/Dialect/TTMetal/ @tenstorrent/forge-developers-mlir-d2m
/test/unittests/Allocation @tenstorrent/forge-developers-mlir-d2m

# TTIR Erase Inverse Ops Optimization Pass
/include/ttmlir/Dialect/TTIR/Transforms/EraseInverseOps/ @LPanosTT @azecevicTT
/lib/Dialect/TTIR/Transforms/EraseInverseOps/ @LPanosTT @azecevicTT
/test/ttmlir/Dialect/TTIR/erase_inverse_ops/ @LPanosTT @azecevicTT

# TTNN Dialects
/include/ttmlir/Dialect/TTNN/ @tenstorrent/forge-developers-mlir-core
/lib/Dialect/TTNN/ @tenstorrent/forge-developers-mlir-core
/test/ttmlir/Dialect/TTNN/ @tenstorrent/forge-developers-mlir-core

# TTNN Utils
/include/ttmlir/Dialect/TTNN/Utils/ @tenstorrent/forge-developers-mlir-core @rpavlovicTT

# TTNN Optimizer
/include/ttmlir/Dialect/TTNN/Analysis/ @tenstorrent/forge-developers-mlir-optimizer
/include/ttmlir/OpModel/ @tenstorrent/forge-developers-mlir-optimizer @arminaleTT
/include/ttmlir/Scheduler/ @tenstorrent/forge-developers-mlir-optimizer
/lib/Dialect/TTNN/Analysis/ @tenstorrent/forge-developers-mlir-optimizer
/lib/OpModel/ @tenstorrent/forge-developers-mlir-optimizer @arminaleTT
/lib/Scheduler/ @tenstorrent/forge-developers-mlir-optimizer
/test/ttmlir/Dialect/TTNN/optimizer/ @tenstorrent/forge-developers-mlir-optimizer
/test/ttmlir/Silicon/TTNN/**/optimizer/ @tenstorrent/forge-developers-mlir-optimizer
/test/unittests/Optimizer @tenstorrent/forge-developers-mlir-optimizer
/test/unittests/OpModel @tenstorrent/forge-developers-mlir-optimizer @arminaleTT
/test/unittests/TestScheduler/ @tenstorrent/forge-developers-mlir-optimizer

# LLVM Target
/include/ttmlir/Target/LLVM/ @vwellsTT @mtopalovicTT
/lib/Target/LLVM/ @vwellsTT @mtopalovicTT

# Metal Target
/include/ttmlir/Target/TTKernel/ @tenstorrent/forge-developers-mlir-d2m
/include/ttmlir/Target/TTMetal/ @tenstorrent/forge-developers-mlir-d2m
/lib/Target/TTKernel/ @tenstorrent/forge-developers-mlir-d2m
/lib/Target/TTMetal/ @tenstorrent/forge-developers-mlir-d2m

# TTNN Target
/include/ttmlir/Target/TTNN/ @tenstorrent/forge-developers-mlir-core
/lib/Target/TTNN/ @tenstorrent/forge-developers-mlir-core

# Runtime
/runtime/ @tenstorrent/forge-developers-mlir-runtime
/runtime/tools/ @tapspatel @ctodTT

# PyKernel
/tools/pykernel/ @xanderchin @vprajapati-tt

# TTIRBuilder
/tools/ttir-builder @ctodTT @tapspatel

# tt-explorer
/tools/explorer/ @tenstorrent/forge-developers-mlir-explorer

# ttnn-standalone
/tools/ttnn-standalone @tenstorrent/forge-developers-mlir-core

# Scripts
/tools/scripts/ @nsmithtt @ddilbazTT
