Repository tenstorrent/tt-mlir, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nsmithtt, @sdjordjevicTT, @tapspatel, @vmilosevic, @tt-mpantic, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT, @mrakitaTT, @vroubtsovTT, @odjuricicTT, @vprajapati-tt, @vcanicTT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Remove maxpool2d preshard workaround
  runtime/include/tt/runtime/detail/workarounds.h
  runtime/lib/common/workarounds.cpp
  runtime/lib/ttnn/operations/pool/maxpool2d.cpp
  runtime/tools/python/ttrt/common/run.py
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @tapspatel, @nsmithtt

Update include locations for small_vector after metal commit b552fb8ae1
  lib/OpModel/TTNN/Conversion.cpp
  lib/OpModel/TTNN/MetalHeaders.h
  runtime/lib/ttnn/runtime.cpp
  tools/ttnn-standalone/ttnn-precompiled.hpp
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @svuckovicTT, @mtopalovicTT, @azecevicTT, @jserbedzijaTT

[build] fix install of tt-metal shared libs (#2129)
  include/ttmlir/Dialect/TTNN/Transforms/Workarounds/Decomposition/EmbeddingBackwardOpRewritePattern.h
  third_party/CMakeLists.txt
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @nsmithtt

Add llama and resnet emitc tests
  include/ttmlir/Dialect/TTNN/Utils/TransformUtils.h
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
  lib/Dialect/TTNN/Transforms/Passes.cpp
  lib/Dialect/TTNN/Utils/TransformUtils.cpp
  test/ttmlir/EmitC/TTNN/models/llama_prefill.mlir
  test/ttmlir/EmitC/TTNN/models/resnet.mlir
  test/ttmlir/EmitC/TTNN/tensor/repeat_interleave.mlir
  tools/ttnn-standalone/ci_compile_dylib.py
  tools/ttnn-standalone/ttnn-precompiled.hpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

add anonymous namespace wrappers
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT

Add translation pass from mlir::llvm to dylib (#1560)
  include/ttmlir/Target/LLVM/LLVMToDynamicLib.h
  lib/SharedLib/CMakeLists.txt
  lib/Target/CMakeLists.txt
  lib/Target/LLVM/CMakeLists.txt
  lib/Target/LLVM/LLVMToDynamicLib.cpp
  lib/Target/LLVM/LLVMToDynamicLibRegistration.cpp
  test/ttmlir/Translate/LLVM/dylib.mlir
  tools/ttmlir-translate/ttmlir-translate.cpp
Owners: @nsmithtt, @sdjordjevicTT, @svuckovicTT, @mtopalovicTT

test
  .github/scripts/pr.py
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @tapspatel

#2105: Expanded test coverage for working multichip configurations and ccl operations
  .github/workflows/build-and-test.yml
  runtime/tools/python/ttrt/common/perf.py
  test/ttmlir/Conversion/StableHLOToTTIR/ccl_ops.mlir
  test/ttmlir/Silicon/TTNN/llmbox/perf/all_gather.mlir
  test/ttmlir/Silicon/TTNN/llmbox/perf/all_reduce.mlir
  test/ttmlir/Silicon/TTNN/n300/perf/all_gather.mlir
  test/ttmlir/Silicon/TTNN/n300/perf/all_reduce.mlir
  test/ttmlir/Silicon/TTNN/tg/perf/all_gather.mlir
Owners: @vmilosevic, @tapspatel, @nsmithtt

test
  .github/scripts/pr.py
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @tapspatel

test
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @tapspatel

test
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @tapspatel

[build] fix install of tt-metal shared libs (#2129)
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

test
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @tapspatel

test
  .github/scripts/pr.py
Owners: @vmilosevic, @tapspatel

test
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @tapspatel

test
  .github/scripts/pr.py
Owners: @vmilosevic, @tapspatel

test
  .github/scripts/pr.py
Owners: @vmilosevic, @tapspatel

Enable arange test (#2132)
  test/ttmlir/Dialect/TTNN/arange/arange_tests_positive.mlir
Owners: none

Add TTNN ToLayout Ops around hoisted func calls (#1925)
  lib/Dialect/TTIR/Transforms/Allocate.cpp
  lib/Dialect/TTNN/Transforms/Passes.cpp
  lib/Dialect/TTNN/Transforms/TTNNDecomposeLayouts.cpp
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/mnist_inference.mlir
  test/ttmlir/Dialect/TTNN/ttir_to_ttnn_pipeline_hoist_call.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

Fix docker tagging logic (#2118)
  .github/build-docker-images.sh
Owners: @vmilosevic, @tapspatel

#2105: Expanded test coverage for working multichip configurations and ccl operations (#2106)
  .github/workflows/build-and-test.yml
  runtime/tools/python/ttrt/common/perf.py
  test/ttmlir/Conversion/StableHLOToTTIR/ccl_ops.mlir
  test/ttmlir/Silicon/TTNN/llmbox/perf/all_gather.mlir
  test/ttmlir/Silicon/TTNN/llmbox/perf/all_reduce.mlir
  test/ttmlir/Silicon/TTNN/n300/perf/all_gather.mlir
  test/ttmlir/Silicon/TTNN/n300/perf/all_reduce.mlir
  test/ttmlir/Silicon/TTNN/tg/perf/all_gather.mlir
Owners: @vmilosevic, @tapspatel, @nsmithtt

Interim
  python/TTNNModule.cpp
  tools/explorer/test/run_tests.py
  tools/explorer/tt_adapter/src/tt_adapter/mlir.py
Owners: @nsmithtt, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT, @tt-mpantic, @sdjordjevicTT

Uplift third_party/tt-metal to b552fb8ae14236777983e3521a312dd78432f0e1 2025-02-07 (#2139)
  lib/OpModel/TTNN/Conversion.cpp
  lib/OpModel/TTNN/MetalHeaders.h
  runtime/lib/ttnn/runtime.cpp
  third_party/CMakeLists.txt
  tools/ttnn-standalone/ttnn-precompiled.hpp
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @azecevicTT, @jserbedzijaTT

grab changes from e2e branch
  include/ttmlir/Target/TTNN/program.fbs
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  lib/Target/TTNN/TTNNToFlatbufferRegistration.cpp
Owners: @tapspatel, @nsmithtt

rebase main
  include/ttmlir/Target/TTNN/program.fbs
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
Owners: @tapspatel, @nsmithtt

add missing cmake
  runtime/test/include/tt/runtime/ttnn/test/CMakeLists.txt
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

runtime deps
  runtime/lib/CMakeLists.txt
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

copy libTTMLIRRuntime.so into ttrt wheel
  runtime/tools/python/setup.py
Owners: @tapspatel, @nsmithtt

linux linking issues
  cmake/modules/CMakeLists.txt
  lib/CAPI/CMakeLists.txt
  lib/Dialect/TTMetal/Pipelines/CMakeLists.txt
  lib/Dialect/TTNN/CMakeLists.txt
  lib/Dialect/TTNN/IR/CMakeLists.txt
  lib/Dialect/TTNN/Pipelines/CMakeLists.txt
  lib/Dialect/TTNN/Transforms/CMakeLists.txt
  runtime/lib/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT, @vroubtsovTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Cleanup ttrt build and link
  lib/CMakeLists.txt
  runtime/lib/CMakeLists.txt
  runtime/test/CMakeLists.txt
  runtime/tools/python/setup.py
Owners: @nsmithtt, @sdjordjevicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @tapspatel

Fix macOS build; other cmake cleanup
  lib/CMakeLists.txt
  lib/SharedLib/empty.cpp
  runtime/lib/CMakeLists.txt
  runtime/test/CMakeLists.txt
  runtime/tools/python/CMakeLists.txt
  runtime/tools/python/setup.py
  test/CMakeLists.txt
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @tapspatel

fix linking errors with python build and gtests
  lib/Scheduler/CMakeLists.txt
  python/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT

build with rpath
  runtime/lib/CMakeLists.txt
  runtime/tools/python/CMakeLists.txt
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @tapspatel, @nsmithtt

runtime tests
  test/unittests/Optimizer/CMakeLists.txt
  test/unittests/TestScheduler/CMakeLists.txt
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @nsmithtt

switch to static linking wholesale
  env/CMakeLists.txt
  lib/CAPI/CMakeLists.txt
  lib/CMakeLists.txt
  lib/Conversion/CMakeLists.txt
  lib/Conversion/StableHLOToTTIR/CMakeLists.txt
  lib/Conversion/TTIRToLinalg/CMakeLists.txt
  lib/Conversion/TTIRToTTIRDecomposition/CMakeLists.txt
  lib/Conversion/TTIRToTTMetal/CMakeLists.txt
  lib/Conversion/TTIRToTTNN/CMakeLists.txt
  lib/Conversion/TTKernelToEmitC/CMakeLists.txt
  lib/Conversion/TTNNToEmitC/CMakeLists.txt
  lib/Conversion/TosaToTTIR/CMakeLists.txt
  lib/Dialect/TTIR/Pipelines/CMakeLists.txt
  lib/Dialect/TTMetal/Pipelines/CMakeLists.txt
  lib/Dialect/TTNN/IR/CMakeLists.txt
  lib/Dialect/TTNN/Pipelines/CMakeLists.txt
  lib/Scheduler/CMakeLists.txt
  lib/Target/TTKernel/CMakeLists.txt
  python/CMakeLists.txt
  tools/ttmlir-lsp-server/CMakeLists.txt
  tools/ttmlir-opt/CMakeLists.txt
  tools/ttmlir-translate/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @mrakitaTT, @vroubtsovTT, @jnie-TT, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT

include flatbuffers in runtime
  runtime/lib/CMakeLists.txt
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Uplift third_party/tt-metal to b552fb8ae14236777983e3521a312dd78432f0e1 2025-02-07 (#2139)
  lib/Dialect/TTIR/Pipelines/TTIRPipelines.cpp
  lib/Dialect/TTNN/Pipelines/CMakeLists.txt
  lib/Dialect/TTNN/Pipelines/TTNNPipelines.cpp
  lib/OpModel/TTNN/Conversion.cpp
  lib/OpModel/TTNN/MetalHeaders.h
  runtime/lib/ttnn/runtime.cpp
  third_party/CMakeLists.txt
  tools/ttnn-standalone/ttnn-precompiled.hpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @jnie-TT, @odjuricicTT, @tt-mpantic, @kmabeeTT, @AleksKnezevic, @pilkicTT

static link llvm codegen
  lib/Target/LLVM/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

fixes for tests
  include/ttmlir/RegisterAll.h
  lib/RegisterAll.cpp
  python/Passes.cpp
  test/ttmlir/Dialect/TTNN/ttir_to_ttnn_pipeline_hoist_call.mlir
  tools/ttmlir-lsp-server/ttmlir-lsp-server.cpp
  tools/ttmlir-opt/ttmlir-opt.cpp
Owners: @nsmithtt, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT, @svuckovicTT, @mtopalovicTT

fix
  lib/Dialect/TTIR/Transforms/HoistCPUOps.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

.github/CODEOWNERS:

*.cmake @nsmithtt @sdjordjevicTT
*.fbs @tapspatel @nsmithtt
*.txt @nsmithtt @sdjordjevicTT
*.md @nsmithtt
/docs/ @nsmithtt
/env/ @nsmithtt
/.github/ @vmilosevic @tapspatel
/.github/CODEOWNERS @vmilosevic @tapspatel @nsmithtt @sdjordjevicTT @tt-mpantic
/include/ttmlir/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/include/ttmlir/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/include/ttmlir/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/lib/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/python/ @nsmithtt @tapspatel @odjuricicTT @vprajapati-tt @vcanicTT
/python/test_infra/ @nsmithtt @tapspatel @vprajapati-tt
/runtime/ @jnie-TT @kmabeeTT @AleksKnezevic @pilkicTT
/runtime/tools/ @tapspatel @nsmithtt
/test/ttmlir/Dialect/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/ttmlir/Silicon/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/Optimizer @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/OpModel @odjuricicTT @tt-mpantic @sdjordjevicTT
/tools/ @svuckovicTT @mtopalovicTT
/tools/explorer/ @odjuricicTT @tt-mpantic @sdjordjevicTT @vprajapati-tt @vcanicTT
/tools/ttnn-standalone @svuckovicTT @mtopalovicTT @sdjordjevicTT @azecevicTT @jserbedzijaTT
