Repository tenstorrent/tt-mlir, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nsmithtt, @sdjordjevicTT, @tapspatel, @vmilosevic, @tt-mpantic, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT, @mrakitaTT, @vroubtsovTT, @odjuricicTT, @vprajapati-tt, @vcanicTT, @kmabeeTT, @AleksKnezevic, @pilkicTT

works locally
  tools/explorer/tt_adapter/src/tt_adapter/mlir.py
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @vprajapati-tt, @vcanicTT

Fix bugs introduced by conv2d operation refactor
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  runtime/lib/ttnn/operations/conv/conv2d.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Use custom action
  .github/workflows/build-and-test.yml
Owners: @vmilosevic, @tapspatel

Fix pre commit check
  .github/workflows/build-and-test.yml
Owners: @vmilosevic, @tapspatel

cleanup
  tools/explorer/test/run_tests.py
  tools/explorer/tt_adapter/src/tt_adapter/main.py
  tools/explorer/tt_adapter/src/tt_adapter/mlir.py
  tools/explorer/tt_adapter/src/tt_adapter/utils.py
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @vprajapati-tt, @vcanicTT

Maximize build space on Github runners (#2324)
  .github/workflows/build-and-test.yml
Owners: @vmilosevic, @tapspatel

InterleavedAddrGenFast draft type
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOpsEnums.td
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOpsTypes.td
Owners: @nsmithtt, @vroubtsovTT

Dataformat enum
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOpsEnums.td
Owners: @nsmithtt, @vroubtsovTT

reader_bmm_8bank_output_tiles_partitioned working
  python/pykernel/pykernel_ast.py
  test/pykernel/matmul_common/reader_bmm_8bank_output_tiles_partitioned.py
Owners: @nsmithtt, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT

reader_bmm test pykernel
  test/pykernel/matmul_common/reader_bmm_8bank_output_tiles_partitioned.py
Owners: none

move the pass into TTKernel converters scope
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOps.td
  lib/Conversion/TTKernelToEmitC/TTKernelToEmitC.cpp
Owners: @nsmithtt, @vroubtsovTT

addrgen kinda working, still need to support dataformat
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOps.td
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOpsTypes.td
  lib/Conversion/TTKernelToEmitC/TTKernelToEmitC.cpp
  python/pykernel/pykernel_ast.py
Owners: @nsmithtt, @vroubtsovTT, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT

noc_async_read_tile working
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOps.td
  lib/Conversion/TTKernelToEmitC/TTKernelToEmitC.cpp
  python/pykernel/pykernel_ast.py
Owners: @nsmithtt, @vroubtsovTT, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT

reader_bmm_8bank working
  test/pykernel/matmul_common/reader_bmm_8bank.py
Owners: none

cleanup
  lib/Conversion/TTKernelToEmitC/TTKernelToEmitC.cpp
  python/pykernel/pykernel_ast.py
Owners: @nsmithtt, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT

add to lit
  test/pykernel/matmul_common/reader_bmm_8bank.py
  test/pykernel/matmul_common/reader_bmm_8bank_output_tiles_partitioned.py
  test/pykernel/matmul_common/writer_bmm_8bank.py
Owners: none

noc_async_write_tile working
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOps.td
  lib/Conversion/TTKernelToEmitC/TTKernelToEmitC.cpp
  python/pykernel/pykernel_ast.py
Owners: @nsmithtt, @vroubtsovTT, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT

writer_bmm_8bank working
  test/pykernel/matmul_common/writer_bmm_8bank.py
Owners: none

addrgen struct and get_dataformat working
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOps.td
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOpsEnums.td
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOpsTypes.td
  lib/Conversion/TTKernelToEmitC/TTKernelToEmitC.cpp
  python/pykernel/pykernel_ast.py
Owners: @nsmithtt, @vroubtsovTT, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT

wip
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOpsTypes.td
  lib/Conversion/TTKernelToEmitC/TTKernelToEmitC.cpp
Owners: @nsmithtt, @vroubtsovTT

review
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOps.td
  lib/Conversion/TTKernelToEmitC/TTKernelToEmitC.cpp
  test/ttmlir/Conversion/TTKernelToEmitC/ttkernel.mlir
Owners: @nsmithtt, @vroubtsovTT

llvm uplift fix
  python/pykernel/pykernel_ast.py
Owners: @nsmithtt, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT

lit unit tests for added ops (should be working?)
  test/ttmlir/Conversion/TTKernelToEmitC/ttkernel.mlir
Owners: none

Add data type workaround for binary ops
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNWorkarounds.h
  lib/Dialect/TTNN/IR/TTNNWorkarounds.cpp
  test/ttmlir/Dialect/TTNN/Transforms/Workarounds/binary_ops_workaround.mlir
  test/ttmlir/Dialect/TTNN/data_movement/repeat/implicit_repeat.mlir
  test/ttmlir/Dialect/TTNN/implicit_broadcast.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

Add ViewLayout Operation
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Dialect/TTIR/IR/TTIROps.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Uplift third_party/tt-metal to 9b3d8557734bba9b5c7e91e178b85e4e019022cf 2025-02-28
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

point metal to feb 28 latest
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

Rebase fix
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
Owners: @svuckovicTT, @sdjordjevicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

UnaryEltwise onboard
  include/ttmlir/Conversion/TTNNToEmitC/EmitCConversion.h
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
Owners: @svuckovicTT, @sdjordjevicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

Added a few more types
  include/ttmlir/Conversion/TTNNToEmitC/EmitCConversion.h
Owners: @svuckovicTT, @sdjordjevicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

onboard few more types
  include/ttmlir/Conversion/TTNNToEmitC/EmitCConversion.h
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
Owners: @svuckovicTT, @sdjordjevicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

N-M conversions
  include/ttmlir/Conversion/TTNNToEmitC/EmitCConversion.h
Owners: @svuckovicTT, @sdjordjevicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

1-1 conversions
  include/ttmlir/Conversion/TTNNToEmitC/EmitCConversion.h
Owners: @svuckovicTT, @sdjordjevicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

Setup namespaces
  include/ttmlir/Conversion/TTNNToEmitC/EmitCConversion.h
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
Owners: @svuckovicTT, @sdjordjevicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

Op replacment function
  include/ttmlir/Conversion/TTNNToEmitC/EmitCConversion.h
Owners: @svuckovicTT, @sdjordjevicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

Onboard MeanOp
  include/ttmlir/Conversion/TTNNToEmitC/EmitCConversion.h
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
Owners: @svuckovicTT, @sdjordjevicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

EmitCEmitter class
  include/ttmlir/Conversion/TTNNToEmitC/EmitCConversion.h
Owners: @svuckovicTT, @sdjordjevicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

Onboard few ops and fix few issues
  include/ttmlir/Conversion/TTNNToEmitC/EmitCConversion.h
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
Owners: @svuckovicTT, @sdjordjevicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

Put h.inc in appropriate place
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
Owners: @svuckovicTT, @sdjordjevicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

Added gtests for conversions
  include/ttmlir/Conversion/TTNNToEmitC/EmitCConversion.h
  test/unittests/CMakeLists.txt
  test/unittests/TTNNToEmitC/CMakeLists.txt
  test/unittests/TTNNToEmitC/TestEmitCConversion.cpp
Owners: @svuckovicTT, @sdjordjevicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @nsmithtt

.github/CODEOWNERS:

*.cmake @nsmithtt @sdjordjevicTT
*.fbs @tapspatel @nsmithtt
*.txt @nsmithtt @sdjordjevicTT
*.md @nsmithtt
/docs/ @nsmithtt
/env/ @nsmithtt
/.github/ @vmilosevic @tapspatel
/.github/CODEOWNERS @vmilosevic @tapspatel @nsmithtt @sdjordjevicTT @tt-mpantic
/include/ttmlir/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/include/ttmlir/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/include/ttmlir/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/lib/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/python/ @nsmithtt @tapspatel @odjuricicTT @vprajapati-tt @vcanicTT
/python/test_infra/ @nsmithtt @tapspatel @vprajapati-tt
/runtime/ @jnie-TT @kmabeeTT @AleksKnezevic @pilkicTT
/runtime/tools/ @tapspatel @nsmithtt
/test/ttmlir/Dialect/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/ttmlir/Silicon/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/Optimizer @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/OpModel @odjuricicTT @tt-mpantic @sdjordjevicTT
/tools/ @svuckovicTT @mtopalovicTT
/tools/explorer/ @odjuricicTT @tt-mpantic @sdjordjevicTT @vprajapati-tt @vcanicTT
/tools/ttnn-standalone @svuckovicTT @mtopalovicTT @sdjordjevicTT @azecevicTT @jserbedzijaTT
