Repository tenstorrent/tt-mlir, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nsmithtt, @sdjordjevicTT, @tapspatel, @vmilosevic, @tt-mpantic, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT, @mrakitaTT, @vroubtsovTT, @odjuricicTT, @vprajapati-tt, @vcanicTT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Style Changes + Added Accuracy Test
  .github/workflows/build-and-test.yml
  tools/explorer/test/run_tests.py
  tools/explorer/tt_adapter/src/tt_adapter/main.py
  tools/explorer/tt_adapter/src/tt_adapter/mlir.py
Owners: @vmilosevic, @tapspatel, @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @vprajapati-tt, @vcanicTT

Accommodate DPS in EmitC
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
Owners: @svuckovicTT, @sdjordjevicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

Refactor patterns after canonicalization merge
  lib/Dialect/TTIR/IR/TTIROps.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

remove new line
  include/ttmlir/Target/TTNN/program.fbs
Owners: @tapspatel, @nsmithtt

Fusing transpose into linear transpose_input parameter
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Dialect/TTIR/IR/TTIROps.cpp
  test/ttmlir/Dialect/TTIR/canonicalize/linear_op_canonicalize.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

ttnn.linear transpose attrs
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Target/TTNN/program.fbs
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/operations/matmul/matmul.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @tapspatel, @nsmithtt, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Linear tests with transpose
  test/ttmlir/Dialect/TTIR/linear/linear_tests_negative.mlir
  test/ttmlir/Dialect/TTNN/linear/linear_tests_positive.mlir
Owners: none

Fusing transpose into matmul transpose_input parameter
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Dialect/TTIR/IR/TTIROps.cpp
  test/ttmlir/Dialect/TTIR/canonicalize/matmul_op_canonicalize.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

ttnn.matmul transpose attrs
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Target/TTNN/program.fbs
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/operations/matmul/matmul.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @tapspatel, @nsmithtt, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Updated matmul tests
  test/ttmlir/Dialect/TTNN/matmul/matmul_tests_negative.mlir
  test/ttmlir/Dialect/TTNN/matmul/matmul_tests_positive.mlir
  test/ttmlir/Dialect/TTNN/matmul/simple_matmul.mlir
  test/ttmlir/Silicon/TTNN/n150/matmul/llama_matmul.mlir
  test/ttmlir/Silicon/TTNN/n150/matmul/simple_matmul.mlir
  test/ttmlir/Silicon/TTNN/n150/perf/test_perf_matmul.mlir
Owners: none

Runtime changes
  include/ttmlir/Target/TTNN/program.fbs
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/operations/matmul/matmul.cpp
Owners: @tapspatel, @nsmithtt, @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Runtime asserts for memory config
  runtime/lib/ttnn/operations/matmul/matmul.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Return linear -> mamtul folding pattern
  lib/Dialect/TTIR/IR/TTIROps.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

ttir.matmul transpose input
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Dialect/TTIR/IR/TTIROps.cpp
  test/ttmlir/Dialect/TTIR/matmul/matmul_tests_negative.mlir
  test/ttmlir/Dialect/TTIR/matmul/matmul_tests_positive.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

LinearOp silicon tests with transpose
  test/ttmlir/Silicon/TTNN/n150/matmul/simple_matmul.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_linear.mlir
Owners: none

ttir.linear tranpose attrs
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Dialect/TTIR/IR/TTIROps.cpp
  test/ttmlir/Dialect/TTIR/linear/linear_tests_negative.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Add ttnn runtime debug lib, minor cmake cleanup
  runtime/lib/CMakeLists.txt
  runtime/lib/common/CMakeLists.txt
  runtime/lib/runtime.cpp
  runtime/lib/ttmetal/CMakeLists.txt
  runtime/lib/ttnn/CMakeLists.txt
  runtime/lib/ttnn/debug/CMakeLists.txt
  runtime/lib/ttnn/debug/debug_apis.cpp
  runtime/lib/ttnn/include/tt/runtime/ttnn/debug_apis.h
  runtime/lib/ttnn/include/tt/runtime/ttnn/utils.h
  runtime/lib/ttnn/operations/CMakeLists.txt
  runtime/lib/ttnn/types/CMakeLists.txt
  runtime/lib/ttnn/utils/CMakeLists.txt
  runtime/lib/ttnn/utils/utils.cpp
  runtime/tools/python/setup.py
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @tapspatel, @nsmithtt

InterleavedAddrGenFast draft type
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOpsEnums.td
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOpsTypes.td
Owners: @nsmithtt, @vroubtsovTT

Dataformat enum
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOpsEnums.td
Owners: @nsmithtt, @vroubtsovTT

wip
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOpsTypes.td
  lib/Conversion/TTKernelToEmitC/TTKernelToEmitC.cpp
Owners: @nsmithtt, @vroubtsovTT

addrgen kinda working, still need to support dataformat
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOps.td
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOpsTypes.td
  lib/Conversion/TTKernelToEmitC/TTKernelToEmitC.cpp
  python/pykernel/pykernel_ast.py
Owners: @nsmithtt, @vroubtsovTT, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT

ttnn -> flatbuffer fix
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
Owners: none

runtime output
  runtime/lib/ttnn/operations/matmul/matmul.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Transpose parameter in matmul/linear op (#1750)
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Target/TTNN/program.fbs
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/operations/matmul/matmul.cpp
  test/ttmlir/Dialect/TTIR/canonicalize/linear_op_canonicalize.mlir
  test/ttmlir/Dialect/TTIR/canonicalize/matmul_op_canonicalize.mlir
  test/ttmlir/Dialect/TTIR/linear/linear_tests_negative.mlir
  test/ttmlir/Dialect/TTIR/matmul/matmul_tests_negative.mlir
  test/ttmlir/Dialect/TTIR/matmul/matmul_tests_positive.mlir
  test/ttmlir/Dialect/TTNN/linear/linear_tests_positive.mlir
  test/ttmlir/Dialect/TTNN/matmul/matmul_tests_negative.mlir
  test/ttmlir/Dialect/TTNN/matmul/matmul_tests_positive.mlir
  test/ttmlir/Dialect/TTNN/matmul/simple_matmul.mlir
  test/ttmlir/Silicon/TTNN/n150/matmul/llama_matmul.mlir
  test/ttmlir/Silicon/TTNN/n150/matmul/simple_matmul.mlir
  test/ttmlir/Silicon/TTNN/n150/perf/test_perf_matmul.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_linear.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @tapspatel, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

WIP
  include/ttmlir/Conversion/TTNNToEmitC/EmitCConversion.h
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
Owners: @svuckovicTT, @sdjordjevicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

fix TestOpModelLib
  test/unittests/OpModel/TTNN/Lib/CMakeLists.txt
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT

check
  .github/workflows/build-and-test.yml
Owners: @vmilosevic, @tapspatel

mark unsupported
  test/ttmlir/Silicon/TTNN/n150/Transforms/DecomposeLayouts/decomposing_layouts_from_host.mlir
Owners: none

debug build step
  .github/workflows/build-and-test.yml
Owners: @vmilosevic, @tapspatel

no-rtti for opmodel tests
  test/unittests/OpModel/TTNN/Conversion/CMakeLists.txt
  test/unittests/OpModel/TTNN/Lib/CMakeLists.txt
  test/unittests/OpModel/TTNN/Op/CMakeLists.txt
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT

id
  .github/workflows/build-and-test.yml
Owners: @vmilosevic, @tapspatel

disable runtime
  .github/workflows/build-and-test.yml
Owners: @vmilosevic, @tapspatel

Fix debug build
  python/CMakeLists.txt
Owners: @nsmithtt, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT

eof
  test/ttmlir/Silicon/TTNN/n150/Transforms/DecomposeLayouts/decomposing_layouts_from_host.mlir
Owners: none

Fix debug build (#2238)
  .github/workflows/build-and-test.yml
  python/CMakeLists.txt
  test/ttmlir/Silicon/TTNN/n150/Transforms/DecomposeLayouts/decomposing_layouts_from_host.mlir
  test/unittests/OpModel/TTNN/Conversion/CMakeLists.txt
  test/unittests/OpModel/TTNN/Lib/CMakeLists.txt
  test/unittests/OpModel/TTNN/Op/CMakeLists.txt
Owners: @vmilosevic, @tapspatel, @nsmithtt, @odjuricicTT, @vprajapati-tt, @vcanicTT, @tt-mpantic, @sdjordjevicTT

Multidevice to host
  runtime/include/tt/runtime/detail/ttnn.h
  runtime/include/tt/runtime/runtime.h
  runtime/lib/runtime.cpp
  runtime/lib/ttnn/runtime.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Adding ability to reload system device and device descriptors and fixing one flaky test.
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  lib/Dialect/TTIR/Transforms/Utility.cpp
  test/ttmlir/Dialect/TTNN/Transforms/DecomposeLayouts/decomposing_layouts_from_host.mlir
  test/ttmlir/Silicon/TTNN/n150/Transforms/DecomposeLayouts/decomposing_layouts_from_host.mlir
  tools/scripts/extract-and-replace-system-desc-and-device.py
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Update build-requirements.txt (#2225)
  env/build_venv.sh
Owners: @nsmithtt

Add verifier for `TTNNLayoutAttr`
  include/ttmlir/Dialect/TTNN/IR/TTNNOpsAttrs.td
  lib/Dialect/TTNN/IR/TTNNOpsAttrs.cpp
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
  test/ttmlir/Dialect/TTNN/data_movement/to_memory_config/to_memory_config_tests_negative.mlir
  test/ttmlir/Dialect/TTNN/layout_encoding.mlir
  test/unittests/OpModel/TTNN/Conversion/TestConversion.cpp
  test/unittests/OpModel/TTNN/OpModelFixture.h
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @jnie-TT, @odjuricicTT, @tt-mpantic

Addressing comments. Fixing withBufferType to handle cases where we want to create L1 buffer type from System layout.
  lib/Dialect/TTNN/IR/TTNNOpsAttrs.cpp
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT

.github/CODEOWNERS:

*.cmake @nsmithtt @sdjordjevicTT
*.fbs @tapspatel @nsmithtt
*.txt @nsmithtt @sdjordjevicTT
*.md @nsmithtt
/docs/ @nsmithtt
/env/ @nsmithtt
/.github/ @vmilosevic @tapspatel
/.github/CODEOWNERS @vmilosevic @tapspatel @nsmithtt @sdjordjevicTT @tt-mpantic
/include/ttmlir/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/include/ttmlir/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/include/ttmlir/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/lib/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/python/ @nsmithtt @tapspatel @odjuricicTT @vprajapati-tt @vcanicTT
/python/test_infra/ @nsmithtt @tapspatel @vprajapati-tt
/runtime/ @jnie-TT @kmabeeTT @AleksKnezevic @pilkicTT
/runtime/tools/ @tapspatel @nsmithtt
/test/ttmlir/Dialect/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/ttmlir/Silicon/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/Optimizer @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/OpModel @odjuricicTT @tt-mpantic @sdjordjevicTT
/tools/ @svuckovicTT @mtopalovicTT
/tools/explorer/ @odjuricicTT @tt-mpantic @sdjordjevicTT @vprajapati-tt @vcanicTT
/tools/ttnn-standalone @svuckovicTT @mtopalovicTT @sdjordjevicTT @azecevicTT @jserbedzijaTT
