Repository tenstorrent/tt-mlir, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nsmithtt, @sdjordjevicTT, @tapspatel, @vmilosevic, @tt-mpantic, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT, @mrakitaTT, @vroubtsovTT, @odjuricicTT, @vprajapati-tt, @vcanicTT, @kmabeeTT, @AleksKnezevic, @pilkicTT

.github/CODEOWNERS:

*.cmake @nsmithtt @sdjordjevicTT
*.fbs @tapspatel @nsmithtt
*.txt @nsmithtt @sdjordjevicTT
*.md @nsmithtt
/docs/ @nsmithtt
/env/ @nsmithtt
/.github/ @vmilosevic @tapspatel
/.github/CODEOWNERS @vmilosevic @tapspatel @nsmithtt @sdjordjevicTT @tt-mpantic
/include/ttmlir/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/include/ttmlir/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/include/ttmlir/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/lib/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/python/ @nsmithtt @tapspatel @odjuricicTT @vprajapati-tt @vcanicTT
/python/test_infra/ @nsmithtt @tapspatel @vprajapati-tt
/runtime/ @jnie-TT @kmabeeTT @AleksKnezevic @pilkicTT
/runtime/tools/ @tapspatel @nsmithtt
/test/ttmlir/Dialect/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/ttmlir/Silicon/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/Optimizer @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/OpModel @odjuricicTT @tt-mpantic @sdjordjevicTT
/tools/ @svuckovicTT @mtopalovicTT
/tools/explorer/ @odjuricicTT @tt-mpantic @sdjordjevicTT @vprajapati-tt @vcanicTT
/tools/ttnn-standalone @svuckovicTT @mtopalovicTT @sdjordjevicTT @azecevicTT @jserbedzijaTT

?
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT

and fix some tests I broke
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT

test
  .github/workflows/on-pr.yml
  docs/src/build.md
Owners: @vmilosevic, @tapspatel, @nsmithtt

Removed create_golden_tensor, created custom Constructor and store Vector copy on init
  include/ttmlir/Target/Utils/MLIRToFlatbuffer.h
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  python/Passes.cpp
  python/test_infra/ttir_builder.py
  tools/explorer/tt_adapter/src/tt_adapter/runner.py
Owners: @nsmithtt, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT, @tt-mpantic, @sdjordjevicTT

test
  .github/workflows/on-pr.yml
  docs/src/build.md
Owners: @vmilosevic, @tapspatel, @nsmithtt

test
  .github/workflows/on-pr.yml
  docs/src/build.md
Owners: @vmilosevic, @tapspatel, @nsmithtt

test
  .github/workflows/on-pr.yml
  docs/src/build.md
Owners: @vmilosevic, @tapspatel, @nsmithtt

test
  .github/workflows/on-pr.yml
  docs/src/build.md
Owners: @vmilosevic, @tapspatel, @nsmithtt

test
  .github/workflows/on-pr.yml
  docs/src/build.md
Owners: @vmilosevic, @tapspatel, @nsmithtt

test
  .github/workflows/on-pr.yml
  docs/src/build.md
Owners: @vmilosevic, @tapspatel, @nsmithtt

test
  .github/scripts/pr-skip-check.sh
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @tapspatel

test
  .github/workflows/on-pr.yml
  docs/src/build.md
Owners: @vmilosevic, @tapspatel, @nsmithtt

test
  .github/scripts/pr-skip-check.sh
  docs/src/build.md
Owners: @vmilosevic, @tapspatel, @nsmithtt

Uplift third_party/tt-metal to b093594aa5fc01f7c008a0b5ffddbcf2713bd8f7 2025-02-06 (#2128)
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
  third_party/CMakeLists.txt
  tools/ttnn-standalone/CMakeLists.txt
Owners: @svuckovicTT, @sdjordjevicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @nsmithtt

test
  .github/scripts/pr-skip-check.py
  .github/workflows/on-pr.yml
  docs/src/build.md
Owners: @vmilosevic, @tapspatel, @nsmithtt

test
  .github/scripts/pr.py
Owners: @vmilosevic, @tapspatel

test
  .github/scripts/pr-skip-check.sh
  .github/scripts/pr.py
Owners: @vmilosevic, @tapspatel

test
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @tapspatel

test
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @tapspatel

test
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @tapspatel

test
  .github/scripts/pr.py
  .github/scripts/test_pr.py
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @tapspatel

test
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @tapspatel

test
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @tapspatel

test
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @tapspatel

test
  .github/scripts/pr.py
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @tapspatel

test
  .github/scripts/pr.py
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @tapspatel

test
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @tapspatel

test
  .github/scripts/pr.py
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @tapspatel

test
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @tapspatel

test
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @tapspatel

test
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @tapspatel

test
  .github/scripts/pr.py
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @tapspatel

test
  .github/scripts/pr.py
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @tapspatel

test
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @tapspatel

test
  .github/scripts/pr.py
Owners: @vmilosevic, @tapspatel

test
  .github/scripts/pr.py
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @tapspatel

Uplift third_party/tt-metal to b552fb8ae14236777983e3521a312dd78432f0e1 2025-02-07
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

test
  .github/scripts/pr.json
  .github/scripts/pr.py
  .github/scripts/test_pr.py
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @tapspatel

[build] fix install of tt-metal shared libs (#2129)
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

WIP
  env/CMakeLists.txt
Owners: @nsmithtt
