Repository tenstorrent/tt-mlir, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nsmithtt, @sdjordjevicTT, @tapspatel, @vmilosevic, @tt-mpantic, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT, @mrakitaTT, @vroubtsovTT, @odjuricicTT, @vprajapati-tt, @vcanicTT, @kmabeeTT, @AleksKnezevic, @pilkicTT

.github/CODEOWNERS:

*.cmake @nsmithtt @sdjordjevicTT
*.fbs @tapspatel @nsmithtt
*.txt @nsmithtt @sdjordjevicTT
*.md @nsmithtt
/docs/ @nsmithtt
/env/ @nsmithtt
/.github/ @vmilosevic @tapspatel
/.github/CODEOWNERS @vmilosevic @tapspatel @nsmithtt @sdjordjevicTT @tt-mpantic
/include/ttmlir/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/include/ttmlir/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/include/ttmlir/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/lib/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/python/ @nsmithtt @tapspatel @odjuricicTT @vprajapati-tt @vcanicTT
/python/test_infra/ @nsmithtt @tapspatel @vprajapati-tt
/runtime/ @jnie-TT @kmabeeTT @AleksKnezevic @pilkicTT
/runtime/tools/ @tapspatel @nsmithtt
/test/ttmlir/Dialect/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/ttmlir/Silicon/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/Optimizer @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/OpModel @odjuricicTT @tt-mpantic @sdjordjevicTT
/tools/ @svuckovicTT @mtopalovicTT
/tools/explorer/ @odjuricicTT @tt-mpantic @sdjordjevicTT @vprajapati-tt @vcanicTT
/tools/ttnn-standalone @svuckovicTT @mtopalovicTT @sdjordjevicTT @azecevicTT @jserbedzijaTT

Remove references to SimpleMeshShape after metal commit f3bb74d
  runtime/lib/common/system_desc.cpp
  runtime/lib/ttmetal/runtime.cpp
  runtime/lib/ttnn/operations/context/get_device.cpp
  runtime/lib/ttnn/runtime.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

fixes
  runtime/test/ttnn/dylib.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

undo 'cursor in wrong window' change
  runtime/test/ttnn/dylib.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Uplift third_party/tt-metal to 57ba436ec4366d9129df6a53b2d9e1e828ef0356 2025-02-25
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

Remove references to SimpleMeshShape after metal commit f3bb74d
  runtime/lib/common/system_desc.cpp
  runtime/lib/ttmetal/runtime.cpp
  runtime/lib/ttnn/operations/context/get_device.cpp
  runtime/lib/ttnn/runtime.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Add to runtime Tensor API
  runtime/include/tt/runtime/types.h
  runtime/lib/ttmetal/runtime.cpp
  runtime/lib/ttnn/include/tt/runtime/ttnn/utils.h
  runtime/lib/ttnn/runtime.cpp
  runtime/lib/ttnn/utils/utils.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Hacks to support int32 for binary ops in runtime.
  runtime/lib/ttnn/operations/eltwise/binary/binary.cpp
  runtime/lib/ttnn/operations/eltwise/binary/binary_composite.cpp
  runtime/lib/ttnn/operations/include/tt/runtime/ttnn/operations/eltwise/binary/utils.cpp
  runtime/lib/ttnn/operations/include/tt/runtime/ttnn/operations/eltwise/binary/utils.h
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Hacks to support int32 for binary ops in runtime.
  runtime/lib/ttnn/operations/eltwise/binary/binary.cpp
  runtime/lib/ttnn/operations/eltwise/binary/binary_composite.cpp
  runtime/lib/ttnn/operations/include/tt/runtime/ttnn/operations/eltwise/binary/utils.cpp
  runtime/lib/ttnn/operations/include/tt/runtime/ttnn/operations/eltwise/binary/utils.h
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Add support for negative constant
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/constant_op.mlir
  test/ttmlir/Dialect/TTNN/simple_constant.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

Add Llama Attention Test in `ttir_builder`
  test/python/golden/test_ttir_models.py
  test/python/golden/test_ttir_ops.py
Owners: none

Test LLama Attention WIP
  python/test_infra/test_utils.py
  test/python/golden/test_ttir_models.py
  test/ttmlir/Silicon/TTNN/n150/models/llama_attention.mlir
Owners: @nsmithtt, @tapspatel, @vprajapati-tt

Remove TT_TensorMemoryLayout (#2255)
  include/ttmlir-c/TTAttrs.h
  include/ttmlir/Dialect/TT/IR/TTOpsEnums.td
  include/ttmlir/Dialect/TT/IR/TTOpsTypes.h
  include/ttmlir/Dialect/TT/IR/TTOpsTypes.td
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOpsEnums.td
  include/ttmlir/Dialect/TTNN/Utils/Utils.h
  lib/CAPI/TTAttrs.cpp
  lib/Conversion/TTIRToTTMetal/TTIRToTTMetal.cpp
  lib/Dialect/TT/IR/TTOpsTypes.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTIR/Transforms/Layout.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
  lib/Dialect/TTNN/Utils/Utils.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  python/TTModule.cpp
  test/python/tensor_layout.py
  test/ttmlir/Dialect/TTIR/split_compound_layout.mlir
  test/ttmlir/Dialect/TTIR/test_allocate.mlir
  tools/explorer/tt_adapter/src/tt_adapter/mlir.py
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT, @jnie-TT, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT, @tt-mpantic

[Everywhere] Replace `dyn_cast_or_null` with `dyn_cast_if_present` (#2260)
  include/ttmlir/Target/Utils/FuncOpToProgram.h
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TT/Transforms/TTModuleWrap.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTIR/Transforms/HoistCPUOps.cpp
  lib/Dialect/TTKernel/IR/TTKernelOps.cpp
  lib/Dialect/TTMetal/IR/TTMetalOps.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  lib/Target/TTMetal/TTMetalToFlatbuffer.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @nsmithtt, @mrakitaTT, @vroubtsovTT, @jnie-TT

Add verifier for `TTNNLayoutAttr` (#2244)
  include/ttmlir/Dialect/TTNN/IR/TTNNOpsAttrs.td
  lib/Dialect/TTNN/IR/TTNNOpsAttrs.cpp
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
  test/ttmlir/Dialect/TTNN/data_movement/to_memory_config/to_memory_config_tests_negative.mlir
  test/ttmlir/Dialect/TTNN/layout_encoding.mlir
  test/unittests/OpModel/TTNN/Conversion/TestConversion.cpp
  test/unittests/OpModel/TTNN/OpModelFixture.h
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @jnie-TT, @odjuricicTT, @tt-mpantic

Only run clang-tidy on files in the current diff (#2245)
  .github/workflows/build-and-test.yml
  cmake/modules/LintTools.cmake
  tools/scripts/filter-compile-commands.py
Owners: @vmilosevic, @tapspatel, @nsmithtt, @sdjordjevicTT, @svuckovicTT, @mtopalovicTT

Add support for stablehlo.reduce op for logical or operator (#2160)
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecomposition.cpp
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecompositionPass.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/reduction/reduce_or_op.mlir
  test/ttmlir/Decomposition/TTIR/reduction/reduce_or.mlir
  test/ttmlir/Dialect/TTNN/reduction/simple_reduce_or.mlir
  test/ttmlir/Silicon/StableHLO/n150/reduction/reduce_or_op.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_reduce_or.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

improving ttkernel conversion tests: part 1 (#2282)
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOps.td
  python/pykernel/pykernel_ast.py
  test/python/simple_kernel.py
  test/ttmlir/Conversion/TTKernelToEmitC/ttkernel.mlir
Owners: @nsmithtt, @vroubtsovTT, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT

try to fix sys_desc issue for cases where we add ttir sys_desc via separate pass
  lib/Dialect/TT/Transforms/TTModuleWrap.cpp
  runtime/tools/python/ttrt/common/util.py
  tools/ttnn-standalone/ttnn-standalone.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @tapspatel

rm spurious changes
  runtime/tools/python/ttrt/common/util.py
  tools/ttnn-standalone/ttnn-standalone.cpp
Owners: @tapspatel, @nsmithtt, @svuckovicTT, @mtopalovicTT, @sdjordjevicTT, @azecevicTT, @jserbedzijaTT

Uplift third_party/tt-metal to 57ba436ec4366d9129df6a53b2d9e1e828ef0356 2025-02-25 (#2256)
  runtime/lib/common/system_desc.cpp
  runtime/lib/ttmetal/runtime.cpp
  runtime/lib/ttnn/operations/context/get_device.cpp
  runtime/lib/ttnn/operations/eltwise/binary/binary.cpp
  runtime/lib/ttnn/operations/eltwise/binary/binary_composite.cpp
  runtime/lib/ttnn/operations/include/tt/runtime/ttnn/operations/eltwise/binary/utils.cpp
  runtime/lib/ttnn/operations/include/tt/runtime/ttnn/operations/eltwise/binary/utils.h
  runtime/lib/ttnn/runtime.cpp
  third_party/CMakeLists.txt
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @nsmithtt, @sdjordjevicTT

Uplift third_party/tt-metal to e0585b2cdb34e013544623d04beb2120209bda8e 2025-02-26
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

Fix path to optimizer tests
  .github/workflows/build-and-test.yml
Owners: @vmilosevic, @tapspatel

WIP
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Try to optimize docker build image
  .github/Dockerfile.ci
Owners: @vmilosevic, @tapspatel

Tmp
  python/TTNNModule.cpp
  runtime/tools/python/ttrt/common/util.py
  test/CMakeLists.txt
  test/ttmlir/Silicon/TTNN/n150/optimizer/lit.site.cfg.py.bck
  test/ttmlir/Silicon/TTNN/n150/optimizer/lit.site.cfg.py.in
  tools/explorer/CMakeLists.txt
  tools/explorer/tt_adapter/src/tt_adapter/main.py
  tools/explorer/tt_adapter/src/tt_adapter/mlir.py
  tools/explorer/tt_adapter/src/tt_adapter/runner.py
  tools/ttnn-standalone/ttnn-standalone.cpp
Owners: @nsmithtt, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT, @sdjordjevicTT, @tt-mpantic, @svuckovicTT, @mtopalovicTT, @azecevicTT, @jserbedzijaTT

enable program cache
  runtime/lib/ttnn/runtime.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

change 1 testcase
  test/ttmlir/Dialect/TTNN/Transforms/ttnn_modify_signatures_for_dylib_0.mlir
Owners: none

Uplift third_party/tt-metal to 57ba436ec4366d9129df6a53b2d9e1e828ef0356 2025-02-25 (#2256)
  runtime/lib/common/system_desc.cpp
  runtime/lib/ttmetal/runtime.cpp
  runtime/lib/ttnn/operations/context/get_device.cpp
  runtime/lib/ttnn/operations/eltwise/binary/binary.cpp
  runtime/lib/ttnn/operations/eltwise/binary/binary_composite.cpp
  runtime/lib/ttnn/operations/include/tt/runtime/ttnn/operations/eltwise/binary/utils.cpp
  runtime/lib/ttnn/operations/include/tt/runtime/ttnn/operations/eltwise/binary/utils.h
  runtime/lib/ttnn/runtime.cpp
  third_party/CMakeLists.txt
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @nsmithtt, @sdjordjevicTT

I give up, CI debug printing
  tools/explorer/test/run_tests.py
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @vprajapati-tt, @vcanicTT

attempt to make explorer robust to nested modules
  tools/explorer/tt_adapter/src/tt_adapter/utils.py
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @vprajapati-tt, @vcanicTT

Only run clang-tidy for PRs, not needed for push (#2281)
  .github/workflows/build-and-test.yml
Owners: @vmilosevic, @tapspatel

Removing dps op on embedding/concat/slice
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  lib/Dialect/TTNN/IR/TTNNWorkarounds.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  test/ttmlir/Dialect/TTNN/Transforms/Workarounds/embedding_workaround.mlir
  test/ttmlir/Dialect/TTNN/Transforms/Workarounds/slice_workaround.mlir
  test/ttmlir/Dialect/TTNN/data_movement/concat/concat_multiple_tensors.mlir
  test/ttmlir/Dialect/TTNN/data_movement/concat/concat_negative_dim.mlir
  test/ttmlir/Dialect/TTNN/data_movement/concat/simple_concat.mlir
  test/ttmlir/Dialect/TTNN/embedding/embedding_non_tile.mlir
  test/ttmlir/Dialect/TTNN/embedding/gather_to_embedding.mlir
  test/ttmlir/Silicon/StableHLO/n150/Binary/concat_op.mlir
  test/ttmlir/Silicon/StableHLO/n150/slice_op.mlir
  test/ttmlir/Silicon/TTNN/n150/eltwise/binary/concat/concat.mlir
  test/ttmlir/Silicon/TTNN/n150/embedding/embedding_1d_tensor.mlir
  test/ttmlir/Silicon/TTNN/n150/embedding/embedding_non_tile.mlir
  test/ttmlir/Silicon/TTNN/n150/embedding/simple_embedding.mlir
  test/ttmlir/Silicon/TTNN/n150/perf/test_perf_concat.mlir
  test/ttmlir/Silicon/TTNN/n150/perf/test_perf_embedding.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

Disable llmbox in CI
  .github/workflows/build-and-test.yml
Owners: @vmilosevic, @tapspatel

origin/grim/explorer_memory_vis
  tools/explorer/tt_adapter/src/tt_adapter/main.py
  tools/explorer/tt_adapter/src/tt_adapter/mlir.py
  tools/explorer/tt_adapter/src/tt_adapter/runner.py
  tools/explorer/tt_adapter/src/tt_adapter/utils.py
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @vprajapati-tt, @vcanicTT

add some nasty debug stuff because I can't run this locally :(
  tools/explorer/tt_adapter/src/tt_adapter/utils.py
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @vprajapati-tt, @vcanicTT

doh
  tools/explorer/tt_adapter/src/tt_adapter/utils.py
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @vprajapati-tt, @vcanicTT

Cleaned up code, functional but needs to be tested
  tools/explorer/tt_adapter/src/tt_adapter/main.py
  tools/explorer/tt_adapter/src/tt_adapter/mlir.py
  tools/explorer/tt_adapter/src/tt_adapter/runner.py
  tools/explorer/tt_adapter/src/tt_adapter/utils.py
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @vprajapati-tt, @vcanicTT

Add LLama Attention Block To `TTBuilder` & Test (#2286)
  python/test_infra/test_utils.py
  test/python/golden/test_ttir_models.py
  test/python/golden/test_ttir_ops.py
  test/ttmlir/Silicon/TTNN/n150/models/llama_attention.mlir
Owners: @nsmithtt, @tapspatel, @vprajapati-tt

aha, need to somehow preserve named locations in nested module
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
Owners: none

Made test more verbose
  .github/workflows/build-and-test.yml
Owners: @vmilosevic, @tapspatel
