Repository tenstorrent/tt-mlir, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nsmithtt, @sdjordjevicTT, @tapspatel, @vmilosevic, @tt-mpantic, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT, @mrakitaTT, @nobradovictt, @rjakovljevicTT, @odjuricicTT, @vprajapati-tt, @vcanicTT, @kmabeeTT, @AleksKnezevic, @pilkicTT

yikes...
  runtime/tools/python/ttrt/common/run.py
  test/lit.cfg.py
  test/ttmlir/Silicon/TTNN/emitc/simple_add.mlir
  tools/ttnn-standalone/CMakeLists.txt
Owners: @tapspatel, @nsmithtt, @svuckovicTT, @mtopalovicTT

added two_fns
  test/ttmlir/Silicon/TTNN/emitc/two_fns.mlir
  tools/ttnn-standalone/CMakeLists.txt
Owners: @svuckovicTT, @mtopalovicTT

Uplift third_party/tt-metal to 2a86ff7fdde8561ec6c60f1635937ac2b13e122f 2024-12-27
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

Added tests for TTIR dot_general. Resolved conflicting types I64 and I32
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecomposition.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/dot_general/dot_general_2d.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/dot_general/dot_general_3d.mlir
  test/ttmlir/Decomposition/TTIR/dot_general/dot_general_test1.mlir
  test/ttmlir/Decomposition/TTIR/dot_general/dot_general_test2.mlir
Owners: none

mnist unsupp
  .github/workflows/build-and-test.yml
  test/lit.cfg.py
  test/ttmlir/Silicon/TTNN/emitc/mnist.mlir
Owners: @vmilosevic, @tapspatel

wip
  .github/workflows/build-and-test.yml
  runtime/include/tt/runtime/detail/ttnn.h
  runtime/include/tt/runtime/runtime.h
  runtime/lib/runtime.cpp
  runtime/lib/ttnn/runtime.cpp
  runtime/tools/python/ttrt/common/run.py
  runtime/tools/python/ttrt/common/util.py
  runtime/tools/python/ttrt/runtime/__init__.py
  runtime/tools/python/ttrt/runtime/module.cpp
  test/lit.cfg.py
  test/ttmlir/Silicon/TTNN/emitc/mnist.mlir
  test/ttmlir/Silicon/TTNN/emitc/simple_add.mlir
  test/ttmlir/Silicon/TTNN/emitc/two_fns.mlir
  tools/ttnn-standalone/CMakeLists.txt
  tools/ttnn-standalone/compile_dylib.py
  tools/ttnn-standalone/ttnn-dylib.cpp
  tools/ttnn-standalone/ttnn-dylib.hpp
Owners: @vmilosevic, @tapspatel, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT

Marking test as unsupported to unblock metal uplift.
  test/ttmlir/Silicon/TTNN/kv_cache/update_cache.mlir
Owners: none

.github/CODEOWNERS:

*.cmake @nsmithtt @sdjordjevicTT
*.fbs @tapspatel @nsmithtt
*.txt @nsmithtt @sdjordjevicTT
*.md @nsmithtt
/docs/ @nsmithtt
/env/ @nsmithtt
/.github/ @vmilosevic @tapspatel
/.github/CODEOWNERS @vmilosevic @tapspatel @nsmithtt @sdjordjevicTT @tt-mpantic
/include/ttmlir/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/include/ttmlir/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @nobradovictt @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @nobradovictt @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTKernel/ @nsmithtt @rjakovljevicTT
/include/ttmlir/Dialect/TTMetal/ @nsmithtt
/include/ttmlir/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @nobradovictt @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT @nobradovictt
/include/ttmlir/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT @nobradovictt
/lib/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @nobradovictt @jserbedzijaTT @azecevicTT
/lib/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @nobradovictt @jserbedzijaTT @azecevicTT
/lib/Dialect/TTKernel/ @nsmithtt @rjakovljevicTT
/lib/Dialect/TTMetal/ @nsmithtt
/lib/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @nobradovictt @jserbedzijaTT @jnie-TT @azecevicTT
/lib/Dialect/TTNN/Analysis/ @odjuricicTT @nobradovictt
/lib/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT @nobradovictt
/python/ @nsmithtt @tapspatel @odjuricicTT @vprajapati-tt @vcanicTT
/python/test_infra/ @nsmithtt @tapspatel @vprajapati-tt
/runtime/ @jnie-TT @kmabeeTT @AleksKnezevic @pilkicTT
/runtime/tools/ @tapspatel @nsmithtt
/test/ttmlir/Dialect/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT @nobradovictt
/test/ttmlir/Silicon/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT @nobradovictt
/test/unittests/Optimizer @odjuricicTT @tt-mpantic @sdjordjevicTT @nobradovictt
/test/unittests/OpModel @odjuricicTT @tt-mpantic @sdjordjevicTT @nobradovictt
/tools/ @svuckovicTT @mtopalovicTT
/tools/explorer/ @odjuricicTT @tt-mpantic @sdjordjevicTT @nobradovictt @vprajapati-tt
