Repository tenstorrent/tt-mlir, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nsmithtt, @sdjordjevicTT, @tapspatel, @vmilosevic, @tt-mpantic, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT, @mrakitaTT, @vroubtsovTT, @odjuricicTT, @vprajapati-tt, @vcanicTT, @kmabeeTT, @AleksKnezevic, @pilkicTT

.github/CODEOWNERS:

*.cmake @nsmithtt @sdjordjevicTT
*.fbs @tapspatel @nsmithtt
*.txt @nsmithtt @sdjordjevicTT
*.md @nsmithtt
/docs/ @nsmithtt
/env/ @nsmithtt
/.github/ @vmilosevic @tapspatel
/.github/CODEOWNERS @vmilosevic @tapspatel @nsmithtt @sdjordjevicTT @tt-mpantic
/include/ttmlir/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/include/ttmlir/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/include/ttmlir/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/lib/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/python/ @nsmithtt @tapspatel @odjuricicTT @vprajapati-tt @vcanicTT
/python/test_infra/ @nsmithtt @tapspatel @vprajapati-tt
/runtime/ @jnie-TT @kmabeeTT @AleksKnezevic @pilkicTT
/runtime/tools/ @tapspatel @nsmithtt
/test/ttmlir/Dialect/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/ttmlir/Silicon/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/Optimizer @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/OpModel @odjuricicTT @tt-mpantic @sdjordjevicTT
/tools/ @svuckovicTT @mtopalovicTT
/tools/explorer/ @odjuricicTT @tt-mpantic @sdjordjevicTT @vprajapati-tt @vcanicTT
/tools/ttnn-standalone @svuckovicTT @mtopalovicTT @sdjordjevicTT @azecevicTT @jserbedzijaTT

Temporarily disable llmbox in CI (#2300)
  .github/workflows/build-and-test.yml
Owners: @vmilosevic, @tapspatel

Uplift third_party/tt-metal to e0585b2cdb34e013544623d04beb2120209bda8e 2025-02-26 (#2290)
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

Create `ttnn.neg` as non-DPS op (#2284)
  include/ttmlir/Utils.h
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  test/ttmlir/Dialect/TTNN/simple_subtract_to_add.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

Enable constraints and runtime measurement for Reshape and Mean Ops (#2273)
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/OpModel/TTNN/TTNNOpModel.h
  lib/Dialect/TTNN/IR/TTNNOpModelInterface.cpp
  lib/OpModel/TTNN/Conversion.cpp
  lib/OpModel/TTNN/Conversion.hpp
  lib/OpModel/TTNN/MetalHeaders.h
  lib/OpModel/TTNN/TTNNOpModelLib.cpp
  test/unittests/OpModel/TTNN/Lib/TestOpModelLib.cpp
  test/unittests/OpModel/TTNN/Op/TestOpModelInterface.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @odjuricicTT, @tt-mpantic, @jnie-TT

Removing simple builders from eltwise binary and ternary ops. (#2295)
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  test/ttmlir/Dialect/TTNN/eltwise/binary/subtract/simple_subtract.mlir
  test/unittests/Optimizer/TestGreedyL1InterleavedPolicy.cpp
  test/unittests/Optimizer/TestShardSolver.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @odjuricicTT, @tt-mpantic

Add support for negative constant (#2288)
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/constant_op.mlir
  test/ttmlir/Dialect/TTNN/simple_constant.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

TTIR Bufferization pass (#2264)
  include/ttmlir/Dialect/TT/IR/TTOpsTypes.td
  include/ttmlir/Dialect/TTIR/IR/TTIRBase.td
  include/ttmlir/Dialect/TTIR/IR/TTIRGenericRegionOps.td
  include/ttmlir/Dialect/TTIR/IR/TTIROps.h
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTMetal/Pipelines/TTMetalPipelines.h
  lib/Conversion/TTIRToTTMetal/AttachMetalLayout.cpp
  lib/Conversion/TTIRToTTMetal/TTIRToTTMetal.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TT/IR/TTOpsTypes.cpp
  lib/Dialect/TTIR/IR/CMakeLists.txt
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTIR/Transforms/HoistCPUOps.cpp
  lib/Dialect/TTIR/Transforms/Layout.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
  test/ttmlir/Dialect/TTIR/bufferization/bufferization.mlir
  test/ttmlir/Dialect/TTIR/bufferization/memory_effects.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT, @jnie-TT

Adding ToLayout op folding (#2292)
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
  test/ttmlir/Dialect/TTNN/Canonicalizer/simple_to_layout_op_canonicalizer.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

Fix ttnn-standalone.cpp; auto create ttnn-dylib.cpp so that the build script doesn't fail (#2302)
  tools/ttnn-standalone/CMakeLists.txt
  tools/ttnn-standalone/ttnn-standalone.cpp
Owners: @svuckovicTT, @mtopalovicTT, @sdjordjevicTT, @azecevicTT, @jserbedzijaTT

Uplift third_party/tt-metal to 45186bcf465d6bad3d5e8efaf3ef5afb9e2de2d9 2025-02-27 (#2307)
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

#2065: Updated all reduce code to handle 0 or 1 mesh cluster axis (#2215)
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Target/TTNN/program.fbs
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  lib/Dialect/TTNN/Transforms/Workarounds/TTNNWorkarounds.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/include/tt/runtime/ttnn/utils.h
  runtime/lib/ttnn/operations/ccl/reduce_scatter.cpp
  runtime/lib/ttnn/utils/utils.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/all_reduce.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/ccl_ops_gspmd.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_gather.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_gather_negative.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_reduce.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_reduce_negative.mlir
  test/ttmlir/Silicon/TTNN/llmbox/ccl/ccl_1x8.mlir
  test/ttmlir/Silicon/TTNN/llmbox/ccl/ccl_2x4.mlir
  test/ttmlir/Silicon/TTNN/llmbox/perf/all_gather.mlir
  test/ttmlir/Silicon/TTNN/llmbox/perf/all_reduce.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_pad.mlir
  test/ttmlir/Silicon/TTNN/n300/ccl/ccl_1x2.mlir
  test/ttmlir/Silicon/TTNN/n300/perf/all_gather.mlir
  test/ttmlir/Silicon/TTNN/n300/perf/all_reduce.mlir
  test/ttmlir/Silicon/TTNN/tg/ccl/ccl_1x32.mlir
  test/ttmlir/Silicon/TTNN/tg/ccl/ccl_8x4.mlir
  test/ttmlir/Silicon/TTNN/tg/perf/all_gather.mlir
  test/ttmlir/Silicon/TTNN/tg/perf/all_reduce.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @tapspatel, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Maximize build space on Github runners (#2324)
  .github/workflows/build-and-test.yml
Owners: @vmilosevic, @tapspatel

set CMAKE_INSTALL_MESSAGE to LAZY for third_party build (#2320)
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

Adding LICENSE_understanding.txt
  LICENSE_understanding.txt
Owners: @nsmithtt, @sdjordjevicTT

Revert "Refactor conv2d op and add conv2d config support (#2054)"
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOpsAttrs.td
  include/ttmlir/Target/TTNN/program.fbs
  include/ttmlir/Target/TTNN/types.fbs
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecomposition.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/operations/conv/conv2d.cpp
  runtime/lib/ttnn/operations/include/tt/runtime/ttnn/operations/utils.cpp
  runtime/lib/ttnn/operations/include/tt/runtime/ttnn/operations/utils.h
  test/ttmlir/Dialect/TTIR/conv2d/conv2d_tests_negative.mlir
  test/ttmlir/Dialect/TTIR/conv2d/conv2d_tests_positive.mlir
  test/ttmlir/Dialect/TTNN/convolution/simple_conv.mlir
  test/ttmlir/Dialect/TTNN/convolution/simple_conv2d.mlir
  test/ttmlir/Silicon/TTNN/n150/perf/test_perf_conv.mlir
  test/ttmlir/Silicon/TTNN/n150/perf/test_perf_conv2d_config.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_conv.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_conv2d.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @tapspatel, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

fixup stream layout op
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Dialect/TTIR/IR/TTIROps.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

generic validation
  lib/Dialect/TTIR/IR/TTIROps.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

abs op + use stream op for datamovement
  include/ttmlir/Dialect/TTIR/IR/TTIRGenericRegionOps.td
  lib/Dialect/TTIR/Transforms/GenericDatamovement.cpp
  test/ttmlir/Dialect/TTIR/generic/generic_datamovement.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Fix bugs introduced by conv2d operation refactor
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  runtime/lib/ttnn/operations/conv/conv2d.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Fix bugs introduced by conv2d operation refactor
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  runtime/lib/ttnn/operations/conv/conv2d.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Fix bugs introduced by conv2d operation refactor
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  runtime/lib/ttnn/operations/conv/conv2d.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Pass flattened input to the convolution
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

Remove TTNN verification for conv2d
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

few more consistency/corrections/commas
  CONTRIBUTING.md
Owners: @nsmithtt

Pass flattened input to the convolution
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

Remove TTNN verification for conv2d
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

Remove TTNN verification for conv2d
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

Pass flattened input to the convolution
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

Fix bugs introduced by conv2d operation refactor
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  runtime/lib/ttnn/operations/conv/conv2d.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Fix regressions caused by conv2d operation refactor (#2325)
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  runtime/lib/ttnn/operations/conv/conv2d.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

tile matmul
  include/ttmlir/Dialect/TTIR/IR/TTIRGenericRegionOps.td
  lib/Dialect/TTIR/Transforms/Generic.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

single core streaming case
  lib/Dialect/TTIR/Transforms/GenericDatamovement.cpp
  test/ttmlir/Dialect/TTIR/generic/generic_datamovement.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

layout cleanup
  include/ttmlir/Dialect/TTIR/IR/TTIRGenericRegionOps.td
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Dialect/TTIR/IR/TTIRGenericRegionOps.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT
