Repository tenstorrent/tt-mlir, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nsmithtt, @sdjordjevicTT, @tapspatel, @vmilosevic, @tt-mpantic, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT, @mrakitaTT, @vroubtsovTT, @odjuricicTT, @vprajapati-tt, @vcanicTT, @kmabeeTT, @AleksKnezevic, @pilkicTT

.github/CODEOWNERS:

*.cmake @nsmithtt @sdjordjevicTT
*.fbs @tapspatel @nsmithtt
*.txt @nsmithtt @sdjordjevicTT
*.md @nsmithtt
/docs/ @nsmithtt
/env/ @nsmithtt
/.github/ @vmilosevic @tapspatel
/.github/CODEOWNERS @vmilosevic @tapspatel @nsmithtt @sdjordjevicTT @tt-mpantic
/include/ttmlir/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/include/ttmlir/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/include/ttmlir/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/lib/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/python/ @nsmithtt @tapspatel @odjuricicTT @vprajapati-tt @vcanicTT
/python/test_infra/ @nsmithtt @tapspatel @vprajapati-tt
/runtime/ @jnie-TT @kmabeeTT @AleksKnezevic @pilkicTT
/runtime/tools/ @tapspatel @nsmithtt
/test/ttmlir/Dialect/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/ttmlir/Silicon/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/Optimizer @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/OpModel @odjuricicTT @tt-mpantic @sdjordjevicTT
/tools/ @svuckovicTT @mtopalovicTT
/tools/explorer/ @odjuricicTT @tt-mpantic @sdjordjevicTT @vprajapati-tt @vcanicTT
/tools/ttnn-standalone @svuckovicTT @mtopalovicTT @sdjordjevicTT @azecevicTT @jserbedzijaTT

include order
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

feedback
  include/ttmlir/Dialect/TTIR/IR/TTIRBase.td
  include/ttmlir/Dialect/TTIR/IR/TTIRGenericRegionOps.td
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Dialect/TTIR/IR/TTIROps.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

vincent's feedback remove fully qualified namespace
  lib/Dialect/TTIR/IR/TTIROps.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

TTIR Bufferization pass (#2264)
  include/ttmlir/Dialect/TT/IR/TTOpsTypes.td
  include/ttmlir/Dialect/TTIR/IR/TTIRBase.td
  include/ttmlir/Dialect/TTIR/IR/TTIRGenericRegionOps.td
  include/ttmlir/Dialect/TTIR/IR/TTIROps.h
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTMetal/Pipelines/TTMetalPipelines.h
  lib/Conversion/TTIRToTTMetal/AttachMetalLayout.cpp
  lib/Conversion/TTIRToTTMetal/TTIRToTTMetal.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TT/IR/TTOpsTypes.cpp
  lib/Dialect/TTIR/IR/CMakeLists.txt
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTIR/Transforms/HoistCPUOps.cpp
  lib/Dialect/TTIR/Transforms/Layout.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
  test/ttmlir/Dialect/TTIR/bufferization/bufferization.mlir
  test/ttmlir/Dialect/TTIR/bufferization/memory_effects.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT, @jnie-TT

Uplift third_party/tt-metal to 45186bcf465d6bad3d5e8efaf3ef5afb9e2de2d9 2025-02-27
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

Fix ttnn-standalone.cpp; auto create ttnn-dylib.cpp so that the build script doesn't fail due
  tools/ttnn-standalone/CMakeLists.txt
  tools/ttnn-standalone/ttnn-standalone.cpp
Owners: @svuckovicTT, @mtopalovicTT, @sdjordjevicTT, @azecevicTT, @jserbedzijaTT

Docker CI, back with finalization to reduce file size
  .github/Dockerfile.ci
Owners: @vmilosevic, @tapspatel

point metal to latest
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

Determine indirectly defined constant for clamp op
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/clamp_op.mlir
  test/ttmlir/Silicon/StableHLO/n150/Unary/clamp_op.mlir
Owners: none

try some debugs?
  tools/explorer/test/run_tests.py
  tools/explorer/tt_adapter/src/tt_adapter/main.py
  tools/explorer/tt_adapter/src/tt_adapter/mlir.py
  tools/explorer/tt_adapter/src/tt_adapter/utils.py
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @vprajapati-tt, @vcanicTT

Disable multichip workaround
  runtime/include/tt/runtime/detail/workarounds.h
  runtime/lib/ttnn/program.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Adding ToLayout op folding (#2292)
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
  test/ttmlir/Dialect/TTNN/Canonicalizer/simple_to_layout_op_canonicalizer.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

First commit
  python/module_compiler/module_compiler.py
  python/module_compiler/stablehlo_module_compiler.py
  python/module_compiler/ttir_module_compiler.py
  python/module_compiler/ttmlir.py
  python/module_compiler/ttnn_module_compiler.py
  python/module_compiler/utils.py
  python/module_splitter/module_splitter.py
  python/module_splitter/stablehlo_module_splitter.py
  python/module_splitter/ttir_module_splitter.py
  python/module_splitter/ttnn_module_splitter.py
  python/module_splitter/utils.py
Owners: @nsmithtt, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT

WIP
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

Fix ttnn-standalone.cpp; auto create ttnn-dylib.cpp so that the build script doesn't fail (#2302)
  tools/ttnn-standalone/CMakeLists.txt
  tools/ttnn-standalone/ttnn-standalone.cpp
Owners: @svuckovicTT, @mtopalovicTT, @sdjordjevicTT, @azecevicTT, @jserbedzijaTT

maybe fix?
  tools/explorer/tt_adapter/src/tt_adapter/utils.py
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @vprajapati-tt, @vcanicTT

Multidevice to host
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/include/tt/runtime/detail/ttnn.h
  runtime/include/tt/runtime/runtime.h
  runtime/lib/runtime.cpp
  runtime/lib/ttnn/runtime.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Memory Visualization Successful
  tools/explorer/tt_adapter/src/tt_adapter/main.py
  tools/explorer/tt_adapter/src/tt_adapter/mlir.py
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @vprajapati-tt, @vcanicTT

Uplift third_party/tt-metal to 45186bcf465d6bad3d5e8efaf3ef5afb9e2de2d9 2025-02-27 (#2307)
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

Check and update return sharding
  include/ttmlir/Conversion/StableHLOToTTIR/ShardingUtils.h
  lib/Conversion/StableHLOToTTIR/ShardyToTTIRPatterns.cpp
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/ccl_ops_gspmd.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/ccl_ops_shardy.mlir
Owners: none

Small multi device fix
  runtime/lib/ttnn/operations/ccl/mesh_shard.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Revert "Refactor conv2d op and add conv2d config support (#2054)"
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOpsAttrs.td
  include/ttmlir/Target/TTNN/program.fbs
  include/ttmlir/Target/TTNN/types.fbs
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecomposition.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/operations/conv/conv2d.cpp
  runtime/lib/ttnn/operations/include/tt/runtime/ttnn/operations/utils.cpp
  runtime/lib/ttnn/operations/include/tt/runtime/ttnn/operations/utils.h
  test/ttmlir/Dialect/TTIR/conv2d/conv2d_tests_negative.mlir
  test/ttmlir/Dialect/TTIR/conv2d/conv2d_tests_positive.mlir
  test/ttmlir/Dialect/TTNN/convolution/simple_conv.mlir
  test/ttmlir/Dialect/TTNN/convolution/simple_conv2d.mlir
  test/ttmlir/Silicon/TTNN/n150/perf/test_perf_conv.mlir
  test/ttmlir/Silicon/TTNN/n150/perf/test_perf_conv2d.mlir
  test/ttmlir/Silicon/TTNN/n150/perf/test_perf_conv2d_config.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_conv.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_conv2d.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @tapspatel, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

#2065: Updated all reduce code to handle 0 or 1 cluster axis and cleaned up dialect representations of all reduce in ttir and ttnn. Update algorithms for calculating gather and scatter dimensions
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Target/TTNN/program.fbs
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  lib/Dialect/TTNN/Transforms/Workarounds/TTNNWorkarounds.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/include/tt/runtime/ttnn/utils.h
  runtime/lib/ttnn/operations/ccl/reduce_scatter.cpp
  runtime/lib/ttnn/utils/utils.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/all_reduce.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/ccl_ops_gspmd.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_gather.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_gather_negative.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_reduce.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_reduce_negative.mlir
  test/ttmlir/Silicon/TTNN/llmbox/ccl/ccl_1x8.mlir
  test/ttmlir/Silicon/TTNN/llmbox/ccl/ccl_2x4.mlir
  test/ttmlir/Silicon/TTNN/llmbox/perf/all_gather.mlir
  test/ttmlir/Silicon/TTNN/llmbox/perf/all_reduce.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_pad.mlir
  test/ttmlir/Silicon/TTNN/n300/ccl/ccl_1x2.mlir
  test/ttmlir/Silicon/TTNN/n300/perf/all_gather.mlir
  test/ttmlir/Silicon/TTNN/n300/perf/all_reduce.mlir
  test/ttmlir/Silicon/TTNN/tg/ccl/ccl_1x32.mlir
  test/ttmlir/Silicon/TTNN/tg/ccl/ccl_8x4.mlir
  test/ttmlir/Silicon/TTNN/tg/perf/all_gather.mlir
  test/ttmlir/Silicon/TTNN/tg/perf/all_reduce.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @tapspatel, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

set CMAKE_INSTALL_MESSAGE to LAZY for third_party build
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

Add ttnn runtime debug lib, minor cmake cleanup
  runtime/lib/CMakeLists.txt
  runtime/lib/common/CMakeLists.txt
  runtime/lib/runtime.cpp
  runtime/lib/ttmetal/CMakeLists.txt
  runtime/lib/ttnn/CMakeLists.txt
  runtime/lib/ttnn/debug/CMakeLists.txt
  runtime/lib/ttnn/debug/debug_apis.cpp
  runtime/lib/ttnn/include/tt/runtime/ttnn/debug_apis.h
  runtime/lib/ttnn/include/tt/runtime/ttnn/utils.h
  runtime/lib/ttnn/operations/CMakeLists.txt
  runtime/lib/ttnn/types/CMakeLists.txt
  runtime/lib/ttnn/utils/CMakeLists.txt
  runtime/lib/ttnn/utils/utils.cpp
  runtime/tools/python/setup.py
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @tapspatel, @nsmithtt

wip
  include/ttmlir/Conversion/Passes.td
  include/ttmlir/Conversion/TTIRToTTKernel/TTIRToTTKernel.h
  lib/Conversion/TTIRToTTMetal/CMakeLists.txt
  lib/Conversion/TTIRToTTMetal/TTIRToTTKernel.cpp
  lib/Conversion/TTIRToTTMetal/TTIRToTTMetalPass.cpp
  lib/RegisterAll.cpp
Owners: @nsmithtt, @sdjordjevicTT

add api for clear program cache
  runtime/include/tt/runtime/detail/ttnn.h
  runtime/include/tt/runtime/runtime.h
  runtime/lib/runtime.cpp
  runtime/lib/ttnn/runtime.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

try new approach
  tools/explorer/tt_adapter/src/tt_adapter/mlir.py
  tools/explorer/tt_adapter/src/tt_adapter/utils.py
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @vprajapati-tt, @vcanicTT

#2065: Updated all reduce code to handle 0 or 1 mesh cluster axis (#2215)
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Target/TTNN/program.fbs
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  lib/Dialect/TTNN/Transforms/Workarounds/TTNNWorkarounds.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/include/tt/runtime/ttnn/utils.h
  runtime/lib/ttnn/operations/ccl/reduce_scatter.cpp
  runtime/lib/ttnn/utils/utils.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/all_reduce.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/ccl_ops_gspmd.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_gather.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_gather_negative.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_reduce.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_reduce_negative.mlir
  test/ttmlir/Silicon/TTNN/llmbox/ccl/ccl_1x8.mlir
  test/ttmlir/Silicon/TTNN/llmbox/ccl/ccl_2x4.mlir
  test/ttmlir/Silicon/TTNN/llmbox/perf/all_gather.mlir
  test/ttmlir/Silicon/TTNN/llmbox/perf/all_reduce.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_pad.mlir
  test/ttmlir/Silicon/TTNN/n300/ccl/ccl_1x2.mlir
  test/ttmlir/Silicon/TTNN/n300/perf/all_gather.mlir
  test/ttmlir/Silicon/TTNN/n300/perf/all_reduce.mlir
  test/ttmlir/Silicon/TTNN/tg/ccl/ccl_1x32.mlir
  test/ttmlir/Silicon/TTNN/tg/ccl/ccl_8x4.mlir
  test/ttmlir/Silicon/TTNN/tg/perf/all_gather.mlir
  test/ttmlir/Silicon/TTNN/tg/perf/all_reduce.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @tapspatel, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Script to split stablehlo module into sub modules [#2317]
  tools/stablehlo_splitter/requirements.txt
  tools/stablehlo_splitter/shlo_split.py
Owners: @svuckovicTT, @mtopalovicTT

add constraints and runtime APIs for transpose
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/OpModel/TTNN/TTNNOpModel.h
  lib/Dialect/TTNN/IR/TTNNOpModelInterface.cpp
  lib/OpModel/TTNN/MetalHeaders.h
  lib/OpModel/TTNN/TTNNOpModelLib.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @odjuricicTT, @tt-mpantic, @jnie-TT

add unittests
  test/unittests/OpModel/TTNN/Lib/TestOpModelLib.cpp
  test/unittests/OpModel/TTNN/Op/TestOpModelInterface.cpp
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT

WIP commit, abandoned
  runtime/include/tt/runtime/types.h
  runtime/lib/ttnn/include/tt/runtime/ttnn/utils.h
  runtime/lib/ttnn/runtime.cpp
  runtime/lib/ttnn/utils/utils.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Maximize build space on Github runners
  .github/workflows/build-and-test.yml
Owners: @vmilosevic, @tapspatel

Try to just remove unnecessary software
  .github/workflows/build-and-test.yml
Owners: @vmilosevic, @tapspatel

Try to remove files
  .github/workflows/build-and-test.yml
Owners: @vmilosevic, @tapspatel

Use master version of action
  .github/workflows/build-and-test.yml
Owners: @vmilosevic, @tapspatel

Switch to use self-hosted runners for build
  .github/workflows/build-and-test.yml
Owners: @vmilosevic, @tapspatel

try refactoring a bit
  tools/explorer/tt_adapter/src/tt_adapter/mlir.py
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @vprajapati-tt, @vcanicTT

#2005: Added representation of reduce scatter in ttir and ttnn dialect
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/ccl_ops_gspmd.mlir
  test/ttmlir/Silicon/TTNN/llmbox/ccl/ccl_1x8.mlir
  test/ttmlir/Silicon/TTNN/llmbox/ccl/ccl_2x4.mlir
  test/ttmlir/Silicon/TTNN/llmbox/perf/reduce_scatter.mlir
  test/ttmlir/Silicon/TTNN/n300/ccl/ccl_1x2.mlir
  test/ttmlir/Silicon/TTNN/n300/perf/reduce_scatter.mlir
  test/ttmlir/Silicon/TTNN/tg/ccl/ccl_1x32.mlir
  test/ttmlir/Silicon/TTNN/tg/ccl/ccl_8x4.mlir
  test/ttmlir/Silicon/TTNN/tg/perf/reduce_scatter.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @jnie-TT
