Repository tenstorrent/tt-mlir, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nsmithtt, @vwellsTT, @jnie-TT, @vmilosevic, @tapspatel, @sdjordjevicTT, @tt-mpantic, @tenstorrent/forge-developers-mlir-devops, @tenstorrent/forge-developers-mlir-build, @ctodTT, @vprajapati-tt, @vcanicTT, @tenstorrent/forge-developers-mlir-stablehlo, @nsmithTT, @tenstorrent/forge-developers-mlir-tosa, @tenstorrent/forge-developers-mlir-core, @tenstorrent/forge-developers-mlir-d2m, @mtopalovicTT, @mrakitaTT, @LPanosTT, @azecevicTT, @rpavlovicTT, @tenstorrent/forge-developers-mlir-optimizer, @arminaleTT, @tenstorrent/forge-developers-mlir-runtime, @xanderchin, @tenstorrent/forge-developers-mlir-explorer, @ddilbazTT

.github/CODEOWNERS:

# Misc
/env/ @nsmithtt @vwellsTT
*.fbs @jnie-TT @nsmithtt
/.github/CODEOWNERS @vmilosevic @tapspatel @nsmithtt @sdjordjevicTT @tt-mpantic
LICENSE @nsmithtt

# CI
/.github/ @tenstorrent/forge-developers-mlir-devops

# Build
*.cmake @tenstorrent/forge-developers-mlir-build
*.txt @tenstorrent/forge-developers-mlir-build

# Docs
*.md @nsmithtt @sdjordjevicTT
/docs/ @nsmithtt @sdjordjevicTT

# tt-mlir Bindings
/include/ttmlir/Bindings/ @ctodTT @tapspatel @vprajapati-tt @vcanicTT
/include/ttmlir-c/ @ctodTT @tapspatel @vprajapati-tt @vcanicTT
/lib/CAPI/ @ctodTT @tapspatel @vprajapati-tt @vcanicTT
/python/ @ctodTT @tapspatel @vprajapati-tt @vcanicTT

# StableHLO Dialect
include/ttmlir/Dialect/StableHLO @tenstorrent/forge-developers-mlir-stablehlo
lib/Dialect/StableHLO @tenstorrent/forge-developers-mlir-stablehlo
test/ttmlir/Dialect/StableHLO @tenstorrent/forge-developers-mlir-stablehlo

# StableHLO Conversion
/include/ttmlir/Conversion/ArithToStableHLO/ @tenstorrent/forge-developers-mlir-stablehlo
/include/ttmlir/Conversion/StableHLOToTTIR/ @tenstorrent/forge-developers-mlir-stablehlo
/lib/Conversion/StableHLOToTTIR/ @tenstorrent/forge-developers-mlir-stablehlo
/test/ttmlir/Conversion/ArithToStableHLO/ @tenstorrent/forge-developers-mlir-stablehlo
/test/ttmlir/Conversion/StableHLOToTTIR/ @tenstorrent/forge-developers-mlir-stablehlo
/test/ttmlir/Silicon/StableHLO/ @tenstorrent/forge-developers-mlir-stablehlo

# Linalg Conversion
/include/ttmlir/Conversion/TTIRToLinalg/ @vwellsTT @ctodTT @nsmithTT
/lib/Conversion/TTIRToLinalg/ @vwellsTT @ctodTT @nsmithTT
/test/ttmlir/Conversion/TTIRToLinalg/ @vwellsTT @ctodTT @nsmithTT

# Tosa Conversion
/include/ttmlir/Conversion/TosaToTTIR/ @tenstorrent/forge-developers-mlir-tosa
/lib/Conversion/TosaToTTIR/ @tenstorrent/forge-developers-mlir-tosa
/test/ttmlir/Conversion/TosaToTTIR/ @tenstorrent/forge-developers-mlir-tosa

# TTNN Conversions
/include/ttmlir/Conversion/TTIRToTTIRDecomposition/ @tenstorrent/forge-developers-mlir-core
/include/ttmlir/Conversion/TTIRToTTNN/ @tenstorrent/forge-developers-mlir-core @jnie-TT
/include/ttmlir/Conversion/TTNNToEmitC/ @tenstorrent/forge-developers-mlir-core
/lib/Conversion/TTIRToTTIRDecomposition/ @tenstorrent/forge-developers-mlir-core
/lib/Conversion/TTIRToTTNN/ @tenstorrent/forge-developers-mlir-core
/lib/Conversion/TTNNToEmitC/ @tenstorrent/forge-developers-mlir-core
/test/ttmlir/Conversion/TTIRToTTIRDecomposition/ @tenstorrent/forge-developers-mlir-core
/test/ttmlir/Conversion/TTIRToTTNN/ @tenstorrent/forge-developers-mlir-core
/test/ttmlir/Conversion/TTNNToEmitC/ @tenstorrent/forge-developers-mlir-core
/test/ttmlir/EmitC/ @tenstorrent/forge-developers-mlir-core
/test/unittests/TTNNToEmitC/ @tenstorrent/forge-developers-mlir-core

# Metal Conversions
/include/ttmlir/Conversion/TTIRToTTIRGeneric/ @tenstorrent/forge-developers-mlir-d2m
/lib/Conversion/TTIRToTTIRGeneric/ @tenstorrent/forge-developers-mlir-d2m
/test/ttmlir/Conversion/TTIRToTTIRGeneric/ @tenstorrent/forge-developers-mlir-d2m
/include/ttmlir/Conversion/TTIRToTTMetal/ @tenstorrent/forge-developers-mlir-d2m
/include/ttmlir/Conversion/TTKernelToEmitC/ @tenstorrent/forge-developers-mlir-d2m
/lib/Conversion/TTIRToTTMetal/ @tenstorrent/forge-developers-mlir-d2m
/lib/Conversion/TTKernelToEmitC/ @tenstorrent/forge-developers-mlir-d2m
/test/ttmlir/Conversion/TTKernelToEmitC/ @tenstorrent/forge-developers-mlir-d2m
/include/ttmlir/Conversion/TTIRToTTKernel/ @tenstorrent/forge-developers-mlir-d2m
/lib/Conversion/TTIRToTTKernel/ @tenstorrent/forge-developers-mlir-d2m
/test/ttmlir/Conversion/TTIRToTTKernel/ @tenstorrent/forge-developers-mlir-d2m

# LLVM Dialect
/include/ttmlir/Dialect/LLVM/ @vwellsTT @mtopalovicTT
/lib/Dialect/LLVM/ @vwellsTT @mtopalovicTT
/test/ttmlir/Dialect/LLVM/ @vwellsTT @mtopalovicTT

# TT Dialect
/include/ttmlir/Dialect/TT/ @tenstorrent/forge-developers-mlir-core @nsmithtt @mrakitaTT
/lib/Dialect/TT/ @tenstorrent/forge-developers-mlir-core @nsmithtt @mrakitaTT
/test/ttmlir/Dialect/TT/ @tenstorrent/forge-developers-mlir-core @nsmithtt @mrakitaTT

# TTIR Dialect
/include/ttmlir/Dialect/TTIR/ @tenstorrent/forge-developers-mlir-core @mrakitaTT
/lib/Dialect/TTIR/ @tenstorrent/forge-developers-mlir-core @mrakitaTT
/test/ttmlir/Dialect/TTIR/ @tenstorrent/forge-developers-mlir-core @mrakitaTT

# Metal Dialects
/include/ttmlir/Dialect/TTIR/IR/TTIRGeneric* @tenstorrent/forge-developers-mlir-d2m
/include/ttmlir/Dialect/TTKernel/ @tenstorrent/forge-developers-mlir-d2m
/include/ttmlir/Dialect/TTMetal/ @tenstorrent/forge-developers-mlir-d2m
/lib/Dialect/TTIR/Transforms/ @tenstorrent/forge-developers-mlir-d2m
/lib/Dialect/TTKernel/ @tenstorrent/forge-developers-mlir-d2m
/lib/Dialect/TTMetal/ @tenstorrent/forge-developers-mlir-d2m
/test/ttmlir/Dialect/TTKernel/ @tenstorrent/forge-developers-mlir-d2m
/test/ttmlir/Dialect/TTMetal/ @tenstorrent/forge-developers-mlir-d2m
/test/unittests/Allocation @tenstorrent/forge-developers-mlir-d2m

# TTIR Erase Inverse Ops Optimization Pass
/include/ttmlir/Dialect/TTIR/Transforms/EraseInverseOps/ @LPanosTT @azecevicTT
/lib/Dialect/TTIR/Transforms/EraseInverseOps/ @LPanosTT @azecevicTT
/test/ttmlir/Dialect/TTIR/erase_inverse_ops/ @LPanosTT @azecevicTT

# TTNN Dialects
/include/ttmlir/Dialect/TTNN/ @tenstorrent/forge-developers-mlir-core
/lib/Dialect/TTNN/ @tenstorrent/forge-developers-mlir-core
/test/ttmlir/Dialect/TTNN/ @tenstorrent/forge-developers-mlir-core

# TTNN Utils
/include/ttmlir/Dialect/TTNN/Utils/ @tenstorrent/forge-developers-mlir-core @rpavlovicTT

# TTNN Optimizer
/include/ttmlir/Dialect/TTNN/Analysis/ @tenstorrent/forge-developers-mlir-optimizer
/include/ttmlir/OpModel/ @tenstorrent/forge-developers-mlir-optimizer @arminaleTT
/include/ttmlir/Scheduler/ @tenstorrent/forge-developers-mlir-optimizer
/lib/Dialect/TTNN/Analysis/ @tenstorrent/forge-developers-mlir-optimizer
/lib/OpModel/ @tenstorrent/forge-developers-mlir-optimizer @arminaleTT
/lib/Scheduler/ @tenstorrent/forge-developers-mlir-optimizer
/test/ttmlir/Dialect/TTNN/optimizer/ @tenstorrent/forge-developers-mlir-optimizer
/test/ttmlir/Silicon/TTNN/**/optimizer/ @tenstorrent/forge-developers-mlir-optimizer
/test/unittests/Optimizer @tenstorrent/forge-developers-mlir-optimizer
/test/unittests/OpModel @tenstorrent/forge-developers-mlir-optimizer @arminaleTT
/test/unittests/TestScheduler/ @tenstorrent/forge-developers-mlir-optimizer

# LLVM Target
/include/ttmlir/Target/LLVM/ @vwellsTT @mtopalovicTT
/lib/Target/LLVM/ @vwellsTT @mtopalovicTT

# Metal Target
/include/ttmlir/Target/TTKernel/ @tenstorrent/forge-developers-mlir-d2m
/include/ttmlir/Target/TTMetal/ @tenstorrent/forge-developers-mlir-d2m
/lib/Target/TTKernel/ @tenstorrent/forge-developers-mlir-d2m
/lib/Target/TTMetal/ @tenstorrent/forge-developers-mlir-d2m

# TTNN Target
/include/ttmlir/Target/TTNN/ @tenstorrent/forge-developers-mlir-core
/lib/Target/TTNN/ @tenstorrent/forge-developers-mlir-core

# Runtime
/runtime/ @tenstorrent/forge-developers-mlir-runtime
/runtime/tools/ @tapspatel @ctodTT

# PyKernel
/tools/pykernel/ @xanderchin @vprajapati-tt

# TTIRBuilder
/tools/ttir-builder @ctodTT @tapspatel

# tt-explorer
/tools/explorer/ @tenstorrent/forge-developers-mlir-explorer

# ttnn-standalone
/tools/ttnn-standalone @tenstorrent/forge-developers-mlir-core

# Scripts
/tools/scripts/ @nsmithtt @ddilbazTT

Change mesh shape default mechanism
  lib/Dialect/TT/Transforms/TTRegisterDevice.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
Owners: @tenstorrent/forge-developers-mlir-core, @nsmithtt, @mrakitaTT

TTIR decomposition of ttir.prod op
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecomposition.cpp
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecompositionPass.cpp
  test/ttmlir/Dialect/TTIR/Decomposition/reduce_prod.mlir
  test/ttmlir/Dialect/TTNN/reduction/negative_reduce_prod_op.mlir
Owners: @tenstorrent/forge-developers-mlir-core, @mrakitaTT

wip - broken
  lib/Dialect/TTIR/Transforms/LowerToLayout.cpp
  lib/Dialect/TTIR/Transforms/OptimizeTensorLayout.cpp
  test/python/golden/test_metal_blocking.py
Owners: @tenstorrent/forge-developers-mlir-d2m

WIP
  runtime/lib/ttnn/operations/ccl/mesh_shard.cpp
  third_party/CMakeLists.txt
  tools/ttnn-standalone/CMakeLists.txt
Owners: @tenstorrent/forge-developers-mlir-runtime, @tenstorrent/forge-developers-mlir-build, @tenstorrent/forge-developers-mlir-core

bunch of debug changes, further along but still crashes ttmlir-opt at runtime
  include/ttmlir/Dialect/TT/IR/TTOpsTypes.td
  include/ttmlir/Dialect/TT/IR/Utils.h
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/CAPI/TTAttrs.cpp
  lib/Conversion/TTIRToTTIRGeneric/TTIRToTTIRGeneric.cpp
  lib/Dialect/TT/IR/TTOpsTypes.cpp
  lib/Dialect/TT/IR/Utils.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTIR/Transforms/LowerToLayout.cpp
  lib/Dialect/TTIR/Transforms/OptimizeTensorLayout.cpp
  python/TTModule.cpp
Owners: @tenstorrent/forge-developers-mlir-core, @nsmithtt, @mrakitaTT, @ctodTT, @tapspatel, @vprajapati-tt, @vcanicTT, @tenstorrent/forge-developers-mlir-d2m

fold quantize op
  include/ttmlir/Dialect/TTIR/IR/ConstEvalUtils.h
  lib/Dialect/TTIR/IR/TTIROps.cpp
  test/ttmlir/Dialect/TTIR/canonicalize/quantize_fold_tests.mlir
Owners: @tenstorrent/forge-developers-mlir-core, @mrakitaTT

adhering to clang-tidy's admittedly perplexing guidelines
  include/ttmlir/Dialect/TTIR/IR/ConstEvalUtils.h
Owners: @tenstorrent/forge-developers-mlir-core, @mrakitaTT

clang-tidy?
  include/ttmlir/Dialect/TTIR/IR/ConstEvalUtils.h
Owners: @tenstorrent/forge-developers-mlir-core, @mrakitaTT

Uplift third_party/tt-metal to 10fec6086165fc1005e54981d5dc78b91289c077 2025-06-06
  third_party/CMakeLists.txt
Owners: @tenstorrent/forge-developers-mlir-build

clang-tidy??????
  include/ttmlir/Dialect/TTIR/IR/ConstEvalUtils.h
Owners: @tenstorrent/forge-developers-mlir-core, @mrakitaTT

Support tosa bitwise operations (#3687)
  lib/Conversion/TosaToTTIR/TosaToTTIRPatterns.cpp
  test/ttmlir/Conversion/TosaToTTIR/bitwise/bitwise_and.mlir
  test/ttmlir/Conversion/TosaToTTIR/bitwise/bitwise_not.mlir
  test/ttmlir/Conversion/TosaToTTIR/bitwise/bitwise_or.mlir
  test/ttmlir/Conversion/TosaToTTIR/bitwise/bitwise_xor.mlir
Owners: @tenstorrent/forge-developers-mlir-tosa

Run passing commit multiple times to confirm hang is not ND
  .github/workflows/build-and-test.yml
  third_party/CMakeLists.txt
Owners: @tenstorrent/forge-developers-mlir-devops, @tenstorrent/forge-developers-mlir-build

Change timeout.
  third_party/CMakeLists.txt
Owners: @tenstorrent/forge-developers-mlir-build

Update PyKernel Docs (#3674)
  docs/src/pykernel.md
Owners: @nsmithtt, @sdjordjevicTT

Added all gather workaround
  lib/Dialect/TTNN/Transforms/Workarounds/TTNNWorkaroundsPatterns.cpp
Owners: @tenstorrent/forge-developers-mlir-core

Mark shard_transpose optimizer test unsupported due to ND hang triggered by metal change
  test/ttmlir/Silicon/TTNN/n150/optimizer/shard_transpose.mlir
Owners: @tenstorrent/forge-developers-mlir-optimizer

Point to metal commit before maxpool build break
  third_party/CMakeLists.txt
Owners: @tenstorrent/forge-developers-mlir-build

D2M: Add sub and ceil ops and enable more golden tests
  include/ttmlir/Dialect/TTIR/IR/TTIRGenericRegionOps.td
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOps.td
  lib/Conversion/TTIRToTTIRGeneric/TTIRToTTIRGeneric.cpp
  lib/Conversion/TTIRToTTKernel/TTIRToTTKernel.cpp
  lib/Conversion/TTKernelToEmitC/TTKernelToEmitC.cpp
  lib/Target/TTKernel/TTKernelToCpp.cpp
  runtime/tools/ttrt/ttrt/common/run.py
  runtime/tools/ttrt/ttrt/common/util.py
  test/python/golden/test_ttir_ops.py
  test/ttmlir/Conversion/TTIRToTTIRGeneric/named_to_generic.mlir
  test/ttmlir/Conversion/TTIRToTTKernel/single_tile_ops.mlir
  test/ttmlir/Conversion/TTKernelToEmitC/ttkernel.mlir
  test/ttmlir/Silicon/TTMetal/n150/simple_eltwise.mlir
Owners: @tenstorrent/forge-developers-mlir-d2m, @tapspatel, @ctodTT

Address review comments & enable more golden tests
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOps.td
  lib/Conversion/TTIRToTTKernel/TTIRToTTKernel.cpp
  lib/Conversion/TTKernelToEmitC/TTKernelToEmitC.cpp
  lib/Target/TTKernel/TTKernelToCpp.cpp
  test/python/golden/test_ttir_ops.py
Owners: @tenstorrent/forge-developers-mlir-d2m

Complete tests
  test/ttmlir/Conversion/TTIRToTTIRGeneric/named_to_generic.mlir
  test/ttmlir/Conversion/TTIRToTTKernel/single_tile_ops.mlir
  test/ttmlir/Silicon/TTMetal/n150/simple_eltwise.mlir
Owners: @tenstorrent/forge-developers-mlir-d2m

Small fixes
  lib/Dialect/TTNN/Transforms/Workarounds/TTNNWorkaroundsPatterns.cpp
Owners: @tenstorrent/forge-developers-mlir-core

Added a negative test for shift != 0.
  lib/Conversion/TosaToTTIR/TosaToTTIRPatterns.cpp
  test/ttmlir/Conversion/TosaToTTIR/elementwise_binary/mul_test_negative.mlir
Owners: @tenstorrent/forge-developers-mlir-tosa
