Repository tenstorrent/tt-mlir, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nsmithtt, @sdjordjevicTT, @tapspatel, @vmilosevic, @tt-mpantic, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT, @mrakitaTT, @vroubtsovTT, @odjuricicTT, @vprajapati-tt, @vcanicTT, @kmabeeTT, @AleksKnezevic, @pilkicTT

.github/CODEOWNERS:

*.cmake @nsmithtt @sdjordjevicTT
*.fbs @tapspatel @nsmithtt
*.txt @nsmithtt @sdjordjevicTT
*.md @nsmithtt
/docs/ @nsmithtt
/env/ @nsmithtt
/.github/ @vmilosevic @tapspatel
/.github/CODEOWNERS @vmilosevic @tapspatel @nsmithtt @sdjordjevicTT @tt-mpantic
/include/ttmlir/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/include/ttmlir/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/include/ttmlir/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/lib/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/python/ @nsmithtt @tapspatel @odjuricicTT @vprajapati-tt @vcanicTT
/python/test_infra/ @nsmithtt @tapspatel @vprajapati-tt
/runtime/ @jnie-TT @kmabeeTT @AleksKnezevic @pilkicTT
/runtime/tools/ @tapspatel @nsmithtt
/test/ttmlir/Dialect/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/ttmlir/Silicon/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/Optimizer @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/OpModel @odjuricicTT @tt-mpantic @sdjordjevicTT
/tools/ @svuckovicTT @mtopalovicTT
/tools/explorer/ @odjuricicTT @tt-mpantic @sdjordjevicTT @vprajapati-tt @vcanicTT
/tools/ttnn-standalone @svuckovicTT @mtopalovicTT @sdjordjevicTT @azecevicTT @jserbedzijaTT

more build tracing
  cmake/modules/TTMLIRVersion.cmake
Owners: @nsmithtt, @sdjordjevicTT

have to return to 'git describe' but with a tigher match pattern
  .github/actions/build-tt-mlir-action/action.yaml
  cmake/modules/TTMLIRVersion.cmake
Owners: @vmilosevic, @tapspatel, @nsmithtt, @sdjordjevicTT

weird --match behavior
  cmake/modules/TTMLIRVersion.cmake
Owners: @nsmithtt, @sdjordjevicTT

working
  .github/workflows/issue-last-updated.yml
Owners: @vmilosevic, @tapspatel

Uplift third_party/tt-metal to 02fb2125f3fe1f05afd38bcea7993ccb7df87313 2025-02-11
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

conv_transpose2d
  runtime/lib/ttnn/operations/conv/conv_transpose2d.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

max_pool2d
  runtime/lib/ttnn/operations/pool/maxpool2d.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

pad
  runtime/lib/ttnn/operations/data_movement/pad.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

PadOp signature workaround removal
  runtime/include/tt/runtime/detail/workarounds.h
  runtime/lib/common/workarounds.cpp
  runtime/tools/python/ttrt/common/run.py
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @tapspatel, @nsmithtt

Mark ttnn.conv_transpose2d tests as unsupported after metal change 9b459f0
  test/ttmlir/Silicon/TTNN/n150/perf/test_perf_conv_transpose2d.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_conv_transpose2d.mlir
Owners: none

Enhance functionality of max_pool2d op
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecomposition.cpp
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecompositionPass.cpp
  test/ttmlir/Decomposition/TTIR/pooling/max_pool2d.mlir
  test/ttmlir/Silicon/StableHLO/n150/maxpool2d_op.mlir
Owners: none

Remove reduce op workaround for full tensor reduction
  include/ttmlir/Dialect/TTNN/Transforms/Workarounds/Decomposition/ReduceOpsRewritePattern.h
  lib/Dialect/TTNN/Transforms/Workarounds/TTNNWorkarounds.cpp
  test/ttmlir/Silicon/StableHLO/n150/reduction/reduce_add_op.mlir
  test/ttmlir/Silicon/StableHLO/n150/reduction/reduce_maximum_op.mlir
  test/ttmlir/Silicon/StableHLO/n150/reduction/reduce_min_op.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_sum.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

Uplift third_party/tt-metal to 02fb2125f3fe1f05afd38bcea7993ccb7df87313 2025-02-11 (#2172)
  test/ttmlir/Silicon/TTNN/n150/perf/test_perf_conv_transpose2d.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_conv_transpose2d.mlir
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

extra space?
  .github/actions/build-tt-mlir-action/action.yaml
Owners: @vmilosevic, @tapspatel

one more attempt to get quoting right
  cmake/modules/TTMLIRVersion.cmake
Owners: @nsmithtt, @sdjordjevicTT

add stablehlo missing import
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
Owners: none

Uplift third_party/tt-metal to d221ac28c4ed0d25616f5e6aeff50c12b9b9592b 2025-02-12
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

Remove reduce op workaround for full tensor reduction (#2164)
  include/ttmlir/Dialect/TTNN/Transforms/Workarounds/Decomposition/ReduceOpsRewritePattern.h
  lib/Dialect/TTNN/Transforms/Workarounds/TTNNWorkarounds.cpp
  test/ttmlir/Silicon/StableHLO/n150/reduction/reduce_add_op.mlir
  test/ttmlir/Silicon/StableHLO/n150/reduction/reduce_maximum_op.mlir
  test/ttmlir/Silicon/StableHLO/n150/reduction/reduce_min_op.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_sum.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

Uplift third_party/tt-metal to d221ac28c4ed0d25616f5e6aeff50c12b9b9592b 2025-02-12 (#2179)
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

Enable generic reduction op for more than 2 dimensions.
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  test/ttmlir/Dialect/TTNN/reduction/max_op_negative.mlir
  test/ttmlir/Dialect/TTNN/reduction/mean_op_negative.mlir
  test/ttmlir/Dialect/TTNN/reduction/simple_max.mlir
  test/ttmlir/Dialect/TTNN/reduction/simple_mean.mlir
  test/ttmlir/Dialect/TTNN/reduction/simple_sum.mlir
  test/ttmlir/Dialect/TTNN/reduction/sum_op_negative.mlir
  test/ttmlir/Silicon/StableHLO/n150/reduction/reduce_add_op.mlir
  test/ttmlir/Silicon/StableHLO/n150/reduction/reduce_maximum_op.mlir
  test/ttmlir/Silicon/StableHLO/n150/reduction/reduce_min_op.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT

ttkernel_to_cpp_file pybind
  python/Passes.cpp
  python/pykernel/pykernel_ast.py
Owners: @nsmithtt, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT

use the new decorators
  python/pykernel/pykernel_ast.py
  test/pykernel/add_2_integers_in_compute/add_2_tiles.py
  test/pykernel/add_2_integers_in_compute/reader_binary_1_tile.py
  test/pykernel/add_2_integers_in_compute/writer_1_tile.py
  test/pykernel/eltwise_sfpu/eltwise_sfpu.py
  test/pykernel/eltwise_sfpu/reader_unary.py
  test/pykernel/eltwise_sfpu/writer_unary.py
  test/pykernel/unit_tests.py
Owners: @nsmithtt, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT

different decorator for tensix and noc type kernels
  python/Passes.cpp
  python/pykernel/pykernel_ast.py
Owners: @nsmithtt, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT

dump cpp into build folder for now
  python/pykernel/pykernel_ast.py
Owners: @nsmithtt, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT

Dataformat enum
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOpsEnums.td
Owners: @nsmithtt, @vroubtsovTT

'Kernel' python object to store cpp kernel
  python/pykernel/pykernel_ast.py
  python/pykernel/types.py
  test/pykernel/add_2_integers_in_compute/add_2_tiles.py
  test/pykernel/add_2_integers_in_compute/reader_binary_1_tile.py
  test/pykernel/add_2_integers_in_compute/writer_1_tile.py
  test/pykernel/eltwise_sfpu/eltwise_sfpu.py
  test/pykernel/eltwise_sfpu/reader_unary.py
  test/pykernel/eltwise_sfpu/writer_unary.py
Owners: @nsmithtt, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT

InterleavedAddrGenFast draft type
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOpsEnums.td
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOpsTypes.td
Owners: @nsmithtt, @vroubtsovTT

Uplift third_party/tt-metal to 7fe2764ae519084817342949a1307cf163d030f4 2025-02-13
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

Memory config validation and adding memory config attribute to concat Op.
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.h
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOpsAttrs.td
  include/ttmlir/Dialect/TTNN/IR/TTNNTraits.h
  include/ttmlir/Dialect/TTNN/IR/TTNNTraits.td
  include/ttmlir/Target/TTNN/program.fbs
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTNN/IR/TTNNOpsAttrs.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/operations/data_movement/concat.cpp
  test/ttmlir/Dialect/TTIR/data_movement/concat/concat_tests_negative.mlir
  test/ttmlir/Dialect/TTNN/data_movement/concat/concat_tests_negative.mlir
  test/ttmlir/Dialect/TTNN/data_movement/to_memory_config/to_memory_config_tests_negative.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @tapspatel, @nsmithtt, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Uplift third_party/tt-metal to 7fe2764ae519084817342949a1307cf163d030f4 2025-02-13 (#2183)
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

Determine indirectly defined constant for clamp op
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/clamp_op.mlir
Owners: none

Add workaround for strided slice operation
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNWorkarounds.h
  lib/Dialect/TTNN/IR/TTNNWorkarounds.cpp
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
  test/ttmlir/Dialect/TTNN/Transforms/Workarounds/slice_workaround.mlir
  test/ttmlir/Silicon/StableHLO/n150/slice_op.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

Enable generic reduction op for more than 2 dimensions. (#2180)
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  test/ttmlir/Dialect/TTNN/reduction/max_op_negative.mlir
  test/ttmlir/Dialect/TTNN/reduction/mean_op_negative.mlir
  test/ttmlir/Dialect/TTNN/reduction/simple_max.mlir
  test/ttmlir/Dialect/TTNN/reduction/simple_mean.mlir
  test/ttmlir/Dialect/TTNN/reduction/simple_sum.mlir
  test/ttmlir/Dialect/TTNN/reduction/sum_op_negative.mlir
  test/ttmlir/Silicon/StableHLO/n150/reduction/reduce_add_op.mlir
  test/ttmlir/Silicon/StableHLO/n150/reduction/reduce_maximum_op.mlir
  test/ttmlir/Silicon/StableHLO/n150/reduction/reduce_min_op.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT

Uplift third_party/tt-metal to 941b34cff33ce2953cf984ec8898af25dbfbfbb3 2025-02-14
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

Custom command is dependent on TTRuntime and all of its dependencies
  runtime/tools/python/CMakeLists.txt
Owners: @tapspatel, @nsmithtt

Uplift third_party/tt-metal to 941b34cff33ce2953cf984ec8898af25dbfbfbb3 2025-02-14 (#2186)
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

Add data type workaround for concat op
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNWorkarounds.h
  lib/Dialect/TTNN/IR/TTNNWorkarounds.cpp
  test/ttmlir/Dialect/TTNN/Transforms/Workarounds/concat_workaround.mlir
  test/ttmlir/Silicon/StableHLO/n150/Binary/concat_op.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

Cleanup runtime includes, separate types.cpp and utils.cpp, add testing library that includes testing utils and emitc dylib APIs isolated under runtime/test/ttnn
  runtime/lib/ttnn/CMakeLists.txt
  runtime/lib/ttnn/operations/CMakeLists.txt
  runtime/lib/ttnn/types.cpp
  runtime/lib/ttnn/utils.cpp
  runtime/test/CMakeLists.txt
  runtime/test/include/tt/runtime/ttnn/test/dylib.h
  runtime/test/include/tt/runtime/ttnn/test/utils.h
  runtime/test/ttnn/CMakeLists.txt
  runtime/test/ttnn/dylib.cpp
  runtime/test/ttnn/utils.cpp
  runtime/tools/python/setup.py
  runtime/tools/python/ttrt/runtime/module.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @tapspatel, @nsmithtt

Add data type workaround for concat op (#2182)
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNWorkarounds.h
  lib/Dialect/TTNN/IR/TTNNWorkarounds.cpp
  test/ttmlir/Dialect/TTNN/Transforms/Workarounds/concat_workaround.mlir
  test/ttmlir/Silicon/StableHLO/n150/Binary/concat_op.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

add type conversions s.t. hoisted ops only run on f32 tensors
  lib/Dialect/TTIR/Transforms/HoistCPUOps.cpp
  test/ttmlir/Dialect/TTIR/hoist/simple_add.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT
