Repository tenstorrent/tt-mlir, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nsmithtt, @sdjordjevicTT, @tapspatel, @vmilosevic, @tt-mpantic, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT, @mrakitaTT, @vroubtsovTT, @odjuricicTT, @vprajapati-tt, @vcanicTT, @kmabeeTT, @AleksKnezevic, @pilkicTT

.github/CODEOWNERS:

*.cmake @nsmithtt @sdjordjevicTT
*.fbs @tapspatel @nsmithtt
*.txt @nsmithtt @sdjordjevicTT
*.md @nsmithtt
/docs/ @nsmithtt
/env/ @nsmithtt
/.github/ @vmilosevic @tapspatel
/.github/CODEOWNERS @vmilosevic @tapspatel @nsmithtt @sdjordjevicTT @tt-mpantic
/include/ttmlir/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/include/ttmlir/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/include/ttmlir/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/lib/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/python/ @nsmithtt @tapspatel @odjuricicTT @vprajapati-tt @vcanicTT
/python/test_infra/ @nsmithtt @tapspatel @vprajapati-tt
/runtime/ @jnie-TT @kmabeeTT @AleksKnezevic @pilkicTT
/runtime/tools/ @tapspatel @nsmithtt
/test/ttmlir/Dialect/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/ttmlir/Silicon/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/Optimizer @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/OpModel @odjuricicTT @tt-mpantic @sdjordjevicTT
/tools/ @svuckovicTT @mtopalovicTT
/tools/explorer/ @odjuricicTT @tt-mpantic @sdjordjevicTT @vprajapati-tt @vcanicTT
/tools/ttnn-standalone @svuckovicTT @mtopalovicTT @sdjordjevicTT @azecevicTT @jserbedzijaTT

move the pass into TTKernel converters scope
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOps.td
  lib/Conversion/TTKernelToEmitC/TTKernelToEmitC.cpp
Owners: @nsmithtt, @vroubtsovTT

remove bad header
  lib/OpModel/TTNN/MetalHeaders.h
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT

Uplift third_party/tt-metal to 57ba436ec4366d9129df6a53b2d9e1e828ef0356 2025-02-25
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

Fix bad rebase
  lib/Dialect/TTNN/Transforms/Optimizer.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT

Adding ability to reload system device and device descriptors and fix flaky test (#2259)
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  lib/Dialect/TTIR/Transforms/Utility.cpp
  test/ttmlir/Dialect/TTNN/Transforms/DecomposeLayouts/decomposing_layouts_from_host.mlir
  test/ttmlir/Silicon/TTNN/n150/Transforms/DecomposeLayouts/decomposing_layouts_from_host.mlir
  tools/scripts/extract-and-replace-system-desc-and-device.py
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Adding memory config to a reshape op.
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Dialect/TTNN/Transforms/Workarounds/Decomposition/ReduceOpsRewritePattern.h
  include/ttmlir/Target/TTNN/program.fbs
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Conversion/TTIRToTTNN/Utils.cpp
  lib/Dialect/TTNN/Transforms/Workarounds/TTNNWorkarounds.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/operations/data_movement/reshape.cpp
  test/ttmlir/Dialect/TTNN/data_movement/reshape/reshape_folding_test.mlir
  test/ttmlir/Silicon/TTNN/n150/data_movement/reshape/reshape.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @tapspatel, @nsmithtt, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Adding tests to cover reshape op.
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  test/ttmlir/Dialect/TTIR/data_movement/reshape/reshape_tests_negative.mlir
  test/ttmlir/Dialect/TTNN/data_movement/reshape/reshape_tests_negative.mlir
  test/ttmlir/Dialect/TTNN/data_movement/reshape/reshape_tests_positive.mlir
  test/ttmlir/Dialect/TTNN/simple_reshape.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

Fix ci targat name
  .github/workflows/build-and-test.yml
Owners: @vmilosevic, @tapspatel

Remove debug print when running tests (#2262)
  test/unittests/lit.cfg.py
Owners: none

wip /build/bin/ttmlir-opt --ttir-to-ttnn-backend-pipeline="system-desc-path=ttrt-artifacts/system_desc.ttsys" test/ttmlir/Dialect/TTNN/ttir_to_ttnn_pipeline_hoist_call.mlir --convert-ttnn-to-emitc
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
  lib/Conversion/TTNNToEmitC/TTNNToEmitCPass.cpp
Owners: @svuckovicTT, @sdjordjevicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

Only run clang-tidy for PRs, not needed for push
  .github/workflows/build-and-test.yml
Owners: @vmilosevic, @tapspatel

build fixes
  lib/Dialect/TTIR/IR/CMakeLists.txt
  lib/Dialect/TTIR/Transforms/Generic.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

cleanup other 2 testcases
  test/ttmlir/Dialect/TTNN/Transforms/ttnn_modify_signatures_for_dylib_0.mlir
Owners: none

missed a spot
  include/ttmlir/RegisterAll.h
Owners: none

cleanup a comment
  lib/Dialect/TTIR/Pipelines/TTIRPipelines.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Disable optimizer tests without opmodel
  test/lit.cfg.py
  test/ttmlir/Silicon/TTNN/n150/optimizer/llama_prefill_single_layer_ttir.mlir
  test/ttmlir/Silicon/TTNN/n150/optimizer/mnist_sharding.mlir
Owners: none

Removed Squeeze/Unsqueeze tests while bug is figured out
  test/python/golden/test_ttir_ops.py
  tools/explorer/test/run_tests.py
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @vprajapati-tt, @vcanicTT

add memory config to reshape op
  include/ttmlir/OpModel/TTNN/TTNNOpModel.h
  lib/Dialect/TTNN/IR/TTNNOpModelInterface.cpp
  lib/OpModel/TTNN/TTNNOpModelLib.cpp
  test/unittests/OpModel/TTNN/Lib/TestOpModelLib.cpp
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT

Refactor conv2d op and add conv2d config support
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOpsAttrs.td
  include/ttmlir/Target/TTNN/program.fbs
  include/ttmlir/Target/TTNN/types.fbs
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecomposition.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/operations/conv/conv2d.cpp
  runtime/lib/ttnn/operations/include/tt/runtime/ttnn/operations/utils.cpp
  runtime/lib/ttnn/operations/include/tt/runtime/ttnn/operations/utils.h
  test/ttmlir/Dialect/TTIR/conv2d/conv2d_tests_negative.mlir
  test/ttmlir/Dialect/TTIR/conv2d/conv2d_tests_positive.mlir
  test/ttmlir/Dialect/TTNN/convolution/simple_conv.mlir
  test/ttmlir/Dialect/TTNN/convolution/simple_conv2d.mlir
  test/ttmlir/Silicon/TTNN/n150/perf/test_perf_conv.mlir
  test/ttmlir/Silicon/TTNN/n150/perf/test_perf_conv2d.mlir
  test/ttmlir/Silicon/TTNN/n150/perf/test_perf_conv2d_config.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_conv2d.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @tapspatel, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Update unit test data
  test/unittests/OpModel/TTNN/Lib/TestOpModelLib.cpp
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT

remove outdated comment
  lib/Dialect/TTNN/IR/TTNNOpModelInterface.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT

rm llm-generated comments
  lib/Conversion/TTNNToEmitC/TTNNToEmitCPass.cpp
Owners: @svuckovicTT, @sdjordjevicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

Match machine target with test location
  .github/workflows/build-and-test.yml
Owners: @vmilosevic, @tapspatel

Refactor conv2d op and add conv2d config support (#2054)
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOpsAttrs.td
  include/ttmlir/Target/TTNN/program.fbs
  include/ttmlir/Target/TTNN/types.fbs
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecomposition.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/operations/conv/conv2d.cpp
  runtime/lib/ttnn/operations/include/tt/runtime/ttnn/operations/utils.cpp
  runtime/lib/ttnn/operations/include/tt/runtime/ttnn/operations/utils.h
  test/ttmlir/Dialect/TTIR/conv2d/conv2d_tests_negative.mlir
  test/ttmlir/Dialect/TTIR/conv2d/conv2d_tests_positive.mlir
  test/ttmlir/Dialect/TTNN/convolution/simple_conv.mlir
  test/ttmlir/Dialect/TTNN/convolution/simple_conv2d.mlir
  test/ttmlir/Silicon/TTNN/n150/perf/test_perf_conv.mlir
  test/ttmlir/Silicon/TTNN/n150/perf/test_perf_conv2d.mlir
  test/ttmlir/Silicon/TTNN/n150/perf/test_perf_conv2d_config.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_conv2d.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @tapspatel, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

More patterns
  test/pykernel/unit_tests.py
  test/python/simple_kernel.py
  test/python/smoketest.py
  test/ttmlir/Conversion/StableHLOToTTIR/binary/concat_op.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/binary/minimum_op.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/composite_op.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/convert_op.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/isfinite_op.mlir
  test/ttmlir/Conversion/TTKernelToEmitC/ttkernel.mlir
  test/ttmlir/Dialect/TTIR/split_compound_layout.mlir
  test/ttmlir/Dialect/TTIR/test_allocate.mlir
  test/ttmlir/Dialect/TTIR/test_layout.mlir
  test/ttmlir/Dialect/TTNN/Transforms/Workarounds/max_pool2d_workaround.mlir
  test/ttmlir/Dialect/TTNN/ccl/mesh_shard.mlir
  test/ttmlir/Dialect/TTNN/data_movement/reshape/reshape_folding_test.mlir
  test/ttmlir/Dialect/TTNN/data_movement/transpose/transpose_twice.mlir
  test/ttmlir/Dialect/TTNN/eltwise/unary/cast/simple_cast.mlir
  test/ttmlir/Dialect/TTNN/optimizer/test_override_reshard_edges.mlir
  test/ttmlir/Silicon/TTNN/n150/embedding/gather_to_embedding.mlir
  test/ttmlir/Silicon/TTNN/n150/kv_cache/fill_cache.mlir
  test/ttmlir/Silicon/TTNN/n150/kv_cache/update_cache.mlir
  test/ttmlir/Silicon/TTNN/n150/perf/test_perf_typecast.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_typecast.mlir
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT

fix
  test/ttmlir/Conversion/StableHLOToTTIR/isfinite_op.mlir
  test/ttmlir/Dialect/TTNN/optimizer/test_override_reshard_edges.mlir
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT

Fix perf overlay
  tools/explorer/tt_adapter/src/tt_adapter/mlir.py
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @vprajapati-tt, @vcanicTT

TODO - Check why duplicate locs exist
  tools/explorer/tt_adapter/src/tt_adapter/mlir.py
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @vprajapati-tt, @vcanicTT

First draft explorer memory visualization, incomplete
  tools/explorer/tt_adapter/src/tt_adapter/main.py
  tools/explorer/tt_adapter/src/tt_adapter/mlir.py
  tools/explorer/tt_adapter/src/tt_adapter/runner.py
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @vprajapati-tt, @vcanicTT

remove unnecessary imports
  lib/Dialect/TTNN/IR/TTNNOpModelInterface.cpp
  test/unittests/OpModel/TTNN/Op/TestOpModelInterface.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT, @odjuricicTT, @tt-mpantic

Hacks to support int32 for binary ops in runtime.
  runtime/lib/ttnn/operations/eltwise/binary/binary.cpp
  runtime/lib/ttnn/operations/eltwise/binary/binary_composite.cpp
  runtime/lib/ttnn/operations/include/tt/runtime/ttnn/operations/eltwise/binary/utils.cpp
  runtime/lib/ttnn/operations/include/tt/runtime/ttnn/operations/eltwise/binary/utils.h
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

covered: ttkernel register ops
  test/ttmlir/Conversion/TTKernelToEmitC/ttkernel.mlir
Owners: none

covered: ttkernel fpu ops; also rm some unused ops
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOps.td
  python/pykernel/pykernel_ast.py
  test/python/simple_kernel.py
  test/ttmlir/Conversion/TTKernelToEmitC/ttkernel.mlir
Owners: @nsmithtt, @vroubtsovTT, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT

covered: ttkernel tile ops
  test/ttmlir/Conversion/TTKernelToEmitC/ttkernel.mlir
Owners: none

covered: ttkernel cb ops
  test/ttmlir/Conversion/TTKernelToEmitC/ttkernel.mlir
Owners: none

covered: ttkernel sfpu ops
  test/ttmlir/Conversion/TTKernelToEmitC/ttkernel.mlir
Owners: none

covered: ttkernel noc ops
  test/ttmlir/Conversion/TTKernelToEmitC/ttkernel.mlir
Owners: none

added issues for TODOs
  test/ttmlir/Conversion/TTKernelToEmitC/ttkernel.mlir
Owners: none

fix up TTNNModifySignaturesForDylib
  lib/Dialect/TTNN/Transforms/Passes.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT

Restore default truncation in APInt constructor
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
Owners: none
