Repository tenstorrent/tt-mlir, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nsmithtt, @sdjordjevicTT, @tapspatel, @vmilosevic, @tt-mpantic, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT, @mrakitaTT, @vroubtsovTT, @odjuricicTT, @vprajapati-tt, @vcanicTT, @kmabeeTT, @AleksKnezevic, @pilkicTT

cleanup
  lib/Dialect/TTNN/Pipelines/TTNNPipelines.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT

fix tests pt 2
  test/ttmlir/Dialect/TTNN/ttir_to_ttnn_pipeline_hoist_call.mlir
Owners: none

Make C++ Cool
  include/ttmlir/Target/Utils/MLIRToFlatbuffer.h
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  python/Passes.cpp
Owners: @nsmithtt, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT

remove unneeded comments
  include/ttmlir/Target/TTNN/program.fbs
Owners: @tapspatel, @nsmithtt

copy changes from e2e branch
  runtime/lib/ttnn/include/tt/runtime/ttnn/dylib.cpp
  runtime/lib/ttnn/include/tt/runtime/ttnn/dylib.h
  runtime/lib/ttnn/include/tt/runtime/ttnn/types.cpp
  runtime/lib/ttnn/include/tt/runtime/ttnn/types.h
  runtime/lib/ttnn/operations/cpu/cpu.cpp
  runtime/lib/ttnn/operations/cpu/cpu.h
  runtime/lib/ttnn/program.cpp
  runtime/lib/ttnn/runtime.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Remove --disable-maxpool2d-preshard tests since it doesn't exist
  runtime/tools/python/test/test_run.py
Owners: @tapspatel, @nsmithtt

add accumulate emitc testcase
  test/ttmlir/Conversion/TTKernelToEmitC/memref_acc.mlir
Owners: none

add TTKernel -> EmitC mlir tests
  test/ttmlir/Conversion/TTKernelToEmitC/arith_const.mlir
  test/ttmlir/Conversion/TTKernelToEmitC/memref_load_store.mlir
Owners: none

Skip op verification in opDebugString
  include/ttmlir/Target/Utils/FuncOpToProgram.h
Owners: none

runtime cmake fix
  runtime/test/CMakeLists.txt
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Uplift third_party/tt-metal to 38578b33849c41ad70f5375856d736bc77239b8c 2025-02-10
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

Use strongly typed QueueID after metal commit 14f9739
  runtime/lib/ttnn/operations/data_movement/pad.cpp
  runtime/lib/ttnn/operations/pool/maxpool2d.cpp
  third_party/CMakeLists.txt
  tools/ttnn-standalone/CMakeLists.txt
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @nsmithtt, @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @azecevicTT, @jserbedzijaTT

install stablehlo headers
  CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

path
  CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

path
  CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

separate install step
  lib/CMakeLists.txt
  runtime/lib/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Skip op verification in opDebugString (#2157)
  include/ttmlir/Target/Utils/FuncOpToProgram.h
Owners: none

Lint Fix
  python/Passes.cpp
Owners: @nsmithtt, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT

Add support for stablehlo.reduce op for logical or operator
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecomposition.cpp
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecompositionPass.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/reduction/reduce_or_op.mlir
  test/ttmlir/Decomposition/TTIR/reduction/reduce_or.mlir
  test/ttmlir/Silicon/StableHLO/n150/reduction/reduce_or_op.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

set additional MLIR libs
  lib/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

Applied Milans suggestions
  lib/Dialect/TT/Utils/PassOverrides.cpp
  lib/Dialect/TT/Utils/PopulateArgumentTypes.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

attempt adding some support for ttir_builder hoist test
  python/test_infra/ttir_builder.py
  test/python/golden/test_ttir_ops.py
Owners: @nsmithtt, @tapspatel, @vprajapati-tt

Add type conversion pattern for empty op
  include/ttmlir/Conversion/StableHLOToTTIR/EmptyOpTypeConversion.h
  lib/Conversion/StableHLOToTTIR/CMakeLists.txt
  lib/Conversion/StableHLOToTTIR/EmptyOpTypeConversion.cpp
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPass.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/empty_op.mlir
Owners: @nsmithtt, @sdjordjevicTT

Switched to using logging in Explorer (#1920)
  tools/explorer/tt_adapter/src/tt_adapter/main.py
  tools/explorer/tt_adapter/src/tt_adapter/runner.py
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @vprajapati-tt, @vcanicTT

Uplift third_party/tt-metal to 38578b33849c41ad70f5375856d736bc77239b8c 2025-02-10 (#2155)
  runtime/lib/ttnn/operations/data_movement/pad.cpp
  runtime/lib/ttnn/operations/pool/maxpool2d.cpp
  third_party/CMakeLists.txt
  tools/ttnn-standalone/CMakeLists.txt
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @nsmithtt, @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @azecevicTT, @jserbedzijaTT

#2133: Modified existing golden functionality code to support multi-device tensors for CCL operations
  include/ttmlir/Target/Common/debug_info.fbs
  include/ttmlir/Target/TTMetal/TTMetalToFlatbuffer.h
  include/ttmlir/Target/TTNN/TTNNToFlatbuffer.h
  lib/Target/TTMetal/TTMetalToFlatbuffer.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  python/Passes.cpp
  python/test_infra/ttir_builder.py
  runtime/include/tt/runtime/detail/ttmetal.h
  runtime/include/tt/runtime/detail/ttnn.h
  runtime/include/tt/runtime/runtime.h
  runtime/include/tt/runtime/types.h
  runtime/lib/binary.cpp
  runtime/lib/runtime.cpp
  runtime/lib/ttmetal/runtime.cpp
  runtime/lib/ttnn/runtime.cpp
  runtime/tools/python/ttrt/common/callback.py
  runtime/tools/python/ttrt/runtime/module.cpp
Owners: @tapspatel, @nsmithtt, @odjuricicTT, @vprajapati-tt, @vcanicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

wip
  lib/Conversion/TTIRToTTMetal/TensorLayout.cpp
Owners: none

fix desc and args for redution ops
  include/ttmlir/Dialect/TTIR/IR/TTIRTileOps.td
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

include style
  lib/Dialect/TTIR/IR/TTIRDialect.cpp
  lib/Dialect/TTIR/IR/TTIROpsInterfaces.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

make release tag discovery more robust
  cmake/modules/TTMLIRVersion.cmake
Owners: @nsmithtt, @sdjordjevicTT

Introduce TTIR ReduceDim enum and use for tile reduction ops
  include/ttmlir/Dialect/TTIR/IR/TTIROpsEnums.td
  include/ttmlir/Dialect/TTIR/IR/TTIRTileOps.td
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Rename TTIR TileOps to TTIR GenericRegionOps
  include/ttmlir/Dialect/TTIR/IR/CMakeLists.txt
  include/ttmlir/Dialect/TTIR/IR/TTIRBase.td
  include/ttmlir/Dialect/TTIR/IR/TTIRGenericRegionOps.h
  include/ttmlir/Dialect/TTIR/IR/TTIRGenericRegionOps.td
  include/ttmlir/Dialect/TTIR/IR/TTIRTileOps.h
  include/ttmlir/Dialect/TTIR/IR/TTIRTraits.h
  lib/Dialect/TTIR/IR/CMakeLists.txt
  lib/Dialect/TTIR/IR/TTIRDialect.cpp
  lib/Dialect/TTIR/IR/TTIRGenericRegionOps.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

better dot/backslash escaping, also in action.yaml
  .github/actions/build-tt-mlir-action/action.yaml
  cmake/modules/TTMLIRVersion.cmake
Owners: @vmilosevic, @tapspatel, @nsmithtt, @sdjordjevicTT

#2061: Updated shlo to ttir all_gather conversion and pipecleaned cluster axis 0 for all_gather operations. Added test cases to verify cluster 0 and cluster 1 conversion and silicon runs
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Target/TTNN/program.fbs
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  lib/Dialect/TTNN/Transforms/Workarounds/TTNNWorkarounds.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/operations/ccl/all_gather.cpp
  system_desc_n300.ttsys
  test/ttmlir/Conversion/StableHLOToTTIR/ccl_ops.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_gather.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_gather_negative.mlir
  test/ttmlir/Silicon/TTNN/llmbox/ccl/ccl_1x8.mlir
  test/ttmlir/Silicon/TTNN/llmbox/ccl/ccl_2x4.mlir
  test/ttmlir/Silicon/TTNN/llmbox/perf/all_gather.mlir
  test/ttmlir/Silicon/TTNN/n300/ccl/ccl_1x2.mlir
  test/ttmlir/Silicon/TTNN/n300/perf/all_gather.mlir
  test/ttmlir/Silicon/TTNN/tg/ccl/ccl_1x32.mlir
  test/ttmlir/Silicon/TTNN/tg/ccl/ccl_8x4.mlir
  test/ttmlir/Silicon/TTNN/tg/perf/all_gather.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @tapspatel, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Initial Shardy integration.
  include/ttmlir/Conversion/Passes.td
  include/ttmlir/Conversion/StableHLOToTTIR/ShardingUtils.h
  include/ttmlir/Conversion/StableHLOToTTIR/ShardyToTTIR.h
  include/ttmlir/Conversion/StableHLOToTTIR/StableHLOToTTIR.h
  include/ttmlir/Dialect/TT/IR/TTOpsTypes.td
  include/ttmlir/Dialect/TT/Utils/Mesh.h
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Conversion/StableHLOToTTIR/CMakeLists.txt
  lib/Conversion/StableHLOToTTIR/ShardingUtils.cpp
  lib/Conversion/StableHLOToTTIR/ShardyToTTIRPatterns.cpp
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPass.cpp
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Dialect/TTIR/Pipelines/TTIRPipelines.cpp
  lib/Dialect/TTIR/Transforms/Utility.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/ccl_ops_gspmd.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/ccl/ccl_ops_shardy.mlir
  test/ttmlir/Dialect/TTNN/ccl/mesh_shard.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

"debugging" cmake behavior in our CI build
  cmake/modules/TTMLIRVersion.cmake
Owners: @nsmithtt, @sdjordjevicTT

Move ttir.yield to GenericRegion ops
  include/ttmlir/Dialect/TTIR/IR/TTIRGenericRegionOps.td
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTIR/Transforms/Passes.h
  lib/Conversion/TTIRToTTMetal/TTIRToTTMetal.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

pre-commit fix
  include/ttmlir/Dialect/TTIR/IR/TTIRGenericRegionOps.h
  include/ttmlir/Dialect/TTIR/IR/TTIRGenericRegionOps.td
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTIR/Transforms/Passes.h
  lib/Conversion/TTIRToTTMetal/TTIRToTTMetal.cpp
  lib/Dialect/TTIR/IR/TTIRDialect.cpp
  lib/Dialect/TTIR/IR/TTIRGenericRegionOps.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

more build tracing
  cmake/modules/TTMLIRVersion.cmake
Owners: @nsmithtt, @sdjordjevicTT

mode build tracing
  cmake/modules/TTMLIRVersion.cmake
Owners: @nsmithtt, @sdjordjevicTT

.github/CODEOWNERS:

*.cmake @nsmithtt @sdjordjevicTT
*.fbs @tapspatel @nsmithtt
*.txt @nsmithtt @sdjordjevicTT
*.md @nsmithtt
/docs/ @nsmithtt
/env/ @nsmithtt
/.github/ @vmilosevic @tapspatel
/.github/CODEOWNERS @vmilosevic @tapspatel @nsmithtt @sdjordjevicTT @tt-mpantic
/include/ttmlir/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/include/ttmlir/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/include/ttmlir/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/lib/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/python/ @nsmithtt @tapspatel @odjuricicTT @vprajapati-tt @vcanicTT
/python/test_infra/ @nsmithtt @tapspatel @vprajapati-tt
/runtime/ @jnie-TT @kmabeeTT @AleksKnezevic @pilkicTT
/runtime/tools/ @tapspatel @nsmithtt
/test/ttmlir/Dialect/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/ttmlir/Silicon/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/Optimizer @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/OpModel @odjuricicTT @tt-mpantic @sdjordjevicTT
/tools/ @svuckovicTT @mtopalovicTT
/tools/explorer/ @odjuricicTT @tt-mpantic @sdjordjevicTT @vprajapati-tt @vcanicTT
/tools/ttnn-standalone @svuckovicTT @mtopalovicTT @sdjordjevicTT @azecevicTT @jserbedzijaTT
