Repository tenstorrent/tt-mlir, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nsmithtt, @sdjordjevicTT, @tapspatel, @vmilosevic, @tt-mpantic, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT, @mrakitaTT, @vroubtsovTT, @odjuricicTT, @vprajapati-tt, @vcanicTT, @kmabeeTT, @AleksKnezevic, @pilkicTT

oops, mismerge
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
  lib/Dialect/TTNN/Transforms/Workarounds/TTNNWorkarounds.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT

Bind `ttir.ReshapeOp` to Builder
  python/test_infra/ttir_builder.py
  test/python/golden/test_ttir_ops.py
Owners: @nsmithtt, @tapspatel, @vprajapati-tt

once more
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT

[TTIR] Support passing 4 values for padding in ConvTranspose2d (#2115)
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Utils.h
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  runtime/lib/ttnn/operations/conv/conv_transpose2d.cpp
  test/ttmlir/Dialect/TTIR/conv_transpose2d/conv_transpose2d_tests_negative.mlir
  test/ttmlir/Dialect/TTIR/conv_transpose2d/conv_transpose2d_tests_positive.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Add runtime debug build test to CI (#2124)
  .github/actions/build-tt-mlir-action/action.yaml
  .github/workflows/build-and-test.yml
Owners: @vmilosevic, @tapspatel

Remove dep. on runtime workaround in `binary.cpp`
  runtime/lib/binary.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Remove all instances of `defaultStrideComputation`
  runtime/include/tt/runtime/detail/workarounds.h
  runtime/lib/binary.cpp
  runtime/lib/common/workarounds.cpp
  runtime/tools/python/ttrt/common/run.py
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @tapspatel, @nsmithtt

Create ModuleCache, load ModuleCache into FB, Use to load FB + Golden Data in Explorer (#1882)
  include/ttmlir/Conversion/Passes.h
  include/ttmlir/Target/Common/debug_info.fbs
  include/ttmlir/Target/TTNN/TTNNToFlatbuffer.h
  lib/RegisterAll.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  lib/Target/TTNN/TTNNToFlatbufferRegistration.cpp
  python/Passes.cpp
  python/test_infra/test_utils.py
  runtime/tools/python/ttrt/common/perf.py
  tools/explorer/tt_adapter/src/tt_adapter/main.py
  tools/explorer/tt_adapter/src/tt_adapter/runner.py
  tools/explorer/tt_adapter/src/tt_adapter/utils.py
Owners: @tapspatel, @nsmithtt, @odjuricicTT, @vprajapati-tt, @vcanicTT, @tt-mpantic, @sdjordjevicTT

Revert "Revert "Use dynamic linking for all compiler tools (#1947)""
  .github/actions/build-tt-mlir-action/action.yaml
  .github/workflows/build-and-test.yml
  CMakeLists.txt
  cmake/modules/TTMLIRBuildTypes.cmake
  env/CMakeLists.txt
  lib/CAPI/CMakeLists.txt
  lib/CMakeLists.txt
  lib/Conversion/StableHLOToTTIR/CMakeLists.txt
  lib/Conversion/TTIRToTTIRDecomposition/CMakeLists.txt
  lib/Conversion/TTIRToTTNN/CMakeLists.txt
  lib/Conversion/TTKernelToEmitC/CMakeLists.txt
  lib/Conversion/TTNNToEmitC/CMakeLists.txt
  lib/Conversion/TosaToTTIR/CMakeLists.txt
  lib/Dialect/TTIR/Pipelines/CMakeLists.txt
  lib/Dialect/TTMetal/Pipelines/CMakeLists.txt
  lib/Dialect/TTNN/IR/CMakeLists.txt
  lib/Dialect/TTNN/Pipelines/CMakeLists.txt
  lib/Scheduler/CMakeLists.txt
  lib/SharedLib/CMakeLists.txt
  lib/Target/TTKernel/CMakeLists.txt
  python/CMakeLists.txt
  third_party/CMakeLists.txt
  tools/ttmlir-lsp-server/CMakeLists.txt
  tools/ttmlir-opt/CMakeLists.txt
  tools/ttmlir-translate/CMakeLists.txt
Owners: @vmilosevic, @tapspatel, @nsmithtt, @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @mrakitaTT, @vroubtsovTT, @jnie-TT, @odjuricicTT, @vprajapati-tt, @vcanicTT

Update reduce ops workaround for keepDim=False attribute
  include/ttmlir/Dialect/TTNN/Transforms/Workarounds/Decomposition/ReduceOpsRewritePattern.h
  lib/Dialect/TTNN/Transforms/Workarounds/TTNNWorkarounds.cpp
  test/ttmlir/Dialect/TTNN/reduction/simple_reduce_min.mlir
  test/ttmlir/Silicon/StableHLO/n150/reduction/reduce_add_op.mlir
  test/ttmlir/Silicon/StableHLO/n150/reduction/reduce_maximum_op.mlir
  test/ttmlir/Silicon/StableHLO/n150/reduction/reduce_min_op.mlir
  test/ttmlir/Silicon/TTNN/n150/perf/test_perf_reduce_min.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_max.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_mean.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_reduce_min.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_sum.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

Default conv weights on host
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT

Uplift llvm and stablehlo
  env/CMakeLists.txt
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPass.cpp
  lib/Conversion/TTIRToTTMetal/AttachMetalLayout.cpp
  lib/Conversion/TTKernelToEmitC/TTKernelToEmitC.cpp
  lib/Dialect/TT/IR/TTOpsTypes.cpp
  lib/Dialect/TTIR/Transforms/Broadcast.cpp
  lib/Dialect/TTIR/Transforms/Constant.cpp
  lib/Dialect/TTIR/Transforms/Generic.cpp
  lib/Dialect/TTIR/Transforms/Layout.cpp
  lib/Dialect/TTNN/Transforms/Passes.cpp
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
  lib/Dialect/TTNN/Transforms/Workarounds/TTNNWorkarounds.cpp
  lib/Dialect/TTNN/Utils/Utils.cpp
Owners: @nsmithtt, @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

Update reduce ops workaround for keepDim=False attribute (#2001)
  include/ttmlir/Dialect/TTNN/Transforms/Workarounds/Decomposition/ReduceOpsRewritePattern.h
  lib/Dialect/TTNN/Transforms/Workarounds/TTNNWorkarounds.cpp
  test/ttmlir/Dialect/TTNN/reduction/simple_reduce_min.mlir
  test/ttmlir/Silicon/StableHLO/n150/reduction/reduce_add_op.mlir
  test/ttmlir/Silicon/StableHLO/n150/reduction/reduce_maximum_op.mlir
  test/ttmlir/Silicon/StableHLO/n150/reduction/reduce_min_op.mlir
  test/ttmlir/Silicon/TTNN/n150/perf/test_perf_reduce_min.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_max.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_mean.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_reduce_min.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_sum.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

change because of Jackson changes
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/mnist_inference.mlir
  test/ttmlir/Dialect/TTNN/ttir_to_ttnn_pipeline_hoist_call.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT

Bind `ttir.ReshapeOp` to Builder (#2031)
  python/test_infra/ttir_builder.py
  test/python/golden/test_ttir_ops.py
Owners: @nsmithtt, @tapspatel, @vprajapati-tt

Default conv weights on host
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT

enable python bindings
  env/CMakeLists.txt
Owners: @nsmithtt

test
  .github/scripts/pr-skip-check.sh
  .github/workflows/on-pr.yml
  docs/src/build.md
Owners: @vmilosevic, @tapspatel, @nsmithtt

test
  .github/scripts/pr-skip-check.sh
  docs/src/build.md
Owners: @vmilosevic, @tapspatel, @nsmithtt

test
  .github/workflows/on-pr.yml
  docs/src/build.md
Owners: @vmilosevic, @tapspatel, @nsmithtt

point metal to 54c1252965
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

Interim
  include/ttmlir/Target/Utils/MLIRToFlatbuffer.h
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  python/Passes.cpp
Owners: @nsmithtt, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT

test
  .github/workflows/on-pr.yml
  docs/src/build.md
Owners: @vmilosevic, @tapspatel, @nsmithtt

test
  .github/workflows/on-pr.yml
  docs/src/build.md
Owners: @vmilosevic, @tapspatel, @nsmithtt

test
  .github/scripts/pr-skip-check.sh
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @tapspatel

test
  .github/scripts/pr-skip-check.sh
  docs/src/build.md
Owners: @vmilosevic, @tapspatel, @nsmithtt

test
  .github/scripts/pr-skip-check.sh
  .github/workflows/on-pr.yml
  docs/src/build.md
Owners: @vmilosevic, @tapspatel, @nsmithtt

test
  .github/workflows/on-pr.yml
  docs/src/build.md
Owners: @vmilosevic, @tapspatel, @nsmithtt

test
  .github/workflows/on-pr.yml
  docs/src/build.md
Owners: @vmilosevic, @tapspatel, @nsmithtt

test
  docs/src/build.md
Owners: @nsmithtt

Default conv weights on host (#2135)
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT

test
  .github/scripts/pr-skip-check.sh
  .github/workflows/on-pr.yml
  docs/src/build.md
Owners: @vmilosevic, @tapspatel, @nsmithtt

test
  .github/workflows/on-pr.yml
  docs/src/build.md
Owners: @vmilosevic, @tapspatel, @nsmithtt

test
  .github/workflows/on-pr.yml
  docs/src/build.md
Owners: @vmilosevic, @tapspatel, @nsmithtt

work around changes again
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
  test/ttmlir/Dialect/TTNN/ttir_to_ttnn_pipeline_hoist_call.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT

test
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @tapspatel

test
  .github/scripts/pr-skip-check.sh
  .github/workflows/on-pr.yml
  docs/src/build.md
Owners: @vmilosevic, @tapspatel, @nsmithtt

test
  .github/scripts/pr-skip-check.sh
  docs/src/build.md
Owners: @vmilosevic, @tapspatel, @nsmithtt

Remove dep. on runtime workaround in `binary.cpp` (#2104)
  runtime/include/tt/runtime/detail/workarounds.h
  runtime/lib/binary.cpp
  runtime/lib/common/workarounds.cpp
  runtime/tools/python/ttrt/common/run.py
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @tapspatel, @nsmithtt

test
  .github/scripts/pr-skip-check.sh
  docs/src/build.md
Owners: @vmilosevic, @tapspatel, @nsmithtt

.github/CODEOWNERS:

*.cmake @nsmithtt @sdjordjevicTT
*.fbs @tapspatel @nsmithtt
*.txt @nsmithtt @sdjordjevicTT
*.md @nsmithtt
/docs/ @nsmithtt
/env/ @nsmithtt
/.github/ @vmilosevic @tapspatel
/.github/CODEOWNERS @vmilosevic @tapspatel @nsmithtt @sdjordjevicTT @tt-mpantic
/include/ttmlir/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/include/ttmlir/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/include/ttmlir/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/lib/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/python/ @nsmithtt @tapspatel @odjuricicTT @vprajapati-tt @vcanicTT
/python/test_infra/ @nsmithtt @tapspatel @vprajapati-tt
/runtime/ @jnie-TT @kmabeeTT @AleksKnezevic @pilkicTT
/runtime/tools/ @tapspatel @nsmithtt
/test/ttmlir/Dialect/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/ttmlir/Silicon/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/Optimizer @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/OpModel @odjuricicTT @tt-mpantic @sdjordjevicTT
/tools/ @svuckovicTT @mtopalovicTT
/tools/explorer/ @odjuricicTT @tt-mpantic @sdjordjevicTT @vprajapati-tt @vcanicTT
/tools/ttnn-standalone @svuckovicTT @mtopalovicTT @sdjordjevicTT @azecevicTT @jserbedzijaTT
