Repository tenstorrent/tt-mlir, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nsmithtt, @sdjordjevicTT, @tapspatel, @vmilosevic, @tt-mpantic, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT, @mrakitaTT, @vroubtsovTT, @odjuricicTT, @vprajapati-tt, @vcanicTT, @kmabeeTT, @AleksKnezevic, @pilkicTT

'Kernel' python object to store cpp kernel
  python/pykernel/pykernel_ast.py
  python/pykernel/types.py
  test/pykernel/add_2_integers_in_compute/add_2_tiles.py
  test/pykernel/add_2_integers_in_compute/reader_binary_1_tile.py
  test/pykernel/add_2_integers_in_compute/writer_1_tile.py
  test/pykernel/eltwise_sfpu/eltwise_sfpu.py
  test/pykernel/eltwise_sfpu/reader_unary.py
  test/pykernel/eltwise_sfpu/writer_unary.py
Owners: @nsmithtt, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT

ttkernel_to_cpp_file pybind
  python/Passes.cpp
  python/pykernel/pykernel_ast.py
Owners: @nsmithtt, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT

output cpp to string instead of file, option to dump to a file in python object
  python/Passes.cpp
  python/pykernel/pykernel_ast.py
  python/pykernel/types.py
  test/pykernel/add_2_integers_in_compute/add_2_tiles.py
  test/pykernel/add_2_integers_in_compute/reader_binary_1_tile.py
  test/pykernel/add_2_integers_in_compute/writer_1_tile.py
  test/pykernel/eltwise_sfpu/eltwise_sfpu.py
  test/pykernel/eltwise_sfpu/reader_unary.py
  test/pykernel/eltwise_sfpu/writer_unary.py
Owners: @nsmithtt, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT

dump cpp into build folder for now
  python/pykernel/pykernel_ast.py
Owners: @nsmithtt, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT

different decorator for tensix and noc type kernels
  python/Passes.cpp
  python/pykernel/pykernel_ast.py
Owners: @nsmithtt, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT

use the new decorators
  python/pykernel/pykernel_ast.py
  test/pykernel/add_2_integers_in_compute/add_2_tiles.py
  test/pykernel/add_2_integers_in_compute/reader_binary_1_tile.py
  test/pykernel/add_2_integers_in_compute/writer_1_tile.py
  test/pykernel/eltwise_sfpu/eltwise_sfpu.py
  test/pykernel/eltwise_sfpu/reader_unary.py
  test/pykernel/eltwise_sfpu/writer_unary.py
  test/pykernel/unit_tests.py
Owners: @nsmithtt, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT

Uplift third_party/tt-metal to d08245ef3c03197bab2b199a49e6fd5d99f3b195 2025-02-18 (#2194)
  third_party/CMakeLists.txt
  tools/ttnn-standalone/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @azecevicTT, @jserbedzijaTT

#2061: Updated shlo to ttir all_gather conversion and pipecleaned cluster axis 0 for all_gather operations. Added test cases to verify cluster 0 and cluster 1 conversion and silicon runs
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Target/TTNN/program.fbs
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  lib/Dialect/TTNN/Transforms/Workarounds/TTNNWorkarounds.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/operations/ccl/all_gather.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/ccl_ops.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_gather.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_gather_negative.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_reduce.mlir
  test/ttmlir/Silicon/TTNN/llmbox/ccl/ccl_1x8.mlir
  test/ttmlir/Silicon/TTNN/llmbox/ccl/ccl_2x4.mlir
  test/ttmlir/Silicon/TTNN/llmbox/perf/all_gather.mlir
  test/ttmlir/Silicon/TTNN/llmbox/perf/all_reduce.mlir
  test/ttmlir/Silicon/TTNN/n300/ccl/ccl_1x2.mlir
  test/ttmlir/Silicon/TTNN/n300/perf/all_gather.mlir
  test/ttmlir/Silicon/TTNN/n300/perf/all_reduce.mlir
  test/ttmlir/Silicon/TTNN/tg/ccl/ccl_1x32.mlir
  test/ttmlir/Silicon/TTNN/tg/ccl/ccl_8x4.mlir
  test/ttmlir/Silicon/TTNN/tg/perf/all_gather.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @tapspatel, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Fix macOS build; other cmake cleanup
  CMakeLists.txt
  cmake/modules/CMakeLists.txt
  env/CMakeLists.txt
  lib/CAPI/CMakeLists.txt
  lib/CMakeLists.txt
  lib/Conversion/CMakeLists.txt
  lib/Conversion/StableHLOToTTIR/CMakeLists.txt
  lib/Conversion/TTIRToLinalg/CMakeLists.txt
  lib/Conversion/TTIRToTTIRDecomposition/CMakeLists.txt
  lib/Conversion/TTIRToTTMetal/CMakeLists.txt
  lib/Conversion/TTIRToTTNN/CMakeLists.txt
  lib/Conversion/TTKernelToEmitC/CMakeLists.txt
  lib/Conversion/TTNNToEmitC/CMakeLists.txt
  lib/Conversion/TosaToTTIR/CMakeLists.txt
  lib/Dialect/TTIR/Pipelines/CMakeLists.txt
  lib/Dialect/TTMetal/Pipelines/CMakeLists.txt
  lib/Dialect/TTNN/CMakeLists.txt
  lib/Dialect/TTNN/IR/CMakeLists.txt
  lib/Dialect/TTNN/Pipelines/CMakeLists.txt
  lib/Dialect/TTNN/Transforms/CMakeLists.txt
  lib/Scheduler/CMakeLists.txt
  lib/SharedLib/CMakeLists.txt
  lib/SharedLib/empty.cpp
  lib/Target/LLVM/CMakeLists.txt
  lib/Target/TTKernel/CMakeLists.txt
  python/CMakeLists.txt
  runtime/CMakeLists.txt
  runtime/lib/CMakeLists.txt
  runtime/test/CMakeLists.txt
  runtime/test/ttnn/CMakeLists.txt
  runtime/test/ttnn/gtest/test_subtract.cpp
  runtime/tools/python/CMakeLists.txt
  runtime/tools/python/setup.py
  test/CMakeLists.txt
  test/unittests/Optimizer/CMakeLists.txt
  test/unittests/TestScheduler/CMakeLists.txt
  third_party/CMakeLists.txt
  tools/ttmlir-lsp-server/CMakeLists.txt
  tools/ttmlir-opt/CMakeLists.txt
  tools/ttmlir-translate/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @mrakitaTT, @vroubtsovTT, @jnie-TT, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @tt-mpantic

Static build (#2108)
  CMakeLists.txt
  cmake/modules/CMakeLists.txt
  env/CMakeLists.txt
  lib/CAPI/CMakeLists.txt
  lib/CMakeLists.txt
  lib/Conversion/CMakeLists.txt
  lib/Conversion/StableHLOToTTIR/CMakeLists.txt
  lib/Conversion/TTIRToLinalg/CMakeLists.txt
  lib/Conversion/TTIRToTTIRDecomposition/CMakeLists.txt
  lib/Conversion/TTIRToTTMetal/CMakeLists.txt
  lib/Conversion/TTIRToTTNN/CMakeLists.txt
  lib/Conversion/TTKernelToEmitC/CMakeLists.txt
  lib/Conversion/TTNNToEmitC/CMakeLists.txt
  lib/Conversion/TosaToTTIR/CMakeLists.txt
  lib/Dialect/TTIR/Pipelines/CMakeLists.txt
  lib/Dialect/TTMetal/Pipelines/CMakeLists.txt
  lib/Dialect/TTNN/CMakeLists.txt
  lib/Dialect/TTNN/IR/CMakeLists.txt
  lib/Dialect/TTNN/Pipelines/CMakeLists.txt
  lib/Dialect/TTNN/Transforms/CMakeLists.txt
  lib/Scheduler/CMakeLists.txt
  lib/SharedLib/CMakeLists.txt
  lib/SharedLib/empty.cpp
  lib/Target/LLVM/CMakeLists.txt
  lib/Target/TTKernel/CMakeLists.txt
  python/CMakeLists.txt
  runtime/CMakeLists.txt
  runtime/lib/CMakeLists.txt
  runtime/test/CMakeLists.txt
  runtime/test/ttnn/CMakeLists.txt
  runtime/test/ttnn/gtest/test_subtract.cpp
  runtime/tools/python/CMakeLists.txt
  runtime/tools/python/setup.py
  test/CMakeLists.txt
  test/unittests/Optimizer/CMakeLists.txt
  test/unittests/TestScheduler/CMakeLists.txt
  third_party/CMakeLists.txt
  tools/ttmlir-lsp-server/CMakeLists.txt
  tools/ttmlir-opt/CMakeLists.txt
  tools/ttmlir-translate/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @mrakitaTT, @vroubtsovTT, @jnie-TT, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @tt-mpantic

dyn_cast cleanup and tile_matmul_block to dps
  include/ttmlir/Dialect/TTIR/IR/TTIRGenericRegionOps.td
  lib/Dialect/TTIR/IR/TTIROpsInterfaces.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

#2061: Updated all_gather shlo conversion into ttir and ttnn (#2064)
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Target/TTNN/program.fbs
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  lib/Dialect/TTNN/Transforms/Workarounds/TTNNWorkarounds.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/operations/ccl/all_gather.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/ccl_ops.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_gather.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_gather_negative.mlir
  test/ttmlir/Dialect/TTNN/ccl/all_reduce.mlir
  test/ttmlir/Silicon/TTNN/llmbox/ccl/ccl_1x8.mlir
  test/ttmlir/Silicon/TTNN/llmbox/ccl/ccl_2x4.mlir
  test/ttmlir/Silicon/TTNN/llmbox/perf/all_gather.mlir
  test/ttmlir/Silicon/TTNN/llmbox/perf/all_reduce.mlir
  test/ttmlir/Silicon/TTNN/n300/ccl/ccl_1x2.mlir
  test/ttmlir/Silicon/TTNN/n300/perf/all_gather.mlir
  test/ttmlir/Silicon/TTNN/n300/perf/all_reduce.mlir
  test/ttmlir/Silicon/TTNN/tg/ccl/ccl_1x32.mlir
  test/ttmlir/Silicon/TTNN/tg/ccl/ccl_8x4.mlir
  test/ttmlir/Silicon/TTNN/tg/perf/all_gather.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @tapspatel, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

add all_reduce testcase for 1x8 llmbox configuration
  test/ttmlir/Silicon/TTNN/llmbox/ccl/ccl_1x8.mlir
Owners: none

Document LLVM_BUILD_TYPE
  docs/src/build.md
Owners: @nsmithtt

Prerequisite changes for d2m new lowering
  lib/Conversion/TTIRToTTMetal/AttachMetalLayout.cpp
  lib/Dialect/TTIR/Transforms/Layout.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT

Prerequisite changes for d2m new lowering (#2198)
  lib/Conversion/TTIRToTTMetal/AttachMetalLayout.cpp
  lib/Dialect/TTIR/Transforms/Layout.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @vroubtsovTT

cleanup
  python/Passes.cpp
Owners: @nsmithtt, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT

Addressed some comments
  runtime/include/tt/runtime/detail/ttnn.h
  runtime/lib/runtime.cpp
  runtime/lib/ttnn/runtime.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Changed naming
  runtime/include/tt/runtime/runtime.h
  runtime/lib/runtime.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Fix
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
Owners: none

Omit duplicate operands in graph (#2201)
  tools/explorer/tt_adapter/src/tt_adapter/mlir.py
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @vprajapati-tt, @vcanicTT

Channel type fix
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
Owners: none

Channel handle fix
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
Owners: none

Pybind for `translateTTKernelToCpp` (#2126)
  python/Passes.cpp
  python/pykernel/pykernel_ast.py
  python/pykernel/types.py
  test/pykernel/add_2_integers_in_compute/add_2_tiles.py
  test/pykernel/add_2_integers_in_compute/reader_binary_1_tile.py
  test/pykernel/add_2_integers_in_compute/writer_1_tile.py
  test/pykernel/eltwise_sfpu/eltwise_sfpu.py
  test/pykernel/eltwise_sfpu/reader_unary.py
  test/pykernel/eltwise_sfpu/writer_unary.py
  test/pykernel/unit_tests.py
Owners: @nsmithtt, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT

address feedback
  include/ttmlir/Target/Common/types.fbs
  include/ttmlir/Target/TTNN/program.fbs
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
Owners: @tapspatel, @nsmithtt

Exposed the createOwnedTensor API in the runtime to the frontends (#2204)
  runtime/include/tt/runtime/detail/ttnn.h
  runtime/include/tt/runtime/runtime.h
  runtime/lib/runtime.cpp
  runtime/lib/ttnn/runtime.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Cleanup generic region verifier
  lib/Dialect/TTIR/IR/TTIROpsInterfaces.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Adding hoisting passes to TTNNToFlatbuffer translation (#2147)
  include/ttmlir/Target/Common/types.fbs
  include/ttmlir/Target/TTNN/program.fbs
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  lib/Target/TTNN/TTNNToFlatbufferRegistration.cpp
Owners: @tapspatel, @nsmithtt

add canonicalizer for ttir.to_layout empty
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTIR/Transforms/CMakeLists.txt
  test/ttmlir/Dialect/TTIR/hoist/simple_add.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

remove debug change
  lib/Dialect/TTIR/Transforms/CMakeLists.txt
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

update testcase to include empty tensor dtypes
  test/ttmlir/Dialect/TTIR/hoist/simple_add.mlir
Owners: none

Add e2e implementation of argmax reduction op
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Target/TTNN/program.fbs
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecomposition.cpp
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecompositionPass.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/include/tt/runtime/detail/ttnn.h
  runtime/lib/ttnn/operations/CMakeLists.txt
  runtime/lib/ttnn/operations/reduction/argmax.cpp
  runtime/lib/ttnn/operations/reduction/argmax.h
  runtime/lib/ttnn/program.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/reduction/argmax_op.mlir
  test/ttmlir/Dialect/TTIR/reduction/negative_argmax_dims.mlir
  test/ttmlir/Dialect/TTNN/reduction/simple_argmax.mlir
  test/ttmlir/EmitC/TTNN/reduction/argmax.mlir
  test/ttmlir/Silicon/TTNN/n150/perf/test_perf_argmax.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_argmax.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @tapspatel, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Add type conversion pattern for empty op
  include/ttmlir/Conversion/StableHLOToTTIR/EmptyOpTypeConversion.h
  lib/Conversion/StableHLOToTTIR/CMakeLists.txt
  lib/Conversion/StableHLOToTTIR/EmptyOpTypeConversion.cpp
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPass.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/empty_op.mlir
Owners: @nsmithtt, @sdjordjevicTT

op->print() use AsmState instead of flags
  CMakeLists.txt
  include/ttmlir/Target/Utils/FuncOpToProgram.h
Owners: @nsmithtt, @sdjordjevicTT

Removed create_golden_Tensor, created "safe" custom Constructor (#2136)
  include/ttmlir/Target/Utils/MLIRToFlatbuffer.h
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  python/Passes.cpp
  python/test_infra/ttir_builder.py
  tools/explorer/tt_adapter/src/tt_adapter/runner.py
Owners: @nsmithtt, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT, @tt-mpantic, @sdjordjevicTT

oops
  lib/Dialect/TTNN/Pipelines/CMakeLists.txt
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT

Document LLVM_BUILD_TYPE (#2207)
  docs/src/build.md
Owners: @nsmithtt

Add type conversion pattern for empty op (#2162)
  include/ttmlir/Conversion/StableHLOToTTIR/EmptyOpTypeConversion.h
  lib/Conversion/StableHLOToTTIR/CMakeLists.txt
  lib/Conversion/StableHLOToTTIR/EmptyOpTypeConversion.cpp
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPass.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/empty_op.mlir
Owners: @nsmithtt, @sdjordjevicTT

Add e2e implementation of argmax reduction op (#2059)
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Target/TTNN/program.fbs
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecomposition.cpp
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecompositionPass.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/include/tt/runtime/detail/ttnn.h
  runtime/lib/ttnn/operations/CMakeLists.txt
  runtime/lib/ttnn/operations/reduction/argmax.cpp
  runtime/lib/ttnn/operations/reduction/argmax.h
  runtime/lib/ttnn/program.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/reduction/argmax_op.mlir
  test/ttmlir/Dialect/TTIR/reduction/negative_argmax_dims.mlir
  test/ttmlir/Dialect/TTNN/reduction/simple_argmax.mlir
  test/ttmlir/EmitC/TTNN/reduction/argmax.mlir
  test/ttmlir/Silicon/TTNN/n150/perf/test_perf_argmax.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_argmax.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @tapspatel, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Uplift third_party/tt-metal to 3200cb91afaaa05b33d7f23db424912ac370cfbb 2025-02-19
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

.github/CODEOWNERS:

*.cmake @nsmithtt @sdjordjevicTT
*.fbs @tapspatel @nsmithtt
*.txt @nsmithtt @sdjordjevicTT
*.md @nsmithtt
/docs/ @nsmithtt
/env/ @nsmithtt
/.github/ @vmilosevic @tapspatel
/.github/CODEOWNERS @vmilosevic @tapspatel @nsmithtt @sdjordjevicTT @tt-mpantic
/include/ttmlir/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/include/ttmlir/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/include/ttmlir/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/lib/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/python/ @nsmithtt @tapspatel @odjuricicTT @vprajapati-tt @vcanicTT
/python/test_infra/ @nsmithtt @tapspatel @vprajapati-tt
/runtime/ @jnie-TT @kmabeeTT @AleksKnezevic @pilkicTT
/runtime/tools/ @tapspatel @nsmithtt
/test/ttmlir/Dialect/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/ttmlir/Silicon/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/Optimizer @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/OpModel @odjuricicTT @tt-mpantic @sdjordjevicTT
/tools/ @svuckovicTT @mtopalovicTT
/tools/explorer/ @odjuricicTT @tt-mpantic @sdjordjevicTT @vprajapati-tt @vcanicTT
/tools/ttnn-standalone @svuckovicTT @mtopalovicTT @sdjordjevicTT @azecevicTT @jserbedzijaTT
