Repository tenstorrent/tt-mlir, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nsmithtt, @sdjordjevicTT, @tapspatel, @vmilosevic, @tt-mpantic, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT, @mrakitaTT, @vroubtsovTT, @odjuricicTT, @vprajapati-tt, @vcanicTT, @kmabeeTT, @AleksKnezevic, @pilkicTT

.github/CODEOWNERS:

*.cmake @nsmithtt @sdjordjevicTT
*.fbs @tapspatel @nsmithtt
*.txt @nsmithtt @sdjordjevicTT
*.md @nsmithtt
/docs/ @nsmithtt
/env/ @nsmithtt
/.github/ @vmilosevic @tapspatel
/.github/CODEOWNERS @vmilosevic @tapspatel @nsmithtt @sdjordjevicTT @tt-mpantic
/include/ttmlir/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/include/ttmlir/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/include/ttmlir/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/lib/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/python/ @nsmithtt @tapspatel @odjuricicTT @vprajapati-tt @vcanicTT
/python/test_infra/ @nsmithtt @tapspatel @vprajapati-tt
/runtime/ @jnie-TT @kmabeeTT @AleksKnezevic @pilkicTT
/runtime/tools/ @tapspatel @nsmithtt
/test/ttmlir/Dialect/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/ttmlir/Silicon/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/Optimizer @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/OpModel @odjuricicTT @tt-mpantic @sdjordjevicTT
/tools/ @svuckovicTT @mtopalovicTT
/tools/explorer/ @odjuricicTT @tt-mpantic @sdjordjevicTT @vprajapati-tt @vcanicTT
/tools/ttnn-standalone @svuckovicTT @mtopalovicTT @sdjordjevicTT @azecevicTT @jserbedzijaTT

remove debug change
  lib/Dialect/TTIR/Transforms/CMakeLists.txt
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

remove unrelated changes
  lib/Dialect/TTIR/Transforms/HoistCPUOps.cpp
  lib/RegisterAll.cpp
  python/Passes.cpp
  tools/ttmlir-lsp-server/ttmlir-lsp-server.cpp
  tools/ttmlir-opt/ttmlir-opt.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT

add proper attr tagging
  include/ttmlir/Dialect/TTIR/IR/TTIROpsAttrs.td
  lib/Dialect/TTIR/Transforms/HoistCPUOps.cpp
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
  test/ttmlir/Dialect/TTNN/ttir_to_ttnn_pipeline_hoist_call.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

replace hard-coded attr name with programmatic name
  lib/Dialect/TTIR/Transforms/HoistCPUOps.cpp
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

Add `transpose` to `ttir_builder`
  python/test_infra/ttir_builder.py
  test/python/golden/test_ttir_ops.py
Owners: @nsmithtt, @tapspatel, @vprajapati-tt

Remove references to mesh_device->get_device_index() after metal Commit 911e5c8
  runtime/lib/ttnn/include/tt/runtime/ttnn/types.h
  runtime/lib/ttnn/operations/creation/empty.cpp
  runtime/lib/ttnn/operations/creation/full.cpp
  runtime/lib/ttnn/runtime.cpp
  runtime/lib/ttnn/types/types.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Add Llama Attention Test in `ttir_builder`
  test/python/golden/test_ttir_models.py
  test/python/golden/test_ttir_ops.py
Owners: none

Add `transpose` to `ttir_builder` (#2214)
  python/test_infra/ttir_builder.py
  test/python/golden/test_ttir_ops.py
Owners: @nsmithtt, @tapspatel, @vprajapati-tt

add
  .github/workflows/issue-last-updated.yml
Owners: @vmilosevic, @tapspatel

Uplift third_party/tt-metal to 3200cb91afaaa05b33d7f23db424912ac370cfbb 2025-02-19 (#2208)
  runtime/lib/ttnn/include/tt/runtime/ttnn/types.h
  runtime/lib/ttnn/operations/creation/empty.cpp
  runtime/lib/ttnn/operations/creation/full.cpp
  runtime/lib/ttnn/runtime.cpp
  runtime/lib/ttnn/types/types.cpp
  third_party/CMakeLists.txt
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @nsmithtt, @sdjordjevicTT

Uplift third_party/tt-metal to f82aaa8e7155ca812362fb1fa0f4db898938ae18 2025-02-20
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

Disable workaround
  runtime/include/tt/runtime/detail/workarounds.h
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

ttnn.constant initial implementation
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

serialization
  include/ttmlir/Target/TTNN/program.fbs
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
Owners: @tapspatel, @nsmithtt

Runtime support
  include/ttmlir/Target/TTNN/program.fbs
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/operations/CMakeLists.txt
  runtime/lib/ttnn/operations/creation/constant.cpp
  runtime/lib/ttnn/operations/creation/constant.h
  runtime/lib/ttnn/program.cpp
Owners: @tapspatel, @nsmithtt, @svuckovicTT, @sdjordjevicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

TTNN td fix
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

Remove else after return
  runtime/lib/ttnn/include/tt/runtime/ttnn/utils.h
  runtime/lib/ttnn/operations/creation/constant.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

ConstantOp WA to guarantee SystemMemory
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNWorkarounds.h
  lib/Dialect/TTNN/IR/TTNNWorkarounds.cpp
  runtime/lib/ttnn/operations/creation/constant.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Runtime refactoring WIP
  runtime/lib/ttnn/operations/creation/constant.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

ConstantOp runtime refactoring
  runtime/lib/ttnn/operations/creation/constant.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Support for uint8_t
  runtime/lib/ttnn/runtime.cpp
  runtime/lib/ttnn/utils/utils.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

TTIR -> TTNN converision:
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  runtime/lib/ttnn/operations/creation/constant.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Updated simple_constant tests
  test/ttmlir/Dialect/TTNN/simple_constant.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_constant.mlir
Owners: none

Move some utility templates to utility.h
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/include/tt/runtime/ttnn/utils.h
  runtime/lib/ttnn/operations/creation/constant.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

SimpleShape -> Shape
  runtime/lib/ttnn/operations/creation/constant.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Multichip hacks
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  runtime/include/tt/runtime/detail/workarounds.h
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Multichip hacks
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  runtime/include/tt/runtime/detail/workarounds.h
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Workaround to gurantee system memory + row major
  include/ttmlir/Dialect/TTNN/IR/TTNNWorkarounds.h
  lib/Dialect/TTNN/IR/TTNNWorkarounds.cpp
  runtime/lib/ttnn/operations/creation/constant.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Verifier for TTNN constant op
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

Update device side log path after metal change e54804e
  runtime/tools/python/ttrt/common/perf.py
Owners: @tapspatel, @nsmithtt

ConstantOp in TTNN and runtime (#2075)
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNWorkarounds.h
  include/ttmlir/Target/TTNN/program.fbs
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
  lib/Dialect/TTNN/IR/TTNNWorkarounds.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/include/tt/runtime/ttnn/utils.h
  runtime/lib/ttnn/operations/CMakeLists.txt
  runtime/lib/ttnn/operations/creation/constant.cpp
  runtime/lib/ttnn/operations/creation/constant.h
  runtime/lib/ttnn/program.cpp
  runtime/lib/ttnn/runtime.cpp
  runtime/lib/ttnn/utils/utils.cpp
  test/ttmlir/Dialect/TTNN/simple_constant.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_constant.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @tapspatel, @nsmithtt, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Tag hoisted calls with special attr (#2213)
  include/ttmlir/Dialect/TTIR/IR/TTIROpsAttrs.td
  lib/Dialect/TTIR/Transforms/HoistCPUOps.cpp
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
  test/ttmlir/Dialect/TTNN/ttir_to_ttnn_pipeline_hoist_call.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

Add type conversions around hoisted ops to only run on f32 (#2189)
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTIR/Transforms/HoistCPUOps.cpp
  test/ttmlir/Dialect/TTIR/hoist/simple_add.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Channel fix
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
Owners: none

Pybind for `translateTTKernelToCpp` (#2126)
  python/Passes.cpp
  python/pykernel/pykernel_ast.py
  python/pykernel/types.py
  test/pykernel/add_2_integers_in_compute/add_2_tiles.py
  test/pykernel/add_2_integers_in_compute/reader_binary_1_tile.py
  test/pykernel/add_2_integers_in_compute/writer_1_tile.py
  test/pykernel/eltwise_sfpu/eltwise_sfpu.py
  test/pykernel/eltwise_sfpu/reader_unary.py
  test/pykernel/eltwise_sfpu/writer_unary.py
  test/pykernel/unit_tests.py
Owners: @nsmithtt, @tapspatel, @odjuricicTT, @vprajapati-tt, @vcanicTT

Exposed the createOwnedTensor API in the runtime to the frontends (#2204)
  runtime/include/tt/runtime/detail/ttnn.h
  runtime/include/tt/runtime/runtime.h
  runtime/lib/runtime.cpp
  runtime/lib/ttnn/runtime.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Use `AsmState` instead of `PrintFlags` in `getOpDebugString` (#2212)
  CMakeLists.txt
  include/ttmlir/Target/Utils/FuncOpToProgram.h
Owners: @nsmithtt, @sdjordjevicTT

Uplift third_party/tt-metal to f82aaa8e7155ca812362fb1fa0f4db898938ae18 2025-02-20 (#2218)
  runtime/tools/python/ttrt/common/perf.py
  third_party/CMakeLists.txt
Owners: @tapspatel, @nsmithtt, @sdjordjevicTT

Add argument type and pass which can populate them (#2049)
  include/ttmlir/Dialect/TT/IR/TTOpsEnums.td
  include/ttmlir/Dialect/TT/IR/TTOpsTypes.td
  include/ttmlir/Dialect/TT/Utils/PopulateArgumentTypes.h
  include/ttmlir/Dialect/TTNN/Pipelines/TTNNPipelines.h
  lib/Dialect/TT/CMakeLists.txt
  lib/Dialect/TT/Utils/CMakeLists.txt
  lib/Dialect/TT/Utils/PopulateArgumentTypes.cpp
  lib/Dialect/TTNN/Pipelines/CMakeLists.txt
  lib/Dialect/TTNN/Pipelines/TTNNPipelines.cpp
  lib/RegisterAll.cpp
  test/ttmlir/Dialect/TTIR/populate_argument_types/negative/incorrect_arg_count_provided.mlir
  test/ttmlir/Dialect/TTIR/populate_argument_types/negative/invalid_function_name_provided.mlir
  test/ttmlir/Dialect/TTIR/populate_argument_types/positive/populate_multiple_funcs_with_existing_attrs.mlir
  test/ttmlir/Dialect/TTIR/populate_argument_types/positive/populate_with_exsting_attrs.mlir
  test/ttmlir/Dialect/TTIR/populate_argument_types/positive/populate_with_no_existing_attrs.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @jnie-TT

Update build-requirements.txt
  env/build-requirements.txt
Owners: @nsmithtt
