Repository tenstorrent/tt-mlir, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nsmithtt, @sdjordjevicTT, @tapspatel, @vmilosevic, @tt-mpantic, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT, @mrakitaTT, @vroubtsovTT, @odjuricicTT, @vprajapati-tt, @vcanicTT, @kmabeeTT, @AleksKnezevic, @pilkicTT

.github/CODEOWNERS:

*.cmake @nsmithtt @sdjordjevicTT
*.fbs @tapspatel @nsmithtt
*.txt @nsmithtt @sdjordjevicTT
*.md @nsmithtt
/docs/ @nsmithtt
/env/ @nsmithtt
/.github/ @vmilosevic @tapspatel
/.github/CODEOWNERS @vmilosevic @tapspatel @nsmithtt @sdjordjevicTT @tt-mpantic
/include/ttmlir/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/include/ttmlir/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/include/ttmlir/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/include/ttmlir/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TTKernel/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTMetal/ @nsmithtt @vroubtsovTT
/lib/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/lib/Dialect/TTNN/Analysis/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/lib/OpModel/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/python/ @nsmithtt @tapspatel @odjuricicTT @vprajapati-tt @vcanicTT
/python/test_infra/ @nsmithtt @tapspatel @vprajapati-tt
/runtime/ @jnie-TT @kmabeeTT @AleksKnezevic @pilkicTT
/runtime/tools/ @tapspatel @nsmithtt
/test/ttmlir/Dialect/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/ttmlir/Silicon/TTNN/optimizer/ @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/Optimizer @odjuricicTT @tt-mpantic @sdjordjevicTT
/test/unittests/OpModel @odjuricicTT @tt-mpantic @sdjordjevicTT
/tools/ @svuckovicTT @mtopalovicTT
/tools/explorer/ @odjuricicTT @tt-mpantic @sdjordjevicTT @vprajapati-tt @vcanicTT
/tools/ttnn-standalone @svuckovicTT @mtopalovicTT @sdjordjevicTT @azecevicTT @jserbedzijaTT

wip
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  lib/Conversion/TTIRToTTMetal/CMakeLists.txt
  lib/Conversion/TTIRToTTMetal/TensorLayout.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

wip
  lib/Conversion/TTIRToTTMetal/TensorLayout.cpp
Owners: none

Use modifyOpInPlace for GenericTensorLayout and FuncReturnTesnsorLayout passes
  lib/Conversion/TTIRToTTMetal/TensorLayout.cpp
Owners: none

Use modifyOpInPlace for MemrefRewriter
  lib/Conversion/TTIRToTTMetal/TensorLayout.cpp
Owners: none

cleanup
  lib/Conversion/TTIRToTTMetal/TensorLayout.cpp
  test/ttmlir/Dialect/TTIR/tensor_layout/tensor_layout.mlir
Owners: none

Add tensor layout reduction test
  test/ttmlir/Dialect/TTIR/tensor_layout/tensor_layout.mlir
Owners: none

wip
  lib/Conversion/TTIRToTTMetal/TensorLayout.cpp
Owners: none

pre-commit fix
  lib/Conversion/TTIRToTTMetal/TensorLayout.cpp
Owners: none

Group initial 3 tenor layout passes
  lib/Conversion/TTIRToTTMetal/TensorLayout.cpp
Owners: none

Add support for stablehlo.reduce op for logical or operator (#2160)
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecomposition.cpp
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecompositionPass.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/reduction/reduce_or_op.mlir
  test/ttmlir/Decomposition/TTIR/reduction/reduce_or.mlir
  test/ttmlir/Dialect/TTNN/reduction/simple_reduce_or.mlir
  test/ttmlir/Silicon/StableHLO/n150/reduction/reduce_or_op.mlir
  test/ttmlir/Silicon/TTNN/n150/simple_reduce_or.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Working Changes to Tests
  tools/explorer/test/run_tests.py
  tools/explorer/tt_adapter/src/tt_adapter/main.py
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @vprajapati-tt, @vcanicTT

Added --memory flag to perf run from explorer
  tools/explorer/tt_adapter/src/tt_adapter/runner.py
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @vprajapati-tt, @vcanicTT

Update applyPatternsAndFoldGreedily after llvm uplift
  lib/Conversion/TTIRToTTMetal/TensorLayout.cpp
Owners: none

condition the memory effects based on tensors vs memref
  include/ttmlir/Dialect/TTIR/IR/TTIRBase.td
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Dialect/TTIR/IR/TTIROps.cpp
  test/ttmlir/Dialect/TTIR/bufferization/memory_effects.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Finally got this working, please don't break in CI
  runtime/tools/python/ttrt/common/callback.py
  runtime/tools/python/ttrt/common/perf.py
  runtime/tools/python/ttrt/common/run.py
  runtime/tools/python/ttrt/common/util.py
  tools/explorer/tt_adapter/src/tt_adapter/mlir.py
  tools/explorer/tt_adapter/src/tt_adapter/runner.py
Owners: @tapspatel, @nsmithtt, @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @vprajapati-tt, @vcanicTT

Shifted TTRT Read API calls from Python (#2119)
  runtime/tools/python/ttrt/common/read.py
Owners: @tapspatel, @nsmithtt

Add signed int32 data types support end to end
  include/ttmlir/Dialect/TT/IR/TTOpsEnums.td
  include/ttmlir/Dialect/TT/IR/TTOpsTypes.h
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNWorkarounds.h
  include/ttmlir/Target/Common/types.fbs
  include/ttmlir/Target/TTNN/utils.h
  include/ttmlir/Target/Utils/MLIRToFlatbuffer.h
  lib/Conversion/TTNNToEmitC/Utils.cpp
  lib/Dialect/TT/IR/TTOpsTypes.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTNN/IR/TTNNWorkarounds.cpp
  runtime/lib/common/system_desc.cpp
  runtime/lib/ttmetal/command_queue.cpp
  runtime/lib/ttnn/include/tt/runtime/ttnn/utils.h
  runtime/lib/ttnn/runtime.cpp
  runtime/lib/ttnn/utils/utils.cpp
  runtime/tools/python/ttrt/common/run.py
  runtime/tools/python/ttrt/common/util.py
  runtime/tools/python/ttrt/runtime/module.cpp
  test/ttmlir/Dialect/TTNN/data_movement/repeat/repeat_workaround.mlir
  test/ttmlir/Dialect/TTNN/data_movement/reshape/reshape_folding_test.mlir
  test/ttmlir/Dialect/TTNN/eltwise/binary/bitwise_and/simple_bitwise_and.mlir
  test/ttmlir/Dialect/TTNN/eltwise/binary/bitwise_or/simple_bitwise_or.mlir
  test/ttmlir/Dialect/TTNN/eltwise/binary/bitwise_xor/simple_bitwise_xor.mlir
  test/ttmlir/Dialect/TTNN/eltwise/unary/bitwise_not/simple_bitwise_not.mlir
  test/ttmlir/Dialect/TTNN/reduction/simple_argmax.mlir
  test/ttmlir/Dialect/TTNN/simple_constant.mlir
  test/ttmlir/Dialect/TTNN/typecast.mlir
  test/ttmlir/Silicon/StableHLO/n150/Binary/concat_op.mlir
  test/ttmlir/Silicon/StableHLO/n150/Constant/constant_i32.mlir
  test/ttmlir/Silicon/StableHLO/n150/Constant/constant_i64.mlir
  test/ttmlir/Silicon/StableHLO/n150/moreh_cumsum_op.mlir
  test/ttmlir/Silicon/TTNN/n150/eltwise/binary/add/add_int32.mlir
  test/ttmlir/Silicon/TTNN/n150/kv_cache/update_cache.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @tapspatel, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Allow shardy include files in install directory
  CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

WIP
  CMakeLists.txt
  include/ttmlir/Conversion/TTNNToEmitC/EmitCConversion.h
  include/ttmlir/Conversion/TTNNToEmitC/Utils.h
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
  test/unittests/CMakeLists.txt
  test/unittests/TTNNToEmitC/EmitCConversionTests.cpp
Owners: @nsmithtt, @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

Put h.inc in appropriate place
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
Owners: @svuckovicTT, @sdjordjevicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

Determine indirectly defined constant for clamp op
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/clamp_op.mlir
  test/ttmlir/Silicon/StableHLO/n150/Unary/clamp_op.mlir
Owners: none

Setup namespaces
  include/ttmlir/Conversion/TTNNToEmitC/EmitCConversion.h
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
Owners: @svuckovicTT, @sdjordjevicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

Point metal to revert of 5a2c003 since it breaks conv tests
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

Uplift third_party/tt-metal to d8837b68b0c0a0650bc66999dfdfb3446e2637f3 2025-02-24
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

It didn't work.
  test/python/golden/test_ttir_ops.py
  tools/explorer/test/run_tests.py
  tools/explorer/tt_adapter/src/tt_adapter/runner.py
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @vprajapati-tt, @vcanicTT

Allow shardy include files in install directory (#2271)
  CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

N-M conversions
  include/ttmlir/Conversion/TTNNToEmitC/EmitCConversion.h
Owners: @svuckovicTT, @sdjordjevicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

1-1 conversions
  include/ttmlir/Conversion/TTNNToEmitC/EmitCConversion.h
Owners: @svuckovicTT, @sdjordjevicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT

Add tilize/untilize ttir generic region ops
  include/ttmlir/Dialect/TTIR/IR/TTIRGenericRegionOps.td
  lib/Dialect/TTIR/IR/TTIRGenericRegionOps.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

Add signed int32 data types support end to end
  include/ttmlir/Dialect/TT/IR/TTOpsEnums.td
  include/ttmlir/Dialect/TT/IR/TTOpsTypes.h
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNWorkarounds.h
  include/ttmlir/Target/Common/types.fbs
  include/ttmlir/Target/TTNN/utils.h
  include/ttmlir/Target/Utils/MLIRToFlatbuffer.h
  lib/Conversion/TTNNToEmitC/Utils.cpp
  lib/Dialect/TT/IR/TTOpsTypes.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTNN/IR/TTNNWorkarounds.cpp
  lib/OpModel/TTNN/Conversion.cpp
  python/OptimizerOverrides.cpp
  runtime/include/tt/runtime/utils.h
  runtime/lib/common/system_desc.cpp
  runtime/lib/ttmetal/command_queue.cpp
  runtime/lib/ttnn/include/tt/runtime/ttnn/utils.h
  runtime/lib/ttnn/runtime.cpp
  runtime/lib/ttnn/utils/utils.cpp
  runtime/tools/python/ttrt/binary/module.cpp
  runtime/tools/python/ttrt/common/run.py
  runtime/tools/python/ttrt/common/util.py
  runtime/tools/python/ttrt/runtime/module.cpp
  test/ttmlir/Dialect/TTNN/data_movement/repeat/repeat_workaround.mlir
  test/ttmlir/Dialect/TTNN/data_movement/reshape/reshape_folding_test.mlir
  test/ttmlir/Dialect/TTNN/eltwise/binary/bitwise_and/simple_bitwise_and.mlir
  test/ttmlir/Dialect/TTNN/eltwise/binary/bitwise_or/simple_bitwise_or.mlir
  test/ttmlir/Dialect/TTNN/eltwise/binary/bitwise_xor/simple_bitwise_xor.mlir
  test/ttmlir/Dialect/TTNN/eltwise/unary/bitwise_not/simple_bitwise_not.mlir
  test/ttmlir/Dialect/TTNN/reduction/simple_argmax.mlir
  test/ttmlir/Dialect/TTNN/simple_constant.mlir
  test/ttmlir/Dialect/TTNN/typecast.mlir
  test/ttmlir/Silicon/StableHLO/n150/Binary/concat_op.mlir
  test/ttmlir/Silicon/StableHLO/n150/Constant/constant_i32.mlir
  test/ttmlir/Silicon/StableHLO/n150/Constant/constant_i64.mlir
  test/ttmlir/Silicon/StableHLO/n150/moreh_cumsum_op.mlir
  test/ttmlir/Silicon/TTNN/n150/eltwise/binary/add/add_int32.mlir
  test/unittests/OpModel/TTNN/Conversion/TestConversion.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT, @tapspatel, @jnie-TT, @odjuricicTT, @tt-mpantic, @vprajapati-tt, @vcanicTT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Add tilize/untilize ttir generic region ops (#2274)
  include/ttmlir/Dialect/TTIR/IR/TTIRGenericRegionOps.td
  lib/Dialect/TTIR/IR/TTIRGenericRegionOps.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @jserbedzijaTT, @azecevicTT

reshape op
  include/ttmlir/OpModel/TTNN/TTNNOpModel.h
  lib/Dialect/TTNN/IR/TTNNOpModelInterface.cpp
  lib/OpModel/TTNN/MetalHeaders.h
  lib/OpModel/TTNN/TTNNOpModelLib.cpp
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT

in progress
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/OpModel/TTNN/TTNNOpModel.h
  lib/Dialect/TTNN/IR/TTNNOpModelInterface.cpp
  lib/OpModel/TTNN/MetalHeaders.h
  lib/OpModel/TTNN/TTNNOpModelLib.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @azecevicTT, @odjuricicTT, @tt-mpantic, @jnie-TT

mean op
  include/ttmlir/OpModel/TTNN/TTNNOpModel.h
  lib/Dialect/TTNN/IR/TTNNOpModelInterface.cpp
  lib/OpModel/TTNN/Conversion.cpp
  lib/OpModel/TTNN/Conversion.hpp
  lib/OpModel/TTNN/TTNNOpModelLib.cpp
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT

clang-tidy and remove unused argument
  include/ttmlir/OpModel/TTNN/TTNNOpModel.h
  lib/Dialect/TTNN/IR/TTNNOpModelInterface.cpp
  lib/OpModel/TTNN/Conversion.cpp
  lib/OpModel/TTNN/Conversion.hpp
  lib/OpModel/TTNN/MetalHeaders.h
  lib/OpModel/TTNN/TTNNOpModelLib.cpp
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT

refactor mean op for easier testing
  include/ttmlir/OpModel/TTNN/TTNNOpModel.h
  lib/Dialect/TTNN/IR/TTNNOpModelInterface.cpp
  lib/OpModel/TTNN/Conversion.cpp
  lib/OpModel/TTNN/Conversion.hpp
  lib/OpModel/TTNN/TTNNOpModelLib.cpp
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT

reshape test
  test/unittests/OpModel/TTNN/Lib/TestOpModelLib.cpp
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT

op tests
  test/unittests/OpModel/TTNN/Op/TestOpModelInterface.cpp
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT

mean op unit test
  test/unittests/OpModel/TTNN/Lib/TestOpModelLib.cpp
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT

remove accidentally added space
  lib/OpModel/TTNN/TTNNOpModelLib.cpp
Owners: @odjuricicTT, @tt-mpantic, @sdjordjevicTT
