Repository tenstorrent/tt-mlir, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nsmithtt, @vwellsTT, @jnie-TT, @vmilosevic, @tapspatel, @sdjordjevicTT, @tt-mpantic, @tenstorrent/forge-developers-mlir-devops, @tenstorrent/forge-developers-mlir-build, @ctodTT, @vprajapati-tt, @vcanicTT, @tenstorrent/forge-developers-mlir-stablehlo, @nsmithTT, @tenstorrent/forge-developers-mlir-tosa, @tenstorrent/forge-developers-mlir-core, @tenstorrent/forge-developers-mlir-d2m, @mtopalovicTT, @mrakitaTT, @LPanosTT, @azecevicTT, @rpavlovicTT, @tenstorrent/forge-developers-mlir-optimizer, @arminaleTT, @tenstorrent/forge-developers-mlir-runtime, @xanderchin, @tenstorrent/forge-developers-mlir-explorer, @ddilbazTT

.github/CODEOWNERS:

# Misc
/env/ @nsmithtt @vwellsTT
*.fbs @jnie-TT @nsmithtt
/.github/CODEOWNERS @vmilosevic @tapspatel @nsmithtt @sdjordjevicTT @tt-mpantic
LICENSE @nsmithtt

# CI
/.github/ @tenstorrent/forge-developers-mlir-devops

# Build
*.cmake @tenstorrent/forge-developers-mlir-build
*.txt @tenstorrent/forge-developers-mlir-build

# Docs
*.md @nsmithtt @sdjordjevicTT
/docs/ @nsmithtt @sdjordjevicTT

# tt-mlir Bindings
/include/ttmlir/Bindings/ @ctodTT @tapspatel @vprajapati-tt @vcanicTT
/include/ttmlir-c/ @ctodTT @tapspatel @vprajapati-tt @vcanicTT
/lib/CAPI/ @ctodTT @tapspatel @vprajapati-tt @vcanicTT
/python/ @ctodTT @tapspatel @vprajapati-tt @vcanicTT

# StableHLO Dialect
include/ttmlir/Dialect/StableHLO @tenstorrent/forge-developers-mlir-stablehlo
lib/Dialect/StableHLO @tenstorrent/forge-developers-mlir-stablehlo
test/ttmlir/Dialect/StableHLO @tenstorrent/forge-developers-mlir-stablehlo

# StableHLO Conversion
/include/ttmlir/Conversion/ArithToStableHLO/ @tenstorrent/forge-developers-mlir-stablehlo
/include/ttmlir/Conversion/StableHLOToTTIR/ @tenstorrent/forge-developers-mlir-stablehlo
/lib/Conversion/StableHLOToTTIR/ @tenstorrent/forge-developers-mlir-stablehlo
/test/ttmlir/Conversion/ArithToStableHLO/ @tenstorrent/forge-developers-mlir-stablehlo
/test/ttmlir/Conversion/StableHLOToTTIR/ @tenstorrent/forge-developers-mlir-stablehlo
/test/ttmlir/Silicon/StableHLO/ @tenstorrent/forge-developers-mlir-stablehlo

# Linalg Conversion
/include/ttmlir/Conversion/TTIRToLinalg/ @vwellsTT @ctodTT @nsmithTT
/lib/Conversion/TTIRToLinalg/ @vwellsTT @ctodTT @nsmithTT
/test/ttmlir/Conversion/TTIRToLinalg/ @vwellsTT @ctodTT @nsmithTT

# Tosa Conversion
/include/ttmlir/Conversion/TosaToTTIR/ @tenstorrent/forge-developers-mlir-tosa
/lib/Conversion/TosaToTTIR/ @tenstorrent/forge-developers-mlir-tosa
/test/ttmlir/Conversion/TosaToTTIR/ @tenstorrent/forge-developers-mlir-tosa

# TTNN Conversions
/include/ttmlir/Conversion/TTIRToTTIRDecomposition/ @tenstorrent/forge-developers-mlir-core
/include/ttmlir/Conversion/TTIRToTTNN/ @tenstorrent/forge-developers-mlir-core @jnie-TT
/include/ttmlir/Conversion/TTNNToEmitC/ @tenstorrent/forge-developers-mlir-core
/lib/Conversion/TTIRToTTIRDecomposition/ @tenstorrent/forge-developers-mlir-core
/lib/Conversion/TTIRToTTNN/ @tenstorrent/forge-developers-mlir-core
/lib/Conversion/TTNNToEmitC/ @tenstorrent/forge-developers-mlir-core
/test/ttmlir/Conversion/TTIRToTTIRDecomposition/ @tenstorrent/forge-developers-mlir-core
/test/ttmlir/Conversion/TTIRToTTNN/ @tenstorrent/forge-developers-mlir-core
/test/ttmlir/Conversion/TTNNToEmitC/ @tenstorrent/forge-developers-mlir-core
/test/ttmlir/EmitC/ @tenstorrent/forge-developers-mlir-core
/test/unittests/TTNNToEmitC/ @tenstorrent/forge-developers-mlir-core

# Metal Conversions
/include/ttmlir/Conversion/TTIRToTTIRGeneric/ @tenstorrent/forge-developers-mlir-d2m
/lib/Conversion/TTIRToTTIRGeneric/ @tenstorrent/forge-developers-mlir-d2m
/test/ttmlir/Conversion/TTIRToTTIRGeneric/ @tenstorrent/forge-developers-mlir-d2m
/include/ttmlir/Conversion/TTIRToTTMetal/ @tenstorrent/forge-developers-mlir-d2m
/include/ttmlir/Conversion/TTKernelToEmitC/ @tenstorrent/forge-developers-mlir-d2m
/lib/Conversion/TTIRToTTMetal/ @tenstorrent/forge-developers-mlir-d2m
/lib/Conversion/TTKernelToEmitC/ @tenstorrent/forge-developers-mlir-d2m
/test/ttmlir/Conversion/TTKernelToEmitC/ @tenstorrent/forge-developers-mlir-d2m
/include/ttmlir/Conversion/TTIRToTTKernel/ @tenstorrent/forge-developers-mlir-d2m
/lib/Conversion/TTIRToTTKernel/ @tenstorrent/forge-developers-mlir-d2m
/test/ttmlir/Conversion/TTIRToTTKernel/ @tenstorrent/forge-developers-mlir-d2m

# LLVM Dialect
/include/ttmlir/Dialect/LLVM/ @vwellsTT @mtopalovicTT
/lib/Dialect/LLVM/ @vwellsTT @mtopalovicTT
/test/ttmlir/Dialect/LLVM/ @vwellsTT @mtopalovicTT

# TT Dialect
/include/ttmlir/Dialect/TT/ @tenstorrent/forge-developers-mlir-core @nsmithtt @mrakitaTT
/lib/Dialect/TT/ @tenstorrent/forge-developers-mlir-core @nsmithtt @mrakitaTT
/test/ttmlir/Dialect/TT/ @tenstorrent/forge-developers-mlir-core @nsmithtt @mrakitaTT

# TTIR Dialect
/include/ttmlir/Dialect/TTIR/ @tenstorrent/forge-developers-mlir-core @mrakitaTT
/lib/Dialect/TTIR/ @tenstorrent/forge-developers-mlir-core @mrakitaTT
/test/ttmlir/Dialect/TTIR/ @tenstorrent/forge-developers-mlir-core @mrakitaTT

# Metal Dialects
/include/ttmlir/Dialect/TTIR/IR/TTIRGeneric* @tenstorrent/forge-developers-mlir-d2m
/include/ttmlir/Dialect/TTKernel/ @tenstorrent/forge-developers-mlir-d2m
/include/ttmlir/Dialect/TTMetal/ @tenstorrent/forge-developers-mlir-d2m
/lib/Dialect/TTIR/Transforms/ @tenstorrent/forge-developers-mlir-d2m
/lib/Dialect/TTKernel/ @tenstorrent/forge-developers-mlir-d2m
/lib/Dialect/TTMetal/ @tenstorrent/forge-developers-mlir-d2m
/test/ttmlir/Dialect/TTKernel/ @tenstorrent/forge-developers-mlir-d2m
/test/ttmlir/Dialect/TTMetal/ @tenstorrent/forge-developers-mlir-d2m
/test/unittests/Allocation @tenstorrent/forge-developers-mlir-d2m

# TTIR Erase Inverse Ops Optimization Pass
/include/ttmlir/Dialect/TTIR/Transforms/EraseInverseOps/ @LPanosTT @azecevicTT
/lib/Dialect/TTIR/Transforms/EraseInverseOps/ @LPanosTT @azecevicTT
/test/ttmlir/Dialect/TTIR/erase_inverse_ops/ @LPanosTT @azecevicTT

# TTNN Dialects
/include/ttmlir/Dialect/TTNN/ @tenstorrent/forge-developers-mlir-core
/lib/Dialect/TTNN/ @tenstorrent/forge-developers-mlir-core
/test/ttmlir/Dialect/TTNN/ @tenstorrent/forge-developers-mlir-core

# TTNN Utils
/include/ttmlir/Dialect/TTNN/Utils/ @tenstorrent/forge-developers-mlir-core @rpavlovicTT

# TTNN Optimizer
/include/ttmlir/Dialect/TTNN/Analysis/ @tenstorrent/forge-developers-mlir-optimizer
/include/ttmlir/OpModel/ @tenstorrent/forge-developers-mlir-optimizer @arminaleTT
/include/ttmlir/Scheduler/ @tenstorrent/forge-developers-mlir-optimizer
/lib/Dialect/TTNN/Analysis/ @tenstorrent/forge-developers-mlir-optimizer
/lib/OpModel/ @tenstorrent/forge-developers-mlir-optimizer @arminaleTT
/lib/Scheduler/ @tenstorrent/forge-developers-mlir-optimizer
/test/ttmlir/Dialect/TTNN/optimizer/ @tenstorrent/forge-developers-mlir-optimizer
/test/ttmlir/Silicon/TTNN/**/optimizer/ @tenstorrent/forge-developers-mlir-optimizer
/test/unittests/Optimizer @tenstorrent/forge-developers-mlir-optimizer
/test/unittests/OpModel @tenstorrent/forge-developers-mlir-optimizer @arminaleTT
/test/unittests/TestScheduler/ @tenstorrent/forge-developers-mlir-optimizer

# LLVM Target
/include/ttmlir/Target/LLVM/ @vwellsTT @mtopalovicTT
/lib/Target/LLVM/ @vwellsTT @mtopalovicTT

# Metal Target
/include/ttmlir/Target/TTKernel/ @tenstorrent/forge-developers-mlir-d2m
/include/ttmlir/Target/TTMetal/ @tenstorrent/forge-developers-mlir-d2m
/lib/Target/TTKernel/ @tenstorrent/forge-developers-mlir-d2m
/lib/Target/TTMetal/ @tenstorrent/forge-developers-mlir-d2m

# TTNN Target
/include/ttmlir/Target/TTNN/ @tenstorrent/forge-developers-mlir-core
/lib/Target/TTNN/ @tenstorrent/forge-developers-mlir-core

# Runtime
/runtime/ @tenstorrent/forge-developers-mlir-runtime
/runtime/tools/ @tapspatel @ctodTT

# PyKernel
/tools/pykernel/ @xanderchin @vprajapati-tt

# TTIRBuilder
/tools/ttir-builder @ctodTT @tapspatel

# tt-explorer
/tools/explorer/ @tenstorrent/forge-developers-mlir-explorer

# ttnn-standalone
/tools/ttnn-standalone @tenstorrent/forge-developers-mlir-core

# Scripts
/tools/scripts/ @nsmithtt @ddilbazTT

Support tosa bitwise operations
  lib/Conversion/TosaToTTIR/TosaToTTIRPatterns.cpp
  test/ttmlir/Conversion/TosaToTTIR/bitwise/bitwise_and.mlir
  test/ttmlir/Conversion/TosaToTTIR/bitwise/bitwise_not.mlir
  test/ttmlir/Conversion/TosaToTTIR/bitwise/bitwise_or.mlir
  test/ttmlir/Conversion/TosaToTTIR/bitwise/bitwise_xor.mlir
Owners: @tenstorrent/forge-developers-mlir-tosa

Uplift third_party/tt-metal to e595aedef30a9793026f2fd5ccb9e5d2bf10dc0f 2025-06-05
  third_party/CMakeLists.txt
Owners: @tenstorrent/forge-developers-mlir-build

Add ttkernel sub_tiles, sub_tiles_init ops and their emitc lowering
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOps.td
  lib/Conversion/TTKernelToEmitC/TTKernelToEmitC.cpp
  test/ttmlir/Dialect/TTKernel/ops.mlir
Owners: @tenstorrent/forge-developers-mlir-d2m

Changed the folding patterns of all_reduce (#3670)
  lib/Dialect/TTNN/IR/TTNNOps.cpp
Owners: @tenstorrent/forge-developers-mlir-core

Don't build python bindings when building metal. Use ttnncpp.so from now on.
  runtime/tools/ttrt/setup.py
  third_party/CMakeLists.txt
  tools/ttnn-standalone/CMakeLists.txt
Owners: @tapspatel, @ctodTT, @tenstorrent/forge-developers-mlir-build, @tenstorrent/forge-developers-mlir-core

Build `ttnncpp` lib instead of `ttnn` lib
  runtime/tools/ttrt/setup.py
  third_party/CMakeLists.txt
  tools/ttnn-standalone/CMakeLists.txt
Owners: @tapspatel, @ctodTT, @tenstorrent/forge-developers-mlir-build, @tenstorrent/forge-developers-mlir-core

Point metal to ttnn python change to rule out unrelated test fails
  third_party/CMakeLists.txt
Owners: @tenstorrent/forge-developers-mlir-build

Lint interim
  lib/CAPI/TTKernelTypes.cpp
Owners: @ctodTT, @tapspatel, @vprajapati-tt, @vcanicTT

fix opmodel lib test
  test/unittests/OpModel/TTNN/Lib/TestOpModelLib.cpp
Owners: @tenstorrent/forge-developers-mlir-optimizer, @arminaleTT

[OpModel] support slice op
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/OpModel/TTNN/MetalHeaders.h
  include/ttmlir/OpModel/TTNN/TTNNOpModel.h
  lib/Dialect/TTNN/IR/TTNNOpModelInterface.cpp
  lib/OpModel/TTNN/TTNNOpModel.cpp
Owners: @tenstorrent/forge-developers-mlir-core, @tenstorrent/forge-developers-mlir-optimizer, @arminaleTT

fix opmodel interface test
  test/unittests/OpModel/TTNN/Op/TestOpModelInterface.cpp
Owners: @tenstorrent/forge-developers-mlir-optimizer, @arminaleTT

add unit tests
  test/unittests/OpModel/TTNN/Lib/TestOpModelLib.cpp
  test/unittests/OpModel/TTNN/Op/TestOpModelInterface.cpp
Owners: @tenstorrent/forge-developers-mlir-optimizer, @arminaleTT

Switched Pykernel demo to use TT-NN Wheel + Removed TT-NN Py Support
  .github/workflows/build-and-test.yml
  env/activate
  env/activate.fish
  test/pykernel/demo/requirements.txt
Owners: @tenstorrent/forge-developers-mlir-devops, @nsmithtt, @vwellsTT, @tenstorrent/forge-developers-mlir-build

remove redundant code
  lib/Dialect/TTNN/IR/TTNNOpModelInterface.cpp
Owners: @tenstorrent/forge-developers-mlir-core

Moved op by op infra to tools folder
  .github/workflows/build-and-test.yml
  docs/public/images/op-by-op-workflows.png
  python/CMakeLists.txt
  python/common/compile_and_run_internal.py
  python/common/compile_and_run_utils.py
  test/python/lit.local.cfg
  test/python/op_by_op/__init__.py
  test/python/op_by_op/fixtures.py
  test/python/op_by_op/test_mlir_module_executor.py
  test/python/op_by_op/test_mlir_module_splitter.py
  test/python/op_by_op/test_op_by_op_workflows.py
  tools/CMakeLists.txt
  tools/op-by-op-infra/CMakeLists.txt
  tools/op-by-op-infra/README.md
  tools/op-by-op-infra/op_by_op_infra/__init__.py
  tools/op-by-op-infra/op_by_op_infra/execution_result.py
  tools/op-by-op-infra/op_by_op_infra/mlir_module_executor.py
  tools/op-by-op-infra/op_by_op_infra/mlir_module_splitter.py
  tools/op-by-op-infra/op_by_op_infra/pydantic_models.py
  tools/op-by-op-infra/op_by_op_infra/utils.py
  tools/op-by-op-infra/op_by_op_infra/workflow.py
  tools/op-by-op-infra/op_by_op_infra/workflow_internal.py
Owners: @tenstorrent/forge-developers-mlir-devops, @nsmithtt, @sdjordjevicTT, @ctodTT, @tapspatel, @vprajapati-tt, @vcanicTT, @tenstorrent/forge-developers-mlir-build

Fix clang-19 build issues (#3686)
  CMakeLists.txt
  runtime/lib/ttmetal/executor_utils.h
  tools/ttnn-standalone/CMakeLists.txt
Owners: @tenstorrent/forge-developers-mlir-build, @tenstorrent/forge-developers-mlir-runtime, @tenstorrent/forge-developers-mlir-core

[D2M] Add Lowering for Rsqrt, Neg, Cos (#3663)
  include/ttmlir/Dialect/TTIR/IR/TTIRGenericRegionOps.td
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOps.td
  lib/Conversion/TTIRToTTIRGeneric/TTIRToTTIRGeneric.cpp
  lib/Conversion/TTIRToTTKernel/TTIRToTTKernel.cpp
  lib/Conversion/TTKernelToEmitC/TTKernelToEmitC.cpp
  test/ttmlir/Conversion/TTIRToTTKernel/single_tile_ops.mlir
  test/ttmlir/Conversion/TTKernelToEmitC/ttkernel.mlir
Owners: @tenstorrent/forge-developers-mlir-d2m

Squashed binary_ng
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Target/TTNN/operations/eltwise.fbs
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTNN/IR/TTNNWorkaroundsPass.cpp
  lib/Dialect/TTNN/Transforms/Workarounds/Decomposition/RepeatOpRewritePattern.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/operations/eltwise/binary/binary.cpp
  runtime/lib/ttnn/operations/eltwise/binary/binary_composite.cpp
Owners: @tenstorrent/forge-developers-mlir-core, @tenstorrent/forge-developers-mlir-runtime

Add binary_ng to EmitC
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
Owners: @tenstorrent/forge-developers-mlir-core

Revert to using CMake Demo runner
  .github/workflows/build-and-test.yml
Owners: @tenstorrent/forge-developers-mlir-devops

Adjust mesh_shard op for Nd sharding change in ttnn
  runtime/lib/ttnn/operations/ccl/mesh_shard.cpp
  third_party/CMakeLists.txt
  tools/ttnn-standalone/CMakeLists.txt
Owners: @tenstorrent/forge-developers-mlir-runtime, @tenstorrent/forge-developers-mlir-build, @tenstorrent/forge-developers-mlir-core

fix: pre-commit
  tools/explorer/tt_adapter/src/tt_adapter/main.py
  tools/explorer/tt_adapter/src/tt_adapter/mlir.py
  tools/explorer/tt_adapter/src/tt_adapter/runner.py
Owners: @tenstorrent/forge-developers-mlir-explorer

chore: add tracy files to gitignore
  .gitignore
Owners: none

Fusing on by default
  include/ttmlir/Dialect/TTNN/Pipelines/TTNNPipelines.h
  test/ttmlir/Dialect/TTNN/fusing/resnet_pattern_fusing.mlir
  test/ttmlir/Silicon/TTNN/n150/fusing/resnet_pattern_fusing.mlir
  test/ttmlir/Silicon/TTNN/n150/fusing/softmax_fusing.mlir
Owners: @tenstorrent/forge-developers-mlir-core

Uplift tt-metal to 489eea8b + Switched Pykernel demo to use TT-NN Wheel + Removed TT-NN Py Support (#3692)
  env/activate
  env/activate.fish
  runtime/tools/ttrt/setup.py
  test/pykernel/demo/requirements.txt
  third_party/CMakeLists.txt
  tools/ttnn-standalone/CMakeLists.txt
Owners: @nsmithtt, @vwellsTT, @tapspatel, @ctodTT, @tenstorrent/forge-developers-mlir-build, @tenstorrent/forge-developers-mlir-core

Point to upper limit e595
  third_party/CMakeLists.txt
Owners: @tenstorrent/forge-developers-mlir-build

only test op model tests with reduced timeout
  .github/workflows/build-and-test.yml
Owners: @tenstorrent/forge-developers-mlir-devops

responding to comments
  include/ttmlir/Dialect/TTIR/IR/ConstEvalUtils.h
  include/ttmlir/Utils.h
  lib/Dialect/TTIR/IR/TTIROps.cpp
  test/ttmlir/Dialect/TTIR/canonicalize/quantize_fold_tests.mlir
Owners: @tenstorrent/forge-developers-mlir-core, @mrakitaTT

remove extraneous print
  runtime/tools/ttrt/ttrt/common/util.py
Owners: @tapspatel, @ctodTT

Revert "Re-enable op level golden check"
  tools/ttir-builder/builder.py
  tools/ttir-builder/utils.py
Owners: @ctodTT, @tapspatel

Dump mesh shape from program into program fb
  include/ttmlir/Target/TTNN/program.fbs
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
Owners: @tenstorrent/forge-developers-mlir-core

Sub mesh experiments
  lib/Dialect/TT/Transforms/TTRegisterDevice.cpp
  runtime/tools/ttrt/ttrt/common/run.py
Owners: @tenstorrent/forge-developers-mlir-core, @nsmithtt, @mrakitaTT, @tapspatel, @ctodTT

More submesh WIP
  runtime/tools/ttrt/ttrt/common/run.py
  runtime/tools/ttrt/ttrt/common/util.py
Owners: @tapspatel, @ctodTT

Re-enable op level golden check
  tools/ttir-builder/builder.py
  tools/ttir-builder/utils.py
Owners: @ctodTT, @tapspatel

Fix apparent double-free issue on device
  runtime/tools/ttrt/ttrt/common/run.py
  test/python/golden/conftest.py
Owners: @tapspatel, @ctodTT

Check that submesh is valid before creating it
  runtime/tools/ttrt/ttrt/common/run.py
Owners: @tapspatel, @ctodTT

[OpModel] support convtranspose2d op
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/OpModel/TTNN/MetalHeaders.h
  include/ttmlir/OpModel/TTNN/TTNNOpModel.h
  lib/Dialect/TTNN/IR/TTNNOpModelInterface.cpp
  lib/OpModel/TTNN/TTNNOpModel.cpp
  test/unittests/OpModel/TTNN/Lib/TestOpModelLib.cpp
  test/unittests/OpModel/TTNN/Op/TestOpModelInterface.cpp
Owners: @tenstorrent/forge-developers-mlir-core, @tenstorrent/forge-developers-mlir-optimizer, @arminaleTT

use prepare_conv_transpose2d_weights
  include/ttmlir/OpModel/TTNN/MetalHeaders.h
  lib/OpModel/TTNN/TTNNOpModel.cpp
  test/unittests/OpModel/TTNN/Lib/TestOpModelLib.cpp
Owners: @tenstorrent/forge-developers-mlir-optimizer, @arminaleTT

CI experiments
  lib/Dialect/TT/IR/TTOpsTypes.cpp
Owners: @tenstorrent/forge-developers-mlir-core, @nsmithtt, @mrakitaTT

fix test params; now they work!
  lib/OpModel/TTNN/TTNNOpModel.cpp
  test/unittests/OpModel/TTNN/Lib/TestOpModelLib.cpp
  test/unittests/OpModel/TTNN/Op/TestOpModelInterface.cpp
Owners: @tenstorrent/forge-developers-mlir-optimizer, @arminaleTT
