Repository tenstorrent/tt-mlir, pull requests merged in 2024-11, with the labels that each got.

#1217 Add simple test to be used for emitc path
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Target/TTNN/program.fbs
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
  lib/Dialect/TTNN/Transforms/Passes.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/operations/CMakeLists.txt
  runtime/lib/ttnn/operations/deletion/deallocate.cpp
  runtime/lib/ttnn/operations/deletion/deallocate.h
  runtime/lib/ttnn/program.cpp
  runtime/tools/python/ttrt/common/run.py
  test/ttmlir/Silicon/TTNN/deallocate.mlir
  test/ttmlir/Silicon/TTNN/emitc/simple_add.mlir
  tools/ttnn-standalone/CMakeLists.txt
  tools/ttnn-standalone/ttnn-standalone.cpp
Labels: EmitC

#1307 Add TTIR to EmitC pipeline
  include/ttmlir/Dialect/TTNN/Pipelines/TTNNPipelines.h
  lib/Dialect/TTNN/Pipelines/TTNNPipelines.cpp
  test/ttmlir/Dialect/TTNN/pipelines/ttir_to_emitc_add.mlir
Labels: EmitC

#952 Uplift third_party/tt-metal to 2024-11-20
  runtime/lib/ttnn/operations/include/tt/runtime/ttnn/operations/utils.cpp
  third_party/CMakeLists.txt
Labels: uplift

#1361 Uplift third_party/tt-metal to 2024-11-21
  third_party/CMakeLists.txt
Labels: uplift

#1338 Select op support
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecomposition.cpp
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecompositionPass.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  test/ttmlir/Dialect/TTIR/decompositions/select_decomposition_tests.mlir
  test/ttmlir/Dialect/TTIR/select/select_tests_negative.mlir
  test/ttmlir/Dialect/TTIR/select/select_tests_positive.mlir
Labels: MLIR Ops

#1341 Fix unregistered dialects error message (ttmlir-translate)
  docs/src/ttmlir-translate.md
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
  lib/Conversion/TTNNToEmitC/TTNNToEmitCPass.cpp
  test/ttmlir/Silicon/TTNN/emitc/two_fns.mlir
  tools/ttnn-standalone/README.md
  tools/ttnn-standalone/ttnn-standalone.cpp
Labels: EmitC
